<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.startDt" />
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>End Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.endDt" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
<data-table
  [items]="plants"
  [itemCount]="count"
  (reload)="reloadData($event)"
  [limit]="15"
  [substituteRows]="false"
>
  <data-table-column
    property="lab_name"
    header="LAB"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="gs_no"
    header="Gs No"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="plant_type"
    header="ชนิดพืช"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="lab_test_growth_percent"
    header="%ความงอก"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="lab_test_strong_percent"
    header="%ความชื้น"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="lab_test_alive_percent"
    header="%ความมีชีวิต"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="lab_seed_est_amount"
    header="จำนวนเมล็ดโดยประมาณ (เมล็ด)"
    sortable="true"
    resizable="true"
  ></data-table-column>
</data-table>
<ngx-loading [show]="loading"></ngx-loading>
