<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="AttributeSetListForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Attribute Set Name <span class="text-danger">*</span> </label>
          <input type="text" formControlName="setName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.setName.errors }"/>
          <div *ngIf="submitted && f.setName.errors" class="invalid-feedback">
            <div *ngIf="f.setName.errors.required">Attribute Set Name is required</div>
          </div>
        </div>
      </div>
      <data-table [items]="items"
                  [itemCount]="count"
                  (reload)="reloadData($event)"
                  [limit]="50"
                  [sortBy]="'passport_no'"
                  [substituteRows]="false">
        <data-table-title title="Plant Listing" [controls]="true">
        </data-table-title>

        <data-table-column header="Select" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                          [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
          </ng-template>
        </data-table-column>
        <data-table-column property="name_en" header="Name" sortable="true" resizable="true">
        </data-table-column>

        <data-table-column property="code" header="Code" sortable="true" resizable="true">
        </data-table-column>

        <data-table-column header="Field Input" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <span class="text-capitalize">{{item?.fieldInput}}</span>
          </ng-template>
        </data-table-column>

        <data-table-column header="Attribute ID" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <span class="text-capitalize">{{item?._id}}</span>
          </ng-template>
        </data-table-column>

      </data-table>
      <div class="footer-sticky-bottom">
        <div class="text-left">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>      
    </form>
  </div>
</div>
<ngx-loading [show]="loading">
</ngx-loading>
