<div class="d-flex justify-content-start">
  <button class="btn btn-outline btn-sm" type="button">
    <i class="mdi mdi-link"></i> Distribution - [{{distributionInfo?.d_no}}]
  </button>
</div>


<app-ngbd-popover btnText="Submit to WH (for get approve)"
                  (onConfirm)="onSubmitPlants('pending', 1)"
                  *ngIf="currentStatus === 'draft' && selectedPlantsForSubmit?.length"
                  placement="right"></app-ngbd-popover>

<app-ngbd-popover btnText="Submit Completed"
                  (onConfirm)="onSubmitPlants('complete', 2, createContent)"
                  *ngIf="currentStatus === 'pending' && items1?.length"
                  placement="right"></app-ngbd-popover>

<!-- <div class="d-flex justify-content-start mb-3  mt-2">
  <button class="btn btn-sm btn-info" (click)="onGetWithDrawPlantListing('draft')">Draft</button>
  <button class="ml-3 btn btn-sm btn-secondary" (click)="onGetWithDrawPlantListing('pending')">Pending</button>
  <button class="ml-3 btn btn-sm btn-success" (click)="onGetWithDrawPlantListing('complete')">Completed</button>
</div> -->

<div class="d-flex justify-content-end . mt-2 mb-2">

  <button class="btn btn-primary btn-sm mr-2" type="button"
          *ngIf="distributionInfo && !distributionInfo?.total"
          [routerLink]="'/admin/distribution/pending/' + distributionInfo?._id ">
    <i class="mdi mdi-link"></i> Add Plants
  </button>

  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle >
      <div (click)="onChangeStatus('draft')">Draft ({{count}})</div>
    </ng-template>
<ng-template ngbTabContent>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'m_no'"
            [substituteRows]="false">
  <data-table-title title="Distribution List" [controls]="true">
  </data-table-title>

  <div *ngIf="currentStatus === 'draft'">
    <data-table-column header="Select" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                      [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
      </ng-template>
    </data-table-column>
  </div>

  <data-table-column header="Passport No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport?.passport_no}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Vols No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.volume_no}}
    </ng-template>
  </data-table-column>
<!-- 
  <data-table-column header="Plant Stock" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getStockInfo(item)}}
    </ng-template>
  </data-table-column> -->

  <data-table-column header="น้ำหนัก กรัม/เมล็ด" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.withdraw_stock_list}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Registration No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant form type" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type}}
    </ng-template>
  </data-table-column>

  <data-table-column header="DOA No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.gs_no}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span class="text-capitalize">{{item?.distributionStatus === 'pending' && item?.admin_amount ? 'Approve' : item?.distributionStatus}}</span>
    </ng-template>
  </data-table-column>


  <div *ngIf="currentStatus === 'pending' || currentStatus === 'complete'">
    <data-table-column header="Amount" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        {{item?.admin_amount || ''}}
      </ng-template>
    </data-table-column>
  </div>

  <!-- <div *ngIf="currentStatus === 'draft'"> -->
    <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
      <ng-template #cellTemplate let-item="item">
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)">
            <i class="mdi mdi-eye"></i> View
          </button>

          <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                  *ngIf="false">
            <i class="mdi mdi-delete"></i> Delete
          </button>
        </div>
      </ng-template>
    </data-table-column>
  <!-- </div> -->


</data-table>

</ng-template>
</ngb-tab>
<ngb-tab>
  <ng-template ngbTabTitle >
    <div (click)="onChangeStatus('pending')">Pending ({{count1}})</div>
  </ng-template>
<ng-template ngbTabContent>

<data-table [items]="items1"
          [itemCount]="count1"
          (reload)="reloadData($event)"
          [limit]="50"
          [sortBy]="'m_no'"
          [substituteRows]="false">
<data-table-title title="Distribution List" [controls]="true">
</data-table-title>

<div *ngIf="currentStatus === 'draft'">
  <data-table-column header="Select" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                    [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
    </ng-template>
  </data-table-column>
</div>

<data-table-column header="Passport No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.passport?.passport_no}}
  </ng-template>
</data-table-column>


<data-table-column header="Vols No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.volume?.volume_no}}
  </ng-template>
</data-table-column>
<!-- 
<data-table-column header="Plant Stock" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{getStockInfo(item)}}
  </ng-template>
</data-table-column> -->

<data-table-column header="น้ำหนัก กรัม/เมล็ด" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.withdraw_stock_list}}
  </ng-template>
</data-table-column>

<data-table-column header="Registration No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.reg_gene_id}}
  </ng-template>
</data-table-column>

<data-table-column header="Plant form type" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.volume?.form_type}}
  </ng-template>
</data-table-column>

<data-table-column header="DOA No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.gs_no}}
  </ng-template>
</data-table-column>

<data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
  </ng-template>
</data-table-column>

<data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
  </ng-template>
</data-table-column>


<data-table-column header="Status" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    <span class="text-capitalize">{{item?.distributionStatus === 'pending' && item?.admin_amount ? 'Approve' : item?.distributionStatus}}</span>
  </ng-template>
</data-table-column>


<div *ngIf="currentStatus === 'pending' || currentStatus === 'complete'">
  <data-table-column header="Amount" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.admin_amount || ''}}
    </ng-template>
  </data-table-column>
</div>

<!-- <div *ngIf="currentStatus === 'draft'"> -->
  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)">
          <i class="mdi mdi-eye"></i> View
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="false">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>
<!-- </div> -->
</data-table>
</ng-template>
</ngb-tab>
<ngb-tab>
  <ng-template ngbTabTitle >
    <div (click)="onChangeStatus('complete')">Completed ({{count2}})</div>
  </ng-template>
<ng-template ngbTabContent>

<data-table [items]="items2"
          [itemCount]="count2"
          (reload)="reloadData($event)"
          [limit]="50"
          [sortBy]="'m_no'"
          [substituteRows]="false">
<data-table-title title="Distribution List" [controls]="true">
</data-table-title>

<div *ngIf="currentStatus === 'draft'">
  <data-table-column header="Select" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                    [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
    </ng-template>
  </data-table-column>
</div>

<data-table-column header="Passport No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.passport?.passport_no}}
  </ng-template>
</data-table-column>


<data-table-column header="Vols No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.volume?.volume_no}}
  </ng-template>
</data-table-column>
<!-- 
<data-table-column header="Plant Stock" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{getStockInfo(item)}}
  </ng-template>
</data-table-column> -->

<data-table-column header="น้ำหนัก กรัม/เมล็ด" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.withdraw_stock_list}}
  </ng-template>
</data-table-column>

<data-table-column header="Registration No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.reg_gene_id}}
  </ng-template>
</data-table-column>

<data-table-column header="Plant form type" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.volume?.form_type}}
  </ng-template>
</data-table-column>

<data-table-column header="DOA No." sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.gs_no}}
  </ng-template>
</data-table-column>

<data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
  </ng-template>
</data-table-column>

<data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
  </ng-template>
</data-table-column>


<data-table-column header="Status" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    <span class="text-capitalize">{{item?.distributionStatus === 'pending' && item?.admin_amount ? 'Approve' : item?.distributionStatus}}</span>
  </ng-template>
</data-table-column>


<div *ngIf="currentStatus === 'pending' || currentStatus === 'complete'">
  <data-table-column header="Amount" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.admin_amount || ''}}
    </ng-template>
  </data-table-column>
</div>

<!-- <div *ngIf="currentStatus === 'draft'"> -->
  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)">
          <i class="mdi mdi-eye"></i> View
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="false">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>
<!-- </div> -->
</data-table>
</ng-template>
</ngb-tab>
</ngb-tabset>

<ngx-loading [show]="loading">
</ngx-loading>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Distribution</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerPassportForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>Distribution No.</label>
          <input type="text" disabled class="form-control" [value]="distributionInfo?.d_no"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>ชื่อผู้ขอ</label>
          <input type="text" formControlName="distribution_approve_doc" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_approve_doc.errors }"/>
        </div>

        <div class="form-group col-sm-4">
          <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event, 'distribution_approve_doc')"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ได้รับการอนุมัติให้บริการเมล็ดเชื้อพันธุ์</label>
          <input type="date" formControlName="distribution_approve_date" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_approve_date.errors }"/>
          <div *ngIf="submitted && f.distribution_approve_date.errors" class="invalid-feedback">
            <div *ngIf="f.distribution_approve_date.errors.required">วันที่ได้รับการอนุมัติให้บริการเมล็ดเชื้อพันธุ์ is
              required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-8">
          <label>เอกสารประกอบการขอรับบริการเมล็ดเชื้อพันธุ์</label>
          <input type="file" class="m-1 mt-0 btn-outline mb-3"
                 (change)="onFileUpload($event, 'distribution_doc_for_getting_service')"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-8">
          <label>แบบแจ้งมาตรา 53</label>
          <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event, 'distribution_doc_53')"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-8">
          <label>บัตรประชาชน</label>
          <input type="file" class="m-1 mt-0 btn-outline mb-3"
                 (change)="onFileUpload($event, 'distribution_doc_citizenID')"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-sm-8">
          <label>โครงงานวิจัย</label>
          <input type="file" class="m-1 mt-0 btn-outline mb-3"
                 (change)="onFileUpload($event, 'distribution_doc_research')"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-sm-8">
          <label>แผนวิชาสอน</label>
          <input type="file" class="m-1 mt-0 btn-outline mb-3"
                 (change)="onFileUpload($event, 'distribution_doc_teaching_plan')"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ได้รับเอกสารประกอบการขอรับบริการเมล็ดเชื้อพันธุ์</label>
          <input type="date" formControlName="distribution_doc_receive_date" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_doc_receive_date.errors }"/>
          <div *ngIf="submitted && f.distribution_doc_receive_date.errors" class="invalid-feedback">
            <div *ngIf="f.distribution_doc_receive_date.errors.required">
              วันที่ได้รับเอกสารประกอบการขอรับบริการเมล็ดเชื้อพันธุ์ is
              required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หนังสือนำส่งเอกสารประกอบการขอรับบริการเมล็ดเชื้อพันธุ์ไป สคพ.</label>
          <input type="text" formControlName="distribution_doc_request" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_doc_request.errors }"/>
        </div>

        <div class="form-group col-sm-4">
          <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event, 'distribution_doc_request')"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ส่งหนังสือนำส่งเอกสารประกอบการขอรับบริการเมล็ดเชื้อพันธุ์ไป สคพ.</label>
          <input type="date" formControlName="distribution_doc_receive_date" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_doc_receive_date.errors }"/>
          <div *ngIf="submitted && f.distribution_doc_receive_date.errors" class="invalid-feedback">
            <div *ngIf="f.distribution_doc_receive_date.errors.required">
              วันที่ส่งหนังสือนำส่งเอกสารประกอบการขอรับบริการเมล็ดเชื้อพันธุ์ไป สคพ. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ให้บริการเมล็ดเชื้อพันธุ์</label>
          <input type="date" formControlName="distribution_doc_request_date" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_doc_request_date.errors }"/>
          <div *ngIf="submitted && f.distribution_doc_request_date.errors" class="invalid-feedback">
            <div *ngIf="f.distribution_doc_request_date.errors.required">วันที่ให้บริการเมล็ดเชื้อพันธุ์ is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หนังสือส่งเมล็ดเชื้อพันธุ์</label>
          <input type="text" formControlName="distribution_submit_plant_doc" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_submit_plant_doc.errors }"/>
        </div>

        <div class="form-group col-sm-4">
          <input type="file" class="m-1 mt-0 btn-outline mb-3"
                 (change)="onFileUpload($event, 'distribution_submit_plant_doc')"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-sm-8">
          <label>ปริมาณเมล็ดเชื้อพันธุ์ที่ให้บริการ</label>
          <input type="text" formControlName="distribution_summary_stock" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_summary_stock.errors }"/>
        </div>

        <div class="form-group col-sm-4">
          <label>&nbsp;</label>
          <select formControlName="distribution_summary_stock_select" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.distribution_summary_stock_select.errors }">
            <option value="กรัม/Gram">กรัม/Gram</option>
            <option value="เมล็ด/Seed">เมล็ด/Seed</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หนังสือข้อตกลงการขอเมล็ดเชื้อพันธุ์ (MTA)</label>
          <input type="text" formControlName="distribution_doc_MTA" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_doc_MTA.errors }"/>
        </div>

        <div class="form-group col-sm-4">
          <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event, 'distribution_doc_MTA')"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หมายเหตุจากงานบริการเมล็ดเชื้อพันธุ์</label>
          <textarea class="form-control" formControlName="distribution_remark"></textarea>
        </div>
      </div>


      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary mr-1" type="submit">Complete</button>
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>
