<div class="d-flex justify-content-end">
  <button class="btn btn-primary btn-sm" type="button" [routerLink]="'/admin/manage/roles/create'" *ngIf="checkRole(1)">
    <i class="mdi mdi-link"></i> Create New Role
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search By Role Name"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="15"
            [sortBy]="'name'"
            [substituteRows]="false">
  <data-table-title title="Roles List" [controls]="true">
  </data-table-title>

  <data-table-column property="name" header="Role Name" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="department_en" header="Department" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="total" header="Totals" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.total ? item.total : 0}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" [width]="200" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" [width]="200" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Edit
        </button>
        <div  *ngIf="checkRole(3)">
          <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="!item.total">
            <i class="mdi mdi-delete"></i> Delete
          </button>
        </div>
        
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Role</h4>
    <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click'); currentSelectedItem =  null">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this role?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline"
            (click)="modal.close('Close click'); currentSelectedItem = null">Close
    </button>
  </div>
</ng-template>

<ngx-loading [show]="loading">
</ngx-loading>
