<div class="d-flex justify-content-start">
  <button class="btn btn-outline btn-sm" type="button">
    <i class="mdi mdi-link"></i> Creating Withdraw - [{{withDrawInfo?.w_no}}]
  </button>
</div>

<app-ngbd-popover btnText="Submit" (onConfirm)="onSubmitPlants()" *ngIf="selectedPlantsForSubmit?.length"
  placement="right"></app-ngbd-popover>

<div class=" mt-2 mb-2">
  <label>ชนิดพืช (Plant Category)</label>
  <input type="text" class="form-control col-md-3 col-sm-12 border" (keyup)="onSearch($event)"
    placeholder="Enter Search text here" />
  <label>ชื่อพันธุ์ (Variety name)</label>
  <input type="text" class="form-control col-md-3 col-sm-12 border" (keyup)="onSearch1($event)"
    placeholder="Enter Search text here" />
  <label>ชื่อวิทยาศาสตร์ (Plant Sci)</label>
  <input type="text" class="form-control col-md-3 col-sm-12 border" (keyup)="onSearch2($event)"
    placeholder="Enter Search text here" />
  <label>GS No</label>
  <input type="text" class="form-control col-md-3 col-sm-12 border" (keyup)="onSearch3($event)"
    placeholder="Enter Search text here" />
  <label>จังหวัด</label>
  <input type="text" class="form-control col-md-3 col-sm-12 border" (keyup)="onSearch4($event)"
    placeholder="Enter Search text here" />
</div>
<data-table [items]="items" [itemCount]="count" (reload)="reloadData($event)" [limit]="50" [sortBy]="'m_no'"
  [substituteRows]="false">
  <data-table-title title="Pending Distribution List" [controls]="true">
  </data-table-title>

  <data-table-column header="Select" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
          [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
    </ng-template>
  </data-table-column>

  <data-table-column header="ชื่อพืช/ชนิดพืช" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantCategory?.categoryName_th }}
    </ng-template>
  </data-table-column>

  <data-table-column header="ชื่อพันธุ์" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantTypeName_en}}
    </ng-template>
  </data-table-column>

  <data-table-column header="DOA No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant sci" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_plant_sci_name?.genus +' '+item?.reg_plant_sci_name?.species}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant Stock" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getStockInfo(item)}}
    </ng-template>
  </data-table-column>

  <data-table-column header="%ความงอก" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.lab_test_growth_percent}}
    </ng-template>
  </data-table-column>

  <data-table-column header="วันที่ทดสอบความงอก" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.lab_test_growth_date}}
    </ng-template>
  </data-table-column>

  <data-table-column header="วันที่จัดเก็บ" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.wh_batch_store_date}}
    </ng-template>
  </data-table-column>

  <data-table-column header="จังหวัด" sortable="true" resizable="true">

    <ng-template #cellTemplate let-item="item">
      {{item?.source_province?.provinceName_en}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>
</data-table>
<!-- <data-table [items]="items" [itemCount]="count" (reload)="reloadData($event)" [limit]="50" [sortBy]="'m_no'"
  [substituteRows]="false">
  <data-table-title title="Pending Withdraw List" [controls]="true">
  </data-table-title>

  <data-table-column header="Select" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
          [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
    </ng-template>
  </data-table-column>

  <data-table-column header="Passport No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport?.passport_no}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Vols No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.volume_no}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant form type" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      Draft
    </ng-template>
  </data-table-column>

  <div>
    <data-table-column header="Action" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
            <i class="mdi mdi-eye"></i> View
          </button>
        </div>
      </ng-template>
    </data-table-column>
  </div>

</data-table> -->

<ngx-loading [show]="loading">
</ngx-loading>