<div class="d-flex justify-content-end">
  <button class="btn btn-primary btn-sm" type="button" (click)="onCreate(createContent)" *ngIf="checkRole(1)">
    <i class="mdi mdi-link"></i> Create Di No
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [substituteRows]="false">
  <data-table-title title="Distribution List" [controls]="true">
  </data-table-title>

  <data-table-column property="d_no" header="Di No." sortable="true" resizable="true">
  </data-table-column>


  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY  HH:mm:ss') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.m8lab_plant_updatedAt ? momentObj(item.m8lab_plant_updatedAt).format('MMM Do YYYY HH:mm:ss') : momentObj(item.createdAt).format('MMM Do YYYY HH:mm:ss')}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <!-- {{!item.drafts && item.totals ? 'Complete': 'Draft'}} -->
      {{this.getStatus(item)}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Details
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="false">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Passport</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this passport?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Distribution</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerPassportForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ได้รับเอกสารขอรับบริการเมล็ดเชื้อพันธุ์</label>
          <input type="date" formControlName="distribution_request_date" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_request_date.errors }"/>
          <div *ngIf="submitted && f.distribution_request_date.errors" class="invalid-feedback">
            <div *ngIf="f.distribution_request_date.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หนังสือขอรับบริการเม็ดเชื้อพันธุ์</label>
          <input type="text" formControlName="distribution_request_form_no" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.distribution_request_form_no.errors }"/>

          <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event)"/>
          <div *ngIf="submitted && f.distribution_request_form_no.errors" class="invalid-feedback">
            <div *ngIf="f.distribution_request_form_no.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>**หน่วยงานที่ขอรับบริการเมล็ดเชื้อพันธุ์ <span class="text-danger">*</span></label>
          <select formControlName="distribution_request_department" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.distribution_request_department.errors }">
            <option value="1.18.1.1 รัฐบาล">1.18.1.1 รัฐบาล</option>
            <option value="1.18.1.2 เอกชน">1.18.1.2 เอกชน</option>
            <option value="1.18.1.3 มหาวิทยาลัย">1.18.1.3 มหาวิทยาลัย</option>
            <option value="อื่นๆ">อื่นๆ</option>
          </select>
          <div *ngIf="submitted && f.distribution_request_department.errors" class="invalid-feedback">
            <div *ngIf="f.distribution_request_department.errors.required">สถานที่ is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row pl-4" *ngIf="f?.distribution_request_department?.value === '1.18.1.1 รัฐบาล'">
        <div class="form-group col-sm-8">
          <select formControlName="department_sub_type" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.department_sub_type.errors }">
            <option value="1.18.1.1.1 หน่วยงานภายใน">1.18.1.1.1 หน่วยงานภายใน</option>
            <option value="1.18.1.1.2 หน่วยงานภายนอก">1.18.1.1.2 หน่วยงานภายนอก</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
          <input type="text" formControlName="department_name" class="form-control"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>ชื่อผู้ขอ</label>
          <input type="text" formControlName="service_request_name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.service_request_name.errors }"/>
          <div *ngIf="submitted && f.service_request_name.errors" class="invalid-feedback">
            <div *ngIf="f.service_request_name.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>ที่อยู่ผู้ขอ</label>
          <input type="text" formControlName="service_request_address" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.service_request_address.errors }"/>
          <div *ngIf="submitted && f.service_request_address.errors" class="invalid-feedback">
            <div *ngIf="f.service_request_address.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หมายเลขโทรศัพท์</label>
          <input type="text" formControlName="service_request_telno" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.service_request_telno.errors }"/>
          <div *ngIf="submitted && f.service_request_telno.errors" class="invalid-feedback">
            <div *ngIf="f.service_request_telno.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>email</label>
          <input type="text" formControlName="service_request_email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.service_request_email.errors }"/>
          <div *ngIf="submitted && f.service_request_email.errors" class="invalid-feedback">
            <div *ngIf="f.service_request_email.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วัตถุประสงค์</label>
          <input type="text" formControlName="service_request_objective" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.service_request_objective.errors }"/>
          <div *ngIf="submitted && f.service_request_objective.errors" class="invalid-feedback">
            <div *ngIf="f.service_request_objective.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>จำนวนตัวอย่างที่ขอ</label>
          <input type="number" formControlName="service_request_amount" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.service_request_amount.errors }"/>
          <div *ngIf="submitted && f.service_request_amount.errors" class="invalid-feedback">
            <div *ngIf="f.service_request_amount.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary mr-1" type="submit">Create</button>
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>

<ngx-loading [show]="loading">
</ngx-loading>
