<app-ngbd-popover btnText="Assign"
                  title="Assign Confirmation"
                  message="Are you sure to assign. Once Assigned, it can\'t be undone"
                  (onConfirm)="onSubmitPlants()"
                  *ngIf="selectedPlantsForSubmit?.length"
                  placement="right"></app-ngbd-popover>


<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'m_no'"
            [substituteRows]="false">
  <data-table-title title="Assign Plant List" [controls]="true">
  </data-table-title>

  <data-table-column header="Select" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                    [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
    </ng-template>
  </data-table-column>

  <data-table-column header="Name" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantTypeName_en}}
    </ng-template>
  </data-table-column>


  <data-table-column header="ชนิดพืช" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <!-- {{item?.reg_gene_type?.groupName_en}} -->
      {{item?.categoryName_en}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="GS No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.gs_no}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant form type" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

</data-table>

<ngx-loading [show]="loading">
</ngx-loading>
