<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row mb-2 d-flex justify-content-start">
        <ngx-image-uploader
          [options]="options"
          (upload)="onUpload($event)"></ngx-image-uploader>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>First Name <span class="text-danger">*</span> </label>
          <input type="text" formControlName="firstName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Last Name <span class="text-danger">*</span></label>
          <input type="text" formControlName="lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>User Name <span class="text-danger">*</span></label>
          <input type="text" formControlName="username" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">User name is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Email <span class="text-danger">*</span></label>
          <input type="text" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Gender <span class="text-danger">*</span></label>
          <div class="form-check pl-0" [ngClass]="{ 'is-invalid': true }">
            <label class="radio-inline"><input type="radio"
                                               formControlName="gender"
                                               value="MALE"
                                               [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                                               class="mr-2">Male</label>
            <label class="radio-inline"><input type="radio"
                                               value="FEMALE"
                                               formControlName="gender"
                                               [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                                               class="ml-2 mr-2">Female</label>
          </div>
          <div *ngIf="submitted && f.gender.errors" class="invalid-feedback d-block">
            <div *ngIf="f.gender.errors.required">Gender is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Status <span class="text-danger">*</span></label>
          <div class="form-check pl-0" [ngClass]="{ 'is-invalid': true }">
            <label class="radio-inline"><input type="radio"
                                               formControlName="status"
                                               value="ACTIVE"
                                               [ngClass]="{ 'is-invalid': submitted && f.status.errors }"
                                               class="mr-2">Active</label>
            <label class="radio-inline"><input type="radio"
                                               value="INACTIVE"
                                               formControlName="status"
                                               [ngClass]="{ 'is-invalid': submitted && f.status.errors }"
                                               class="ml-2 mr-2">In Active</label>
          </div>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback d-block">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Role</label>
          <select formControlName="role" class="form-control"
                  (change)="onChangeRole($event)" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
            <option value="">Select Role</option>
            <option [value]="role._id" *ngFor="let role of roles">{{role.name}}</option>
          </select>
          <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
            <div *ngIf="f.role.errors.required">Role is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Password <span class="text-danger">*</span></label>
          <input type="password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Confirm Password <span class="text-danger">*</span></label>
          <input type="password" formControlName="confirmPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>

    </form>
  </div>


  <ngb-alert [dismissible]="false" [type]="'success'" *ngIf="!f.role.errors">
    Role Resources
  </ngb-alert>

  <div class="border p-4 card" *ngIf="!f.role.errors">
    <ngx-treeview [config]="config" [items]="roleResources">
    </ngx-treeview>
  </div>
</div>

<ngx-loading [show]="loading">
</ngx-loading>

