<div class="card m-0">
  <h5 class="card-header card-info d-flex justify-content-center text-white">Create User</h5>
  <div class="card-body container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <div class="form-group col-md-6 col-sm-12">
          <label>First Name <span class="text-danger">*</span> </label>
          <input type="text" formControlName="firstName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>Last Name <span class="text-danger">*</span></label>
          <input type="text" formControlName="lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label>Email <span class="text-danger">*</span></label>
        <input type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label>Gender <span class="text-danger">*</span></label>
        <div class="form-check pl-0" [ngClass]="{ 'is-invalid': true }">
          <label class="radio-inline"><input type="radio"
                                             formControlName="gender"
                                             value="MALE"
                                             [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                                             class="mr-2">Male</label>
          <label class="radio-inline"><input type="radio"
                                             value="FEMALE"
                                             formControlName="gender"
                                             [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                                             class="ml-2 mr-2">Female</label>
        </div>
        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback d-block">
          <div *ngIf="f.gender.errors.required">Gender is required</div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Password <span class="text-danger">*</span></label>
          <input type="password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>Confirm Password <span class="text-danger">*</span></label>
          <input type="password" formControlName="confirmPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
