<div class="row">
  <!-- column -->
  <div class="col-md-6 col-sm-6 col-xs-12">
    <!-- Card -->
    <div class="card border cursor-pointer" (click)="onNavigate('/admin/manage/teams/listing')">
      <div class="card-body">
        <h3 class="card-title"><i class="mdi mdi-account-multiple"></i> Team member</h3>
        <p class="mt-4 mb-4 p-4">
          <ngb-alert [dismissible]="false">
            This is to used create, update and delete team members
          </ngb-alert>
        </p>
      </div>
    </div>
  </div>
  <!-- Card -->
  <!-- column -->
  <div class="col-md-6 col-sm-6 col-xs-12">
    <!-- Card -->
    <div class="card border cursor-pointer" (click)="onNavigate('/admin/manage/roles/listing')">
      <div class="card-body">
        <h3 class="card-title"><i class="mdi mdi-key"></i> Role Setting</h3>
        <p class="mt-4 mb-4 p-4">
          <ngb-alert [dismissible]="false">
            This is to used to manage settings. Create new role and manage that.
          </ngb-alert>
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>
