<div class="card-body">
  <div class="mt-2 mb-2">
    <label class="margin-right">ชนิดพืช (Plant Category)</label>
    <input type="text" class="margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearchCate($event)"
      placeholder="Enter Search text here" />
    <label class="margin-right">หมายเลขประจำพันธุ์ (Registration No.)</label>
    <input type="text" class=" margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearchNo($event)"
      placeholder="Enter Search text here" />
      <label class="margin-right">ชื่อพันธุ์ (Variety name)</label>
    <input type="text" class=" margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearchType($event)"
      placeholder="Enter Search text here" />
      <label class="margin-right">ชื่อวิทยาศาสตร์ (Plant Sci)</label>
      <input type="text" class=" margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearchSci($event)"
        placeholder="Enter Search text here" />
    
  </div>
</div>

<ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle>
          Pending ({{count}})  
        </ng-template>
        <ng-template ngbTabContent>
          <data-table [items]="items" [itemCount]="count" (reload)="reloadData($event)" [limit]="50"
            [substituteRows]="false">
            <data-table-title [controls]="true">
            </data-table-title>
    
            <data-table-column header="Plant category" sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                {{item?.plant_gene_name?.plantCategory?.categoryName_en}}
              </ng-template>
            </data-table-column>
    
            <!-- <data-table-column header="Vols No." sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                {{item?.volume?.volume_no}}
              </ng-template>
            </data-table-column> -->
    
            <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                  {{item?.reg_gene_id ?item?.reg_gene_id : 'N/A'}}
              </ng-template>
            </data-table-column>
    
            <data-table-column header="Plant type" sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                {{item?.plant_gene_name?.plantTypeName_th}}
              </ng-template>
            </data-table-column>

            <data-table-column header="Plant sci" sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                <span class="text-capitalize"> {{item?.reg_plant_sci_name?.genus+' '+item?.reg_plant_sci_name?.species}}</span>
              </ng-template>
            </data-table-column>
    
            <data-table-column header="Plant Stock" sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                {{getStockInfo(item)}}
              </ng-template>
            </data-table-column>
    
            <data-table-column property="createdAt" header="Created At" sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
              </ng-template>
            </data-table-column>
    
            <data-table-column property="updatedAt" header="Updated At" sortable="true" resizable="true">
              <ng-template #cellTemplate let-item="item">
                {{item.updatedAt ? momentObj(item.updatedAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
              </ng-template>
            </data-table-column>
    
    
           
    
            <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
              <ng-template #cellTemplate let-item="item">
                <div class="d-flex justify-content-start">
                  <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetailsPending(item)" *ngIf="checkRole(2)">	
                    <i class="mdi mdi-pencil"></i> Details	
                  </button>
    
                  <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                    <i class="mdi mdi-delete"></i> Delete
                  </button>
                </div>
              </ng-template>
            </data-table-column>
    
          </data-table>
        </ng-template>
      </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Waiting to approve ({{count1}})  
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items1" [itemCount]="count1" (reload)="reloadData1($event)" [limit]="50"
        [substituteRows]="false">
        <data-table-title  [controls]="true">
        </data-table-title>

        <data-table-column header="Plant category" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.plant_gene_name?.plantCategory?.categoryName_en}}
          </ng-template>
        </data-table-column>


        <!-- <data-table-column header="Vols No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.volume_no}}
          </ng-template>
        </data-table-column> -->

        <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
              {{item?.reg_gene_id ?item?.reg_gene_id : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant type" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.plant_gene_name?.plantTypeName_th}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant sci" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <span class="text-capitalize"> {{item?.reg_plant_sci_name?.genus+' '+item?.reg_plant_sci_name?.species}}</span>
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant Stock" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{getStockInfo(item)}}
          </ng-template>
        </data-table-column>

        <data-table-column property="createdAt" header="Created At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Updated At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.updatedAt ? momentObj(item.updatedAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>


       

        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
                <i class="mdi mdi-pencil"></i> Details
              </button>

              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Approve ({{count2}})  
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items2" [itemCount]="count2" (reload)="reloadData($event)" [limit]="50"
        [substituteRows]="false">
        <data-table-title  [controls]="true">
        </data-table-title>

        <data-table-column header="Plant category" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.plant_gene_name?.plantCategory?.categoryName_en}}
          </ng-template>
        </data-table-column>


        <!-- <data-table-column header="Vols No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.volume_no}}
          </ng-template>
        </data-table-column> -->

        <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
              {{item?.reg_gene_id ?item?.reg_gene_id : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant type" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.plant_gene_name?.plantTypeName_th}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant sci" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <span class="text-capitalize"> {{item?.reg_plant_sci_name?.genus+' '+item?.reg_plant_sci_name?.species}}</span>
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant Stock" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{getStockInfo(item)}}
          </ng-template>
        </data-table-column>

        <data-table-column property="createdAt" header="Created At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Updated At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.updatedAt ? momentObj(item.updatedAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>


       

        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
                <i class="mdi mdi-pencil"></i> Details
              </button>

              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ngx-loading [show]="loading">
</ngx-loading>