
<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [substituteRows]="false"
            [sortBy]="'m_no'"
            [substituteRows]="false">
  <data-table-title title="M4 Completed Plants" [controls]="true">
  </data-table-title>


  <data-table-column header="Name" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantTypeName_en}}
    </ng-template>
  </data-table-column>


  <data-table-column header="ชนิดพืช" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantCategory.categoryName_en}}({{item?.plant_gene_name?.plantCategory.categoryName_th}})
    </ng-template>
  </data-table-column>

  <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="GS No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.gs_no}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant form type" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

</data-table>

<ngx-loading [show]="loading">
</ngx-loading>
