<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="d-block">ประเภทแบบฟอร์ม (Plant form type)</label>
        <label class="radio-inline d-block">
          <input type="radio"
                 value="Register 1"
                 class="mr-2"
                 [(ngModel)]="search.formType"
                 (change)="changeFormType()">แบบฟอร์ม 1 (Register 1) พืชจากการสำรวจรวบรวม</label>
          <label class="radio-inline d-block">
            <input type="radio"
                 value="Register 2"
                 class="mr-2"
                 [(ngModel)]="search.formType"
                 (change)="changeFormType()">แบบฟอร์ม 2 (Register 2) พืชจากหน่วยงานภายในและนอกกรมวิชาการเกษตร</label>
        <label class="radio-inline d-block">
          <input type="radio"
                 value="Register 3"
                 class="mr-2"
                 [(ngModel)]="search.formType"
                 (change)="changeFormType()">แบบฟอร์ม 3 (Register 3) พืชฝากเก็บรักษา</label>
        <label class="radio-inline d-block">
          <input type="radio"
                  value="Register 4"
                  class="mr-2"
                  [(ngModel)]="search.formType"
                  (change)="changeFormType()">แบบฟอร์ม 4 (Register 4) พืชจากการฟื้นฟู</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.startDt" />
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>End Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.endDt" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="search.formType ==='Register 1'">
  <data-table
    [items]="plants"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="50"
    [substituteRows]="false"
  >
    <data-table-column
      property="reg_gene_id"
      header="หมายเลขประจำพันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_category"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_type"
      header="พันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="volume_no"
      header="ชุดที่"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="gs_no"
      header="ออก DOA ใหม่"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<div *ngIf="search.formType ==='Register 2'">
  <data-table
    [items]="plants"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="50"
    [substituteRows]="false"
  >
    <data-table-column
      property="reg_gene_id"
      header="หมายเลขประจำพันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_category"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_type"
      header="พันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="volume_no"
      header="ชุดที่"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="gs_no"
      header="ออก DOA ใหม่"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<div *ngIf="search.formType ==='Register 3'">
  <data-table
    [items]="plants"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="15"
    [substituteRows]="false"
  >
    <data-table-column
      property="reg_gene_id"
      header="หมายเลขประจำพันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_category"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_type"
      header="พันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="volume_no"
      header="ชุดที่"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="department"
      header="หน่วยงาน"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<div *ngIf="search.formType ==='Register 4'">
  <data-table
    [items]="plants"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="15"
    [substituteRows]="false"
  >
    <data-table-column
      property="reg_gene_id"
      header="หมายเลขประจำพันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_category"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_type"
      header="พันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="volume_no"
      header="ชุดที่"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="gs_no"
      header="หน่วยงาน"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<ngx-loading [show]="loading"></ngx-loading>
