<!-- <div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div> -->
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>No.</th>
      <th>Lab No.</th>
      <th>All</th>
      <th>Completed</th>
      <th>Status</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of info; let i = index">
      <td>{{i + 1}}</td>
      <td>{{item?.lab_no}}</td>
      <td>{{item?.total}}</td>
      <td>{{item?.completed}}</td>
      <td>{{item?.status}}</td>
      <td>{{item.createdAt }}</td>
      <td>{{item.updatedAt}}</td>
      <td>
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)" *ngIf="checkRole(2)">
            <i class="mdi mdi-pencil"></i> Edit
          </button>
  
          <!-- <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="checkRole(3)">
            <i class="mdi mdi-delete"></i> Delete
          </button> -->
        </div>
      </td>
    </tr>
  </tbody>
</table> 

  <!-- <data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'name'"
            [substituteRows]="false">

 <data-table-title title="{{alert ?  'WH – Alert Lab List': 'WH – Alert Lab List' }}" [controls]="true">
  </data-table-title>

  <data-table-column header="Lab No." resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.lab_no}}
    </ng-template>
  </data-table-column>

  <data-table-column header="All"  resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.total || 0}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Completed" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.complete || 0}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Status" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.total === item?.complete  && item?.total ? 'Completed' : 'Draft'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Details
        </button>
      </div>
    </ng-template>
  </data-table-column> 

</data-table> -->
<ngx-loading [show]="loading">
</ngx-loading>

