<div class="d-flex justify-content-end" *ngIf="checkRole(1)">
  <button class="btn btn-danger btn-sm mr-2" type="button"
          (click)="onCreate(createContentAlert)">
    <i class="mdi mdi-link"></i> Create Lab No. for Alert
  </button>
  <button class="btn btn-primary btn-sm" type="button"
          (click)="onCreate(createContent)">
    <i class="mdi mdi-link"></i> Create New Lab Listing
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'name'"
            [substituteRows]="false">
  <data-table-title title="Lab List" [controls]="true">
  </data-table-title>

  <data-table-column property="lab_no" header="Lab No." sortable="true" resizable="true">
  </data-table-column>

  <data-table-column header="Vol No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume_no?.volume_no}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.isDraft || !item.totalRecords ? 'Draft':  'Completed'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="plant_form_type" header="Stock Type" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.stock_type}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY HH:mm:ss') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="m8lab_plant_updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.m8lab_plant_updatedAt ? momentObj(item.m8lab_plant_updatedAt).format('MMM Do YYYY HH:mm:ss') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Details
        </button>

      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Lab</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this lab?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Lab</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="createLabForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่รับเมล็ดพันธุ์จากฝ่ายลงทะเบียน/Receiving Seed Date <span class="text-danger">*</span></label>
          <input type="date" formControlName="reg_seed_receive" class="form-control datepicker"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_receive.errors }"/>
          <div *ngIf="submitted && f.reg_seed_receive.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_receive.errors.required">ันที่รับเมล็ดพันธุ์จากฝ่ายลงทะเบียน/Receiving Seed Date is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>เลขที่รับ (ชุดที่)/Volume No. <span class="text-danger">*</span></label>
          <ng-autocomplete
            [searchKeyword]="'volume_no'"
            [data]="volumesList"
            placeHolder="Select the Volume Number"
            (selected)='selectVolume($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.volume_no"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <div *ngIf="submitted && f.volume_no.errors" class="invalid-feedback">
          <div *ngIf="f.volume_no.errors.required">เลขที่รับ (ชุดที่)/Volume No. is required</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>Stock Type <span class="text-danger">*</span></label>
          <select formControlName="stock_type" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.stock_type.errors }">
            <option *ngIf="stockList[0]" value="selfing">selfing</option>
            <option *ngIf="stockList[1]" value="OP">OP</option>
            <option *ngIf="stockList[2]" value="Other">Other</option>
          </select>
          <div *ngIf="submitted && f.stock_type.errors" class="invalid-feedback">
            <div *ngIf="f.stock_type.errors.required">Stock Type is required</div>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary mr-1" type="submit">Create</button>
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #createContentAlert let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Lab Alert</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="createLabAlertForm" (ngSubmit)="onSubmit(true)">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่รับการแจ้งเตือน <span class="text-danger">*</span></label>
          <input type="date" formControlName="notification_date" class="form-control datepicker"
                 [ngClass]="{ 'is-invalid': submitted && createLabAlertForm.controls.notification_date.errors }"/>
          <div *ngIf="submitted && createLabAlertForm.controls.notification_date.errors" class="invalid-feedback">
            <div *ngIf="createLabAlertForm.controls.notification_date.errors.required">วันที่รับการแจ้งเตือน is
              required
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary mr-1" type="submit">Create</button>
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>


<ngx-loading [show]="loading">
</ngx-loading>
