<div class="jumbotron">
  <button class="btn btn-primary mb-4 align-self-center" type="button" *ngIf="submitTo"
          (click)="onSubmitModule()">Submit
    to {{submitTo == 'm2' ? 'Module 2' : 'Module 4'}}</button>
  <div class="form-row form-group">
    <div class="col-md-6 col-sm-12">
      <div class="form-check pl-0">
        <label class="radio-inline"><input type="radio"
                                           [(ngModel)]="submitTo"
                                           value="m2"
                                           class="mr-2"> บันทึกไป Module 2 , Pass to Module 2</label>
      </div>
    </div>

    <div class="col-md-4 ml-2" >
      <input type="text" class="form-control  bg-white"
             disabled
             [value]="reg_gene_id"/>
    </div>

  </div>
  <div class="form-row form-group">
    <div class="col-md-6 col-sm-12">
      <div class="form-check pl-0">
        <!-- <label class="radio-inline"><input type="radio"
                                           [(ngModel)]="submitTo"
                                           value="m4"
                                           class="mr-2">ส่งไปฟื้นฟู, Failed , Go to recover M 4</label> -->
      </div>
    </div>

    <div class="col-md-4 ml-2" >
      <input type="text" class="form-control bg-white"
             disabled
             [value]="gs_no"/>
    </div>
  </div>
</div>

<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantGroupTypeForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ประเภทแบบฟอร์ม (Plant form type) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="volumeInfo?.form_type"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Passport No. <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="passportInfo?.passport_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เลขที่รับ (ชุดที่) (Reg. Vol) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="volumeInfo?.volume_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ลงทะเบียน (Reg Date) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="passportInfo?.reg_date"/>
        </div>
      </div>

      <div class="form-row" *ngIf="getAttachment('passport-reg-files', passportInfo?.reg_attach_file)">
        <div class="form-group col-md-6 col-sm-12">
          <label>หนังสือข้อตกลงการฝากเมล็ดพันธุ์ <span class="text-danger">*</span> </label>
          <div class="font-weight-bold">
            <a [href]="getAttachment('passport-reg-files', passportInfo?.reg_attach_file)"
               target="_blank">Agreement File</a>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เลขที่หนังสือนำส่งเมล็ดเชื้อพันธุ์ <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="selectedPlant?.plantTypeName_sci_en ? selectedPlant?.plantTypeName_sci_en : '-'"/>
        </div>
      </div>


      <div class="form-row" *ngIf="reg_seed_no">
        <div class="form-group col-md-6 col-sm-12">
          <label>ลำดับที่เมล็ดเชื้อพันธุ์  <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="reg_seed_no"/>
        </div>
      </div>


      <div class="form-row" *ngIf="reg_gene_id">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเลขประจำพันธุ์ (Reg Gene Id) </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="reg_gene_id"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6  col-sm-12">
          <label>ชื่อวิทยาศาสตร์  (Reg Plant Sci Name) <span class="text-danger">*</span></label>
          <ng-autocomplete
            [searchKeyword]="'genus'"
            formControlName="reg_plant_sci_name"
            [data]="plantsListing"
            placeHolder="Select the Reg Plant Sci Name"
            [itemTemplate]="itemTemplate"
            (selected)="onSelect($event)"
            
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="'' + item.genus + ' '+ item.species"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชนิดพืช (Reg Plant Type) <span class="text-danger">*</span> </label>
          <select class="form-control" disabled [value]="selectedPlant?.plant_category">
            <option value=""></option>
            <option [value]="item._id"
                    *ngFor="let item of categoryList">
              {{item?.categoryName_en}}
            </option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อสามัญ (Reg Plant Common Name) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="selectedPlant?.reg_plant_common_name"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อเรียกอื่น (Reg Plant Alter Name)</label>
          <tag-input
            disable="true"
            placeholder="Select/Add Plant tag"
            formControlName="reg_plant_alter_name"
            [onlyFromAutocomplete]="false">
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [autocompleteItems]="selectedPlant?.reg_plant_alter_name">
            </tag-input-dropdown>
          </tag-input>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อพันธุ์ (Variety name) <span class="text-danger">*</span> </label>
          <select formControlName="plant_gene_name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_gene_name.errors }">
            <option value="">Select Reg Gene Name</option>
            <option [value]="item._id"
                    *ngFor="let item of plantTypes">
              {{item.plantTypeName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.plant_gene_name.errors" class="invalid-feedback">
            <div *ngIf="f.plant_gene_name.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชนิดของพันธุ์ (Variety type)</label>
          <select formControlName="reg_gene_type" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_type.errors }">
            <option value="">Select Group</option>
            <option [value]="item._id"
                    *ngFor="let item of groupList">
              {{item.groupName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_type.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_type.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ประเภทของพันธุ์ (Variety catagory) <span class="text-danger">*</span> </label>
          <select formControlName="reg_gene_category" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_category.errors }">
            <option value="">Select Group</option>
            <option [value]="item._id"
                    *ngFor="let item of groupTypeList">
              {{item.groupTypeName_th}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_category.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_category.errors.required">ประเภทของพันธุ์ (Variety catagory) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) </label>
          <input type="date" class="form-control"
                 formControlName="reg_seed_collect_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_collect_date.errors }"/>
          <div *ngIf="submitted && f.reg_seed_collect_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_collect_date.errors.required">วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) in English is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เลขที่หนังสือนำส่งเมล็ดเชื้อพันธุ์ <span class="text-danger">*</span> </label>
          <input type="text"  class="form-control"
                 formControlName="reg_seed_sent_no"
                 disabled="reg_seed_sent_noBtn"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_sent_no.errors }"/>
          <div *ngIf="submitted && f.reg_seed_sent_no.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_sent_no.errors.required">เลขที่หนังสือนำส่งเมล็ดเชื้อพันธุ์ is required</div>
          </div>
        </div>
      </div>

      <div class="text-info mt-2">จำนวน/ปริมาณเมล็ดเชื้อพันธุ์ (กรัม/จำนวนเมล็ด)</div>
      <div class="p-4">
        <div class="form-row form-group" *ngIf="f.selfing_input.value  || this.formData.selfing_input">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="selfing_input"
                   [ngClass]="{ 'is-invalid': submitted && f.selfing_input.errors }"/>
            <div *ngIf="submitted && f.selfing_input.errors" class="invalid-feedback">
              <div *ngIf="f.selfing_input.errors.required">เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="selfing_dropdown" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.selfing_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.selfing_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.selfing_dropdown.errors.required">เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row form-group" *ngIf="(f.oop_input.value && !f.selfing_input.value) || (this.formData.oop_input && !this.formData.selfing_input)">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="oop_input"
                   [ngClass]="{ 'is-invalid': submitted && f.oop_input.errors }"/>
            <div *ngIf="submitted && f.oop_input.errors" class="invalid-feedback">
              <div *ngIf="f.oop_input.errors.required">เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="oop_dropdown" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.oop_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.oop_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.oop_dropdown.errors.required">เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row form-group" *ngIf="(f.other_input.value && !f.selfing_input.value && !f.oop_input.value)  || (this.formData.other_input && !this.formData.selfing_input && !this.formData.oop_input)">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>ไม่ระบุ (Other) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="other_input"
                   [ngClass]="{ 'is-invalid': submitted && f.other_input.errors }"/>
            <div *ngIf="submitted && f.other_input.errors" class="invalid-feedback">
              <div *ngIf="f.other_input.errors.required">ไม่ระบุ (Other) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="other_dropdown" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.other_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.other_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.other_dropdown.errors.required">ไม่ระบุ (Other) is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-info mt-2">แหล่งที่มา (Source)</div>
      <div class="p-4">
        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ประเภทหน่วยงาน (Types of Organization) <span class="text-danger">*</span> </label>
            <select formControlName="department_type" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.department_type.errors }">
              <option value="">Select Department Type</option>
              <option value="1.18.1.1 รัฐบาล">1.18.1.1 รัฐบาล</option>
              <option value="1.18.1.2 เอกชน">1.18.1.2 เอกชน</option>
              <option value="1.18.1.3 มหาวิทยาลัย">1.18.1.3 มหาวิทยาลัย</option>
            </select>
            <div *ngIf="submitted && f.department_type.errors" class="invalid-feedback">
              <div *ngIf="f.department_type.errors.required">Department Type is required</div>
            </div>
          </div>
        </div>
        <div class="form-row pl-4" *ngIf="f.department_type.value === '1.18.1.1 รัฐบาล'">
          <div class="form-group col-md-6 col-sm-12">
            <label>Department Type </label>
            <select formControlName="department_sub_type" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.department_sub_type.errors }">
              <option value="">Select Department Sub Type</option>
              <option value="1.18.1.1.1 หน่วยงานภายใน">1.18.1.1.1 หน่วยงานภายใน</option>
              <option value="1.18.1.1.2 หน่วยงานภายนอก">1.18.1.1.2 หน่วยงานภายนอก</option>
            </select>
          </div>
        </div>
        <div class="form-row pl-4"
             *ngIf="f.department_type.value === '1.18.1.1 รัฐบาล' || f.department_type.value === '1.18.1.2 เอกชน'  || f.department_type.value === '1.18.1.3 มหาวิทยาลัย'">
          <div class="form-group col-md-6 col-sm-12">
            <label>หน่วยงาน (Organization Name) </label>
            <input type="text" class="form-control"
                   formControlName="department_name"
                   [ngClass]="{ 'is-invalid': submitted && f.department_name.errors }"/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ประเทศต้นกำเนิดเชื้อพันธุ์ (Country of Origin) </label>
            <select formControlName="source_country" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.source_country.errors }">
              <option value="">Select Country</option>
              <option [value]="item._id"
                      *ngFor="let item of countryList">
                {{item.countryName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_country.errors" class="invalid-feedback">
              <div *ngIf="f.source_country.errors.required">ประเทศ (Country) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>จังหวัด (Province) <span class="text-danger">*</span> </label>
            <select formControlName="source_province" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.source_province.errors }">
              <option value="">Select Province</option>
              <option [value]="item._id"
                      *ngFor="let item of provinceList">
                {{item.provinceName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_province.errors" class="invalid-feedback">
              <div *ngIf="f.source_province.errors.required">จังหวัด (Province) is required</div>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>อำเภอ (District) <span class="text-danger">*</span> </label>
            <select formControlName="source_district" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.source_district.errors }">
              <option value="">Select District</option>
              <option [value]="item._id"
                      *ngFor="let item of aumperList">
                {{item.aumperName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_district.errors" class="invalid-feedback">
              <div *ngIf="f.source_district.errors.required">อำเภอ (District) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ที่อยู่ (Address) <span class="text-danger">*</span> </label>
            <textarea class="form-control"
                      formControlName="source_address"
                      [ngClass]="{ 'is-invalid': submitted && f.source_address.errors }">
            </textarea>
            <div *ngIf="submitted && f.source_address.errors" class="invalid-feedback">
              <div *ngIf="f.source_address.errors.required">ที่อยู่ (Address) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2 col-sm-6">
            <label>ละติจูด (Lat) </label>
            <input type="number" min="0" OnlyNumber="true" class="form-control"
                   formControlName="lat"
                   [ngClass]="{ 'is-invalid': submitted && f.lat.errors }"/>
            <div *ngIf="submitted && f.lat.errors" class="invalid-feedback">
              <div *ngIf="f.lat.errors.required">ละติจูด (Lat) is required</div>
            </div>
          </div>
          <div class="form-group col-md-2 col-sm-6">
            <label>ลองติจูด (Lng) </label>
            <input type="number" min="0" OnlyNumber="true" class="form-control"
                   formControlName="long"
                   [ngClass]="{ 'is-invalid': submitted && f.long.errors }"/>
            <div *ngIf="submitted && f.long.errors" class="invalid-feedback">
              <div *ngIf="f.long.errors.required">ลองติจูด (Lng) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>Source By Department</label>
            <input type="text" class="form-control"
                   formControlName="source_by_department"
                   [ngClass]="{ 'is-invalid': submitted && f.source_by_department.errors }"/>
            <div *ngIf="submitted && f.source_by_department.errors" class="invalid-feedback">
              <div *ngIf="f.source_by_department.errors.required">หน่วยงานเจ้าของพันธุ์ (Owner organization) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ประเทศต้นกำเนิดเชื้อพันธุ์ (Country of Origin) </label>
            <select formControlName="source_country_1" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.source_country_1.errors }">
              <option value="">Select Country</option>
              <option [value]="item._id"
                      *ngFor="let item of countryList">
                {{item.countryName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_country_1.errors" class="invalid-feedback">
              <div *ngIf="f.source_country_1.errors.required">ประเทศ (Country) is required</div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ผู้เก็บเมล็ดเชื้อพันธุ์ (Seed collector) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 formControlName="reg_seed_collect_person"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_collect_person.errors }"/>
          <div *ngIf="submitted && f.reg_seed_collect_person.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_collect_person.errors.required">ผู้เก็บเมล็ดเชื้อพันธุ์ (Seed collector) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เจ้าของเชื้อพันธุ์ (Seed owner) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 formControlName="reg_seed_owner"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_owner.errors }"/>
          <div *ngIf="submitted && f.reg_seed_owner.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_owner.errors.required">เจ้าของเชื้อพันธุ์ (Seed owner) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ผู้นำส่งเมล็ดเชื้อพันธุ์ (Seed provider) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 formControlName="reg_seed_sender"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_sender.errors }"/>
          <div *ngIf="submitted && f.reg_seed_sender.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_sender.errors.required">ผู้นำส่งเมล็ดเชื้อพันธุ์ (Seed provider) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>บรรยายลักษณะเบื้องต้น (Brief characteristics) </label>
          <input type="text" class="form-control"
                 formControlName="reg_character_brief"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_character_brief.errors }"/>
          <div *ngIf="submitted && f.reg_character_brief.errors" class="invalid-feedback">
            <div *ngIf="f.reg_character_brief.errors.required">บรรยายลักษณะเบื้องต้น (Brief characteristics) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ข้อมูลลักษณะประจำพันธุ์ (Plant characteristics) </label>
          <div>
            <div class="font-weight-bold"
                 *ngIf="getAttachment('plant-files', reg_character_attached_file) && !regCharacterAttachedFile">
              <a [href]="getAttachment('plant-files', reg_character_attached_file)"
                 target="_blank">Uploaded Reg Character File</a>
            </div>
            <br/>
            <input type="file" class="m-1 mt-0 btn-outline" (change)="onFileUpload($event)"/>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 statuscol-sm-12 mt-4">
          <label>ข้อมูลลักษณะประจำพันธุ์ (Plant characteristics) </label>
          <select formControlName="reg_character_for_record" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_character_for_record.errors }">
            <option value="">Select Reg Character for Record</option>
            <option value="1.23.3.1 มี">1.23.3.1 มี</option>
            <option value="1.23.3.2 ไม่มี">1.23.3.2 ไม่มี</option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ส่งฝ่ายปฏิบัติการ (Sending date to Lab) <span class="text-danger">*</span> </label>
          <input type="date" class="form-control"
                 formControlName="reg_sent_lab_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_sent_lab_date.errors }"/>
          <div *ngIf="submitted && f.reg_sent_lab_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_sent_lab_date.errors.required">วันที่ส่งฝ่ายปฏิบัติการ (Sending date to Lab) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเหตุจากฝ่ายลงทะเบียน (Remarks from Registration Unit) <span class="text-danger">*</span> </label>
          <textarea class="form-control"
                    formControlName="reg_remark"
                    [ngClass]="{ 'is-invalid': submitted && f.reg_remark.errors }">
            </textarea>
          <div *ngIf="submitted && f.reg_remark.errors" class="invalid-feedback">
            <div *ngIf="f.reg_remark.errors.required">หมายเหตุจากฝ่ายลงทะเบียน (Remarks from Registration Unit) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เลขที่เอกสารฝ่ายปฏิบัติการ<span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="labInfo?.lab_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่รับจากฝ่ายปฏิบัติการ <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="f?.reg_sent_lab_date?.value"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="checkbox">
            <label><input type="checkbox"
                          formControlName="wh_sample_ref_seed_check_box"
                          value="true"> เมล็ดพันธุ์อ้างอิง (seed file)</label>
          </div>
        </div>
      </div>

      <div class="form-row pl-4" *ngIf="'' + f?.wh_sample_ref_seed_check_box?.value + ''  == 'true'">
        <div class="form-group col-md-6 col-sm-12">
          <label>Upload Picture </label>
          <div>
            <!--<div class="font-weight-bold"-->
            <!--*ngIf="getAttachment('plant-files', reg_character_attached_file) && !regCharacterAttachedFile">-->
            <!--<a [href]="getAttachment('plant-files', reg_character_attached_file)"-->
            <!--target="_blank">Uploaded Reg Character File</a>-->
            <!--</div>-->
            <input type="file" class="m-1 mt-0 btn-outline" (change)="onFileUpload($event, 'seedAttachedFile')"/>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="checkbox">
            <label><input type="checkbox"
                          formControlName="wh_sample_ref_molecular_checkbox"
                          value="true"> ชีวโมเลกุล</label>
          </div>
        </div>
      </div>

      <div class="form-row pl-4" *ngIf="'' + f?.wh_sample_ref_molecular_checkbox?.value +  ''  == 'true'">
        <div class="form-group col-md-6 col-sm-12">
          <label>Upload PDF </label>
          <div>
            <!--<div class="font-weight-bold"-->
            <!--*ngIf="getAttachment('plant-files', reg_character_attached_file) && !regCharacterAttachedFile">-->
            <!--<a [href]="getAttachment('plant-files', reg_character_attached_file)"-->
            <!--target="_blank">Uploaded Reg Character File</a>-->
            <!--</div>-->
            <input type="file" class="m-1 mt-0 btn-outline" (change)="onFileUpload($event, 'molecularAttachedFile')"/>
          </div>
        </div>
      </div>

      <div class="form-row pl-4" *ngIf="'' + f?.wh_sample_ref_molecular_checkbox?.value + ''  == 'true'">
        <div class="form-group col-md-6 col-sm-12">
          <div class="checkbox">
            <label><input type="checkbox"
                          formControlName="wh_create_info_checkbox"
                          value="true"> จัดทำข้อมูลลงระบบสากล (ชีวโมเลกุล)</label>
          </div>
        </div>
      </div>

      <div *ngIf="plantGroupTypeForm.get('room5').controls.length">
        <p class="alert alert-info">Room 5</p>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th style="min-width: 150px;">Batch #</th>
              <th style="min-width: 100px;">Select</th>
              <th style="min-width: 150px;">น้ำหนัก 10 เมล็ด</th>
              <th style="min-width: 150px;">ความงอก (%)</th>
              <th style="min-width: 150px;">วันที่ทดสอบความงอก</th>
              <th style="min-width: 150px;">ความชื้น (%)</th>
              <th style="min-width: 150px;">วันที่ทดสอบความชื้น</th>
              <th style="min-width: 150px;">วันที่เข้าจัดเก็บ</th>
              <th style="min-width: 150px;">ระยะเวลาการแจ้งเตือน</th>
              <th style="min-width: 150px;">น้ำหนัก (กรัม)</th>
              <th style="min-width: 150px;">ตำแหน่งจัดเก็บ ตัวเลข 6 หลัก ตามด้วยตัวอักษร L หรือ R</th>
              <th style="min-width: 250px;">หมายเหตุ</th>
            </tr>
            </thead>
            <tbody>
            <tr
              formArrayName="room5"
              *ngFor="let option of plantGroupTypeForm.get('room5').controls; let i = index;">
              <td>{{i + 1}}</td>
              <td [formGroupName]="i">
                <label><input type="checkbox" value="item" (change)="onChangeItemSelect('room5', i)"
                              [checked]="selectedCheckbox.room5.includes(i)"></label>
              </td>
              <td [formGroupName]="i">
                <input type="number" min="0" OnlyNumber="true" formControlName="lab_10seed_weight" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_10seed_weight.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="number"
                       min="0" OnlyNumber="true"
                       max="100"
                       formControlName="lab_test_growth_percent" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_test_growth_percent.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="date" formControlName="lab_test_growth_date" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_test_growth_date.errors }"/>
              </td>
              <td [formGroupName]="i">
                <!-- <input type="text"
                       formControlName="lab_test_moisture_person" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_test_moisture_person.errors }"/> -->
                <input type="text"
                       formControlName="wh_batch_moisture_percent" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_moisture_percent.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="date" formControlName="lab_test_moisture_date" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_test_moisture_date.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="date" formControlName="wh_batch_store_date" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_store_date.errors }"/>
              </td>
              <td [formGroupName]="i">	
                <input type="hidden" formControlName="notification_period" class="form-control"	
                       [ngClass]="{ 'is-invalid': submitted && option.controls.notification_period.errors }"/>
                       <select formControlName="notification_year" class="form-control" style="margin-bottom:5px">
                        <option value="">Select Year</option>
                        <option *ngFor="let item of conditionDataYear" value="{{item.value}}">{{item.value}}</option>
                      </select>
                      <select formControlName="notification_percent" class="form-control" style="margin-bottom:5px">
                        <option value="">Select Percent</option>
                        <option *ngFor="let item of conditionDataPercent" value="{{item.value}}">{{item.value}}</option>
                      </select>
                      <select formControlName="notification_weight" class="form-control" style="margin-bottom:5px">
                        <option value="">Select Weight</option>
                        <option *ngFor="let item of conditionDataWeight" value="{{item.value}}">{{item.value}}</option>
                      </select>
              </td>
              <td [formGroupName]="i">
                <input type="number"
                       min="0" OnlyNumber="true"
                       formControlName="wh_batch_weight" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_weight.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="text" formControlName="wh_batch_store_location" class="form-control"
                       mask="XX XX XX S"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_store_location.errors }"/>
              </td>
              <td [formGroupName]="i">
                <textarea formControlName="wh_batch_remark" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_remark.errors }">
                </textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="plantGroupTypeForm.get('room10').controls.length">
        <p class="alert alert-info">Room-10</p>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th style="min-width: 150px;">Batch #</th>
              <th style="min-width: 100px;">Select</th>
              <th style="min-width: 150px;">น้ำหนัก 10 เมล็ด</th>
              <th style="min-width: 150px;">ความงอก (%)</th>
              <th style="min-width: 150px;">วันที่ทดสอบความงอก</th>
              <th style="min-width: 150px;">ความชื้น (%)</th>
              <th style="min-width: 150px;">วันที่ทดสอบความชื้น</th>
              <th style="min-width: 150px;">วันที่เข้าจัดเก็บ</th>
              <th style="min-width: 150px;">ระยะเวลาการแจ้งเตือน</th>
              <th style="min-width: 150px;">น้ำหนัก (กรัม)</th>
              <th style="min-width: 150px;">ตำแหน่งจัดเก็บ ตัวเลข 8 หลัก ตามด้วยตัวอักษร L หรือ R</th>
              <th style="min-width: 250px;">หมายเหตุ</th>
            </tr>
            </thead>
            <tbody>
            <tr
              formArrayName="room10"
              *ngFor="let option of plantGroupTypeForm.get('room10').controls; let i = index;">
              <td>{{i + 1}}</td>
              <td [formGroupName]="i">
                <label><input type="checkbox" value="item" (change)="onChangeItemSelect('room10', i)"
                              [checked]="selectedCheckbox.room10.includes(i)"></label>
              </td>
              <td [formGroupName]="i">
                <input type="number" min="0" OnlyNumber="true" formControlName="lab_10seed_weight" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_10seed_weight.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="number"
                       min="0" OnlyNumber="true"
                       max="100"
                       formControlName="lab_test_growth_percent" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_test_growth_percent.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="date" formControlName="lab_test_growth_date" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_test_growth_date.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="text"
                       formControlName="wh_batch_moisture_percent" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_moisture_percent.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="date" formControlName="lab_test_moisture_date" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.lab_test_moisture_date.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="date" formControlName="wh_batch_store_date" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_store_date.errors }"/>
              </td>
              <td [formGroupName]="i">		
                <input type="hidden" formControlName="notification_period" class="form-control"	
                       [ngClass]="{ 'is-invalid': submitted && option.controls.notification_period.errors }"/>	
                       <select formControlName="notification_year" class="form-control" style="margin-bottom:5px">
                        <option value="">Select Year</option>
                        <option *ngFor="let item of conditionDataYear" value="{{item.value}}">{{item.value}}</option>
                      </select>
                      <select formControlName="notification_percent" class="form-control" style="margin-bottom:5px">
                        <option value="">Select Percent</option>
                        <option *ngFor="let item of conditionDataPercent" value="{{item.value}}">{{item.value}}</option>
                      </select>
                      <select formControlName="notification_weight" class="form-control" style="margin-bottom:5px">
                        <option value="">Select Weight</option>
                        <option *ngFor="let item of conditionDataWeight" value="{{item.value}}">{{item.value}}</option>
                      </select>
              </td>
              <td [formGroupName]="i">
                <input
                  type="number"
                  min="0" OnlyNumber="true"
                  formControlName="wh_batch_weight" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_weight.errors }"/>
              </td>
              <td [formGroupName]="i">
                <input type="text" formControlName="wh_batch_store_location" class="form-control"
                       mask="XX XX XX X"
                       [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_store_location.errors }"/>
              </td>
              <td [formGroupName]="i">
                <textarea formControlName="wh_batch_remark" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && option.controls.wh_batch_remark.errors }">
                </textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </form>
  </div>
</div>
<ng-template #content let-modal>	
  <div class="modal-header">	
    <h4 class="modal-title" id="modal-basic-title">เลือกเงื่อนไขการแจ้งเตือน</h4>	
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">	
      <span aria-hidden="true">&times;</span>	
    </button>	
  </div>	
  <div class="modal-body" style="margin-top: 20px;">	
    <form>	
      <div class="form-row form-group">	
        <div class="col-md-2 col-sm-12">	
          <div class="form-check pl-0">	
            <label class="radio-inline">ปี Year</label>	
          </div>	
        </div>	
        <div class="col-md-8 ml-2" *ngIf="reg_gene_id">	
          <select name="year"  class="form-control" [(ngModel)]="conditionYear" [ngModelOptions]="{standalone: true}">	
              <option value="">กรุณาเลือก</option>	
            <option *ngFor="let item of conditionDataYear">{{item.value}}</option>	
          </select>	
        </div>	
      </div>	
      <div class="form-row form-group">	
        <div class="col-md-2 col-sm-12">	
          <div class="form-check pl-0">	
            <label class="radio-inline">ความงอก</label>	
          </div>	
        </div>	
        <div class="col-md-8 ml-2" *ngIf="reg_gene_id">	
          <select id="year"  class="form-control" [(ngModel)]="conditionPercent" [ngModelOptions]="{standalone: true}">	
            <option value="">กรุณาเลือก</option>	
            <option *ngFor="let item of conditionDataPercent">{{item.value}}</option>	
          </select>	
        </div>	
      </div>	
      <div class="form-row form-group">	
        <div class="col-md-2 col-sm-12">	
          <div class="form-check pl-0">	
            <label class="radio-inline">น้ำหนัก</label>	
          </div>	
        </div>	
        <div class="col-md-8 ml-2" *ngIf="reg_gene_id">	
          <select name="year"  class="form-control" [(ngModel)]="conditionWeight" [ngModelOptions]="{standalone: true}">	
              <option value="">กรุณาเลือก</option>	
              <option *ngFor="let item of conditionDataWeight">{{item.value}}</option>	
          </select>	
        </div>	
      </div>	
    </form>	
  </div>	
  <div class="modal-footer">	
    <button type="button" class="btn btn-outline-dark" (click)="addConditionNoti(content)">Add</button>	
  </div>	
</ng-template>

<ngx-loading [show]="loading">
</ngx-loading>

