<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="d-block">Report Type</label>
        <select class="form-control" [(ngModel)]="search.reportType" (change)="changeReportType()">
          <option value="department">ประเภทหน่วยงาน (Types of Organization) *</option>
          <option value="reg_plant_type">ชนิดพืช (Reg Plant Type) *</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.startDt" />
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>End Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.endDt" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="search.reportType ==='department'">
  <data-table
    [items]="withdraws"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="50"
    [substituteRows]="false"
  >
    <data-table-column
      property="department"
      header="Department"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="total"
      header="จำนวนผู้ขอรับบริการ"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="complete"
      header="จำนวนตัวอย่าง (Plant list)ที่ให้บริการ"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<div *ngIf="search.reportType ==='reg_plant_type'">
  <data-table
    [items]="withdraws"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="15"
    [substituteRows]="false"
  >
    <data-table-column
      property="category_en"
      header="Reg Plant Type"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="complete"
      header="Total plant complete"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<ngx-loading [show]="loading"></ngx-loading>
