<div class="d-flex">
  <label class="control-label mt-2 mr-1">Start Date *:</label>
  <input
    type="date"
    class="form-control col-md-3 col-sm-12 border"
    [(ngModel)]="startDt"
  />

  <label class="control-label mt-2 ml-2 mr-1">End Date *:</label>
  <input
    type="date"
    class="form-control col-md-3 col-sm-12 border"
    [(ngModel)]="endDt"
  />
  <button class="btn btn-primary ml-2" (click)="search()">Search</button>
  <button class="btn btn-primary ml-2" (click)="export()">Export</button>
</div>

<data-table
  [items]="categories"
  [itemCount]="count"
  (reload)="reloadData($event)"
  [limit]="15"
  [sortBy]="'categoryName_en'"
  [substituteRows]="false"
>
  <data-table-title title="Name" [controls]="true"></data-table-title>
  <data-table-column
    property="categoryName_en"
    header="Name"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="register1"
    header="Register1"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="register3"
    header="Register3"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="register4"
    header="Register4"
    sortable="true"
    resizable="true"
  ></data-table-column>
</data-table>
<ngx-loading [show]="loading"></ngx-loading>
