<form [formGroup]="accessmentFormSearch">
  <div class="d-flex flex-wrap justify-content-end mt-2 mb-2 align-items-baseline">
    <label>Form Date &nbsp;</label>
    <input type="date" class="form-control col-md-3 col-sm-12 border mr-2"
           formControlName="fromDate"
           placeholder="Enter Search text here"/>

    <label>To Date &nbsp;</label>
    <input type="date" class="form-control col-md-3 col-sm-12 border mr-2"
           formControlName="toDate"
           placeholder="Enter Search text here"/>

    <select class="form-control col-md-2 mr-1" formControlName="rating">
      <option value="">All</option>
      <option value="Excellent">Excellent</option>
      <option value="Good">Good</option>
      <option value="Normal">Normal</option>
      <option value="Poor">Poor</option>
    </select>

    <button type="button" class="btn  btn-primary mr-2" (click)="onSearch()">Search</button>
    <button type="button" class="btn  btn-primary" (click)="onExportExcel()">Export</button>
  </div>
</form>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'createdAt'"
            [substituteRows]="false">
  <data-table-title title="Assessment List" [controls]="true">
  </data-table-title>

  <data-table-column property="rating" header="Rating" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="comment" header="Suggestion" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="createdAt" [width]="300" header="Sent Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-default mr-1 btn-link" type="button" (click)="onView(item, deleteContent)">
          <i class="mdi md-view"></i> View
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Assessment Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-inverse text-white">
    <p>Sent Date: &nbsp; {{momentObj(viewItem?.createdAt).format('MMM DD, YYYY HH.mm')}}</p>
    <p>Rating: &nbsp; {{viewItem?.rating}}</p>
    <p>Suggestions: &nbsp; {{viewItem?.comment || 'N/A'}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ngx-loading [show]="loading">
</ngx-loading>
