<div class="card-body">
  <div class="row">
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">ชนิดพืช (Plant Category)</label>
        <input type="text" class="margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchType($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">ชื่อพันธุ์ (Variety name)</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchName($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">หมายเลขประจำพันธุ์ (Reg Gene ID)</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchReg($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">Gs No</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchGane($event)"
            placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3" style="margin-top:20px;">
        <label class="margin-right">ชื่อวิทยาศาสตร์ (Reg Plant Sci Name)</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchSci($event)"
            placeholder="Enter Search text here" />
    </div>   
  </div>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Pending ({{count}})
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items" [itemCount]="count" (reload)="reloadData($event)" [limit]="50"
        [substituteRows]="false">
        <data-table-title [controls]="true">
        </data-table-title>


        <data-table-column header="Reg gene id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.reg_gene_id ? item?.reg_gene_id : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Gs No." sortable="true" resizable="true">
            <ng-template #cellTemplate let-item="item">
              {{item?.gs_no ? item?.gs_no : '-'}}
            </ng-template>
          </data-table-column>

        <data-table-column property="Reg Gene Id" header="Created At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Category (Reg plant type)" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
        
            {{item?.plant_gene_name?.plantCategory ? item?.plant_gene_name?.plantCategory?.categoryName_th : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Reg Plant type" sortable="true" resizable="true">
            <ng-template #cellTemplate let-item="item">
              {{item?.plant_gene_name?.plantCategory?.categoryName_th}}/{{item?.plant_gene_name?.plantCategory?.categoryName_en}}
            </ng-template>
          </data-table-column>
        <data-table-column property="updatedAt" header="Plant species (Reg Plant Sci Name)" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.plant_gene_name?.plantSpecie ? item?.plant_gene_name?.plantSpecie?.genus+' '+item?.plant_gene_name?.plantSpecie?.species : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.recovery_status ? item?.recovery_status:'draft'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)">
                <i class="mdi mdi-pencil"></i> Details
              </button>

              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Waiting to approve ({{count1}})
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items1" [itemCount]="count1" (reload)="reloadData1($event)" [limit]="50"
        [substituteRows]="false">
        <data-table-title [controls]="true">
        </data-table-title>

        <data-table-column header="Reg gene id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.reg_gene_id ? item?.reg_gene_id : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="M No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.recovery_id?.m_no ? item?.recovery_id?.m_no : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="Reg Gene Id" header="Created At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Category (Reg plant type)" sortable="true"
        resizable="true">
        <ng-template #cellTemplate let-item="item">
          {{item?.plant_gene_name?.plantCategory ? item?.plant_gene_name?.plantCategory?.categoryName_th : '-'}}
        </ng-template>
      </data-table-column>

      <data-table-column header="Reg Plant type" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.plant_gene_name?.plantCategory?.categoryName_th}}/{{item?.plant_gene_name?.plantCategory?.categoryName_en}}
          </ng-template>
        </data-table-column>
      <data-table-column property="updatedAt" header="Plant species (Reg Plant Sci Name)" sortable="true"
        resizable="true">
        <ng-template #cellTemplate let-item="item">
          {{item?.plant_gene_name?.plantSpecie ? item?.plant_gene_name?.plantSpecie?.genus+' '+item?.plant_gene_name?.plantSpecie?.species : '-'}}
        </ng-template>
      </data-table-column>

        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.recovery_status}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails1(item)">
                <i class="mdi mdi-pencil"></i> Details
              </button>

              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Approve ({{count2}})
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items2" [itemCount]="count2" (reload)="reloadData2($event)" [limit]="50"
        [substituteRows]="false">
        <data-table-title [controls]="true">
        </data-table-title>

        <data-table-column header="Reg gene id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.reg_gene_id ? item?.reg_gene_id : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="M No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.recovery_id?.m_no ? item?.recovery_id?.m_no : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="Reg Gene Id" header="Created At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : '-'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Category (Reg plant type)" sortable="true"
        resizable="true">
        <ng-template #cellTemplate let-item="item">
          {{item?.plant_gene_name?.plantCategory ? item?.plant_gene_name?.plantCategory?.categoryName_th : '-'}}
        </ng-template>
      </data-table-column>

      <data-table-column header="Reg Plant type" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.plant_gene_name?.plantCategory?.categoryName_th}}/{{item?.plant_gene_name?.plantCategory?.categoryName_en}}
          </ng-template>
        </data-table-column>
      <data-table-column property="updatedAt" header="Plant species (Reg Plant Sci Name)" sortable="true"
        resizable="true">
        <ng-template #cellTemplate let-item="item">
          {{item?.plant_gene_name?.plantSpecie ? item?.plant_gene_name?.plantSpecie?.genus+' '+item?.plant_gene_name?.plantSpecie?.species : '-'}}
        </ng-template>
      </data-table-column>

        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.recovery_status}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails1(item)">
                <i class="mdi mdi-pencil"></i> Details
              </button>

              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ngx-loading [show]="loading">
</ngx-loading>