<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantCategoryForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Topic<span class="text-danger">*</span> </label>
          <input type="text" formControlName="topic" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.topic.errors" class="invalid-feedback">
            <div *ngIf="f.topic.errors.required">Topic is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-9 col-sm-12">
          <label>Description<span class="text-danger">*</span> </label>
          <angular-editor id="editor2" formControlName="desc" [config]="editorConfig"></angular-editor>
          <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
            <div *ngIf="f.desc.errors.required">Long Description is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Image File </label>
          <div>
            <div class="font-weight-bold"
                 *ngIf="getAttachment('setting-files', imageFileDat) && !imageFile">
              <a [href]="getAttachment('setting-files', imageFileDat)"
                 target="_blank">Uploaded Image File</a>
            </div>
            <br/>
            <input type="file" class="m-1 mt-3 btn-outline"
                   accept="image/jpeg,image/png"
                   (change)="onFileUpload($event, 'imageFile')"/>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Status <span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="">Select Status</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<ngx-loading [show]="loading">
</ngx-loading>
