<div class="d-flex justify-content-start">
  <button class="btn btn-outline btn-sm" type="button">
    <i class="mdi mdi-link"></i> Lab Alert - {{labInfo?.lab_no}}
  </button>
</div>

<!-- <div class="d-flex justify-content-start mb-3  mt-2">
  <button class="btn btn-sm btn-info" (click)="onGetAlertListing('draft')">Active</button>
  <button class="ml-3 btn btn-sm btn-success" (click)="onGetAlertListing('complete')">Completed</button>
</div> -->

<app-ngbd-popover btnText="Submit to Module 9 (WH)" (onConfirm)="onSubmitPlants()"
  *ngIf="selectedPlantsForSubmit?.length" placement="right"></app-ngbd-popover>
<app-ngbd-popover btnText="Submit Complete to Module 9 (WH)" (onConfirm)="onSubmitPlantsComplete()"
  *ngIf="selectedPlantsForSubmit1?.length" placement="right"></app-ngbd-popover>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border" (keyup)="onSearch($event)"
    placeholder="Enter Search text here" />
</div>



<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div style="width:100%;height:100%" >Draft ({{count}})</div>
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items" [itemCount]="count" (reload)="reloadData($event)" [limit]="50" [sortBy]="'m_no'"
        [substituteRows]="false">
        <data-table-title [controls]="true">
        </data-table-title>

        <div>
          <data-table-column header="Select" sortable="true" resizable="true">
            <ng-template #cellTemplate let-item="item">
              <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                  [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
            </ng-template>
          </data-table-column>
        </div>

        <data-table-column header="Passport No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.passport?.passport_no ?item?.passport?.passport_no : 'N/A'}}
          </ng-template>
        </data-table-column>


        <data-table-column header="Vols No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.volume_no}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.reg_gene_id ?item?.reg_gene_id : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant form type" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.form_type}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant Stock" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{getStockInfo(item)}}
          </ng-template>
        </data-table-column>

        <data-table-column property="createdAt" header="Created At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Updated At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.updatedAt ? momentObj(item.updatedAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>


        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <span class="text-capitalize"> {{item?.alertFormStatus}}</span>
          </ng-template>
        </data-table-column>

        <div *ngIf="currentStatus === 'draft'">
          <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
            <ng-template #cellTemplate let-item="item">
              <div class="d-flex justify-content-start">
                <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails1(item)">
                  <i class="mdi mdi-pencil"></i> Details
                </button>

                <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                  *ngIf="false">
                  <i class="mdi mdi-delete"></i> Delete
                </button>
              </div>
            </ng-template>
          </data-table-column>
        </div>

      </data-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div style="width:100%;height:100%" >Pending ({{count1}})</div>
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items1" [itemCount]="count1" (reload)="reloadData1($event)" [limit]="50" [sortBy]="'m_no'"
        [substituteRows]="false">
        <data-table-title [controls]="true">
        </data-table-title>

        <div>
          <data-table-column header="Select" sortable="true" resizable="true">
            <ng-template #cellTemplate let-item="item">
              <label *ngIf="item?.alertFormStatus == 'approve' || item?.alertFormStatus == 'Approve'">
                <input type="checkbox" value="item" (change)="onChangeItemSelectComplete(item)"
                  [checked]="selectedPlantsForSubmit1.includes(item?._id)">
              </label>
            </ng-template>
          </data-table-column>
        </div>

        <data-table-column header="Passport No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.passport?.passport_no ?item?.passport?.passport_no : 'N/A'}}
          </ng-template>
        </data-table-column>


        <data-table-column header="Vols No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.volume_no}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.reg_gene_id ?item?.reg_gene_id : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant form type" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.form_type}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant Stock" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{getStockInfo(item)}}
          </ng-template>
        </data-table-column>

        <data-table-column property="createdAt" header="Created At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Updated At" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.updatedAt ? momentObj(item.updatedAt).format('MMMM Do YYYY, HH:mm') : 'N/A'}}
          </ng-template>
        </data-table-column>


        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <span class="text-capitalize"> {{item?.alertFormStatus}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)">
                <i class="mdi mdi-pencil"></i> Details
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div style="width:100%;height:100%" >Complete ({{count2}})</div>
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items2" [itemCount]="count1" (reload)="reloadData2($event)" [limit]="50" [sortBy]="'m_no'"
        [substituteRows]="false">
        <data-table-title [controls]="true">
        </data-table-title>

        <div *ngIf="currentStatus === 'draft'">
          <data-table-column header="Select" sortable="true" resizable="true">
            <ng-template #cellTemplate let-item="item">
              <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                  [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
            </ng-template>
          </data-table-column>
        </div>

        <data-table-column header="Passport No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.passport?.passport_no}}
          </ng-template>
        </data-table-column>


        <data-table-column header="Vols No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.volume_no}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.reg_gene_id ?item?.reg_gene_id : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant form type" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.volume?.form_type}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Plant Stock" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{getStockInfo(item)}}
          </ng-template>
        </data-table-column>

        <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
          </ng-template>
        </data-table-column>


        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <span class="text-capitalize"> {{item?.alertFormStatus}}</span>
          </ng-template>
        </data-table-column>

        <div *ngIf="currentStatus === 'complete'">
          <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
            <ng-template #cellTemplate let-item="item">
              <div class="d-flex justify-content-start">
                <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails2(item)">
                  <i class="mdi mdi-pencil"></i> Details
                </button>

                <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                  *ngIf="false">
                  <i class="mdi mdi-delete"></i> Delete
                </button>
              </div>
            </ng-template>
          </data-table-column>
        </div>

      </data-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>





<ngx-loading [show]="loading">
</ngx-loading>