<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="AttributeSetForm " (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Attribute Code <span class="text-danger">*</span> </label>
          <input type="text" formControlName="code" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.code.errors }"/>
          <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
            <div *ngIf="f.code.errors.required">Attribute Code is required</div>
          </div>
        </div>
      </div>

      <ngb-tabset>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="us"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>Title Name <span class="text-danger">*</span> </label>
              <input type="text" formControlName="name_en" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.name_en.errors }"/>
              <div *ngIf="submitted && f.name_en.errors" class="invalid-feedback">
                <div *ngIf="f.name_en.errors.required">Title Name in English is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="th"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>Title Name <span class="text-danger">*</span> </label>
              <input type="text" formControlName="name_th" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.name_th.errors }"/>
              <div *ngIf="submitted && f.name_th.errors" class="invalid-feedback">
                <div *ngIf="f.name_th.errors.required">Title Name in Thai is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Field Input <span class="text-danger">*</span></label>
          <select formControlName="fieldInput" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.fieldInput.errors }" (change)="typeChange($event)">
            <option value="text">Text</option>
            <option value="textarea">TextArea</option>
            <option value="dropdown">Dropdown</option>
            <option value="radio">Radio</option>
            <option value="checkbox">Checkbox</option>
            <option value="file">File</option>
            <option value="date">Datepicker</option>
          </select>
          <div *ngIf="submitted && f.fieldInput.errors" class="invalid-feedback">
            <div *ngIf="f.fieldInput.errors.required">Field Input is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Require <span class="text-danger">*</span></label>
          <div class="form-check pl-0" [ngClass]="{ 'is-invalid': true }">
            <label class="radio-inline"><input type="radio"
                                               formControlName="require"
                                               value="true"
                                               [ngClass]="{ 'is-invalid': submitted && f.require.errors }"
                                               class="mr-2">Yes</label>
            <label class="radio-inline"><input type="radio"
                                               value="false"
                                               formControlName="require"
                                               [ngClass]="{ 'is-invalid': submitted && f.require.errors }"
                                               class="ml-2 mr-2">No</label>
          </div>
          <div *ngIf="submitted && f.require.errors" class="invalid-feedback d-block">
            <div *ngIf="f.require.errors.required">Require is required</div>
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="IsMinMax">
        <div class="form-group col-md-6 col-sm-12">
          <label>Min </label>
          <input type="text" formControlName="min" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.min.errors }"/>
          <div *ngIf="submitted && f.min.errors" class="invalid-feedback">
            <div *ngIf="f.min.errors.required">Min is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>Max </label>
          <input type="text" formControlName="max" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.max.errors }"/>
          <div *ngIf="submitted && f.max.errors" class="invalid-feedback">
            <div *ngIf="f.max.errors.required">Max is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group">
          <label>Visible in frontend <span class="text-danger">*</span></label>
          <div class="form-check pl-0" [ngClass]="{ 'is-invalid': true }">
            <label class="radio-inline">
              <input type="radio"
                formControlName="isVisibleFrontend"
                value="true"
                [ngClass]="{ 'is-invalid': submitted && f.isVisibleFrontend.errors }"
                class="mr-2">Yes</label>
            <label class="radio-inline">
              <input type="radio"
                value="false"
                formControlName="isVisibleFrontend"
                [ngClass]="{ 'is-invalid': submitted && f.isVisibleFrontend.errors }"
                class="ml-2 mr-2">No</label>
          </div>
          <div *ngIf="submitted && f.isVisibleFrontend.errors" class="invalid-feedback d-block">
            <div *ngIf="f.isVisibleFrontend.errors.required">Visible Frontend is required</div>
          </div>
        </div>
      </div>

      <hr class="mb-4"/>

      <div *ngIf="IsManageValue">
        <ngb-alert [dismissible]="false" [type]="'success'">
          Manage Values
        </ngb-alert>
  
  
        <div formArrayName="optionValue"
             *ngFor="let option of AttributeSetForm.get('optionValue').controls; let i = index;">
  
          <ngb-tabset [formGroupName]="i">
  
            <ngb-tab>
              <ng-template ngbTabTitle>
                <flag-icon country="us"></flag-icon>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="form-row">
                  <div class="form-group col-md-5 col-sm-12">
                    <label>Value <span class="text-danger">*</span> </label>
                    <input type="text" formControlName="value_en" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && option.controls.value_en.errors }"/>
                    <div *ngIf="submitted && option.controls.value_en.errors" class="invalid-feedback">
                      <div *ngIf="option.controls.value_en.errors.required">Title Name in English is required</div>
                    </div>
                  </div>
  
                  <div class="form-group col-md-5 col-sm-12">
                    <label>Position <span class="text-danger">*</span> </label>
                    <input type="text" formControlName="position_en" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && option.controls.position_en.errors }"/>
                    <div *ngIf="submitted && option.controls.position_en.errors" class="invalid-feedback">
                      <div *ngIf="option.controls.position_en.errors.required">Position in English is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-2 col-sm-12">
                    <button class="btn btn-primary removeOptionValue" (click)="optionRemove(i)" type="button">Remove</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
  
            <ngb-tab>
              <ng-template ngbTabTitle>
                <flag-icon country="th"></flag-icon>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="form-row">
                  <div class="form-group col-md-5 col-sm-12">
                    <label>Value <span class="text-danger">*</span> </label>
                    <input type="text" formControlName="value_th" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && option.controls.value_th.errors }"/>
                    <div *ngIf="submitted && option.controls.value_th.errors" class="invalid-feedback">
                      <div *ngIf="option.controls.value_th.errors.required">Value in Thai is required</div>
                    </div>
                  </div>
  
                  <div class="form-group col-md-5 col-sm-12">
                    <label>Position <span class="text-danger">*</span> </label>
                    <input type="text" formControlName="position_th" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && option.controls.position_th.errors }"/>
                    <div *ngIf="submitted && option.controls.position_th.errors" class="invalid-feedback">
                      <div *ngIf="option.controls.position_th.errors.required">Position in Thai is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-2 col-sm-12">
                    <button class="btn btn-primary removeOptionValue" (click)="optionRemove(i)" type="button">Remove</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
  
          </ngb-tabset>
        </div>
        <button class="btn btn-primary" type="button" (click)="addItem()">Add More value</button>
      </div>
      

    </form>
  </div>
</div>
<ngx-loading [show]="loading">
</ngx-loading>
