<div class="card-body">
  <div class="mt-2 mb-2">
      <label class="margin-right">หมายเลขประจำพันธุ์ (Reg Gene ID)</label>
      <input type="text" class=" margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearcGane($event)"
        placeholder="Enter Search text here" />
    <label class="margin-right">ชนิดพืช (Reg Plant Type)</label>
    <input type="text" class="margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearchType($event)"
      placeholder="Enter Search text here" />
    <label class="margin-right">ชื่อพันธุ์ (Variety name)</label>
    <input type="text" class=" margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearchName($event)"
      placeholder="Enter Search text here" />
      <label class="margin-right">ชื่อวิทยาศาสตร์ (Reg Plant Sci Name)</label>
      <input type="text" class=" margin-right form-control col-md-3 col-sm-12 border" (keyup)="onSearchSci($event)"
      placeholder="Enter Search text here" />
  </div>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Waiting to Approve ({{count1}})
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items1" [itemCount]="count1" (reload)="reloadData1($event)" [limit]="50"
        [substituteRows]="false">

        <data-table-column header="D No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.obj?.m5_assigned?.d_no ? item?.obj?.m5_assigned?.d_no : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.reg_gene_id ? item?.wh?.reg_gene_id : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Gs No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.gs_no ? item?.wh?.gs_no : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Created Date" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.obj?.createdAt ? momentObj(item.obj?.createdAt).format('MMM Do YYYY') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Category(Reg plant type)" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.plant_gene_name?.plantCategory ? item?.wh?.plant_gene_name?.plantCategory?.categoryName_th : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Type (Reg Gene Name)" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.plant_gene_name?.plantTypeName_th ? item?.wh?.plant_gene_name?.plantTypeName_th : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Species (Reg Plant Sci Name)" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.plant_gene_name?.plantSpecie ? item?.wh?.plant_gene_name?.plantSpecie?.genus+' '+item?.wh?.plant_gene_name?.plantSpecie?.species : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Date Send" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.obj?.updatedAt ? momentObj(item.obj?.updatedAt).format('MMM Do YYYY') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
              {{item?.obj?.distributionStatus === 'pending' && item?.obj?.admin_amount ? 'Approve' : item?.obj?.distributionStatus}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)">
                <i class="mdi mdi-pencil"></i> Details
              </button>

              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Approve ({{count2}})
    </ng-template>
    <ng-template ngbTabContent>
      <data-table [items]="items2" [itemCount]="count2" (reload)="reloadData2($event)" [limit]="50"
        [substituteRows]="false">
        <data-table-column header="D No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.obj?.m5_assigned?.d_no ? item?.obj?.m5_assigned?.d_no : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.reg_gene_id ? item?.wh?.reg_gene_id : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Gs No." sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.gs_no ? item?.wh?.gs_no : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Created Date" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.obj?.createdAt ? momentObj(item.obj?.createdAt).format('MMM Do YYYY') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Category(Reg plant type)" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.plant_gene_name?.plantCategory ? item?.wh?.plant_gene_name?.plantCategory?.categoryName_th : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Type (Reg Gene Name)" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.plant_gene_name?.plantTypeName_th ? item?.wh?.plant_gene_name?.plantTypeName_th : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Plant Species (Reg Plant Sci Name)" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.wh?.plant_gene_name?.plantSpecie ? item?.wh?.plant_gene_name?.plantSpecie?.genus+' '+item?.wh?.plant_gene_name?.plantSpecie?.species : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column property="updatedAt" header="Date Send" sortable="true"
          resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.obj?.updatedAt ? momentObj(item.obj?.updatedAt).format('MMM Do YYYY') : 'N/A'}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
              {{item?.obj?.distributionStatus === 'pending' && item?.obj?.admin_amount ? 'Approve' : item?.obj?.distributionStatus}}
          </ng-template>
        </data-table-column>

        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)">
                <i class="mdi mdi-pencil"></i> Details
              </button>

              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>

      </data-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ngx-loading [show]="loading">
</ngx-loading>