<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [substituteRows]="false">
  <data-table-title title="Distribution List" [controls]="true">
  </data-table-title>

  <data-table-column property="d_no" header="Di No." sortable="true" resizable="true">
  </data-table-column>


  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{this.getStatus(item)}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Details
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="false">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Passport</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this passport?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">With Draw</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerPassportForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ได้รับเอกสารขอรับบริการเมล็ดเชื้อพันธุ์</label>
          <input type="date" formControlName="dateOfReceiving" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.dateOfReceiving.errors }"/>
          <div *ngIf="submitted && f.dateOfReceiving.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfReceiving.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หนังสือขอรับบริการเม็ดเชื้อพันธุ์</label>
          <input type="text" formControlName="serviceRequestLetter" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.serviceRequestLetter.errors }"/>

          <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event)"/>
          <div *ngIf="submitted && f.serviceRequestLetter.errors" class="invalid-feedback">
            <div *ngIf="f.serviceRequestLetter.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>**หน่วยงานที่ขอรับบริการเมล็ดเชื้อพันธุ์ <span class="text-danger">*</span></label>
          <select formControlName="agenciesRequestSeedGermination" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.agenciesRequestSeedGermination.errors }">
            <option value="1.18.1.1 รัฐบาล">1.18.1.1 รัฐบาล</option>
            <option value="1.18.1.2 เอกชน">1.18.1.2 เอกชน</option>
            <option value="1.18.1.3 มหาวิทยาลัย">1.18.1.3 มหาวิทยาลัย</option>
            <option value="อื่นๆ">อื่นๆ</option>
          </select>
          <div *ngIf="submitted && f.agenciesRequestSeedGermination.errors" class="invalid-feedback">
            <div *ngIf="f.agenciesRequestSeedGermination.errors.required">สถานที่ is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row pl-4" *ngIf="f?.agenciesRequestSeedGermination?.value === '1.18.1.1 รัฐบาล'">
        <div class="form-group col-sm-8">
          <select formControlName="agenciesSubRequestSeedGermination" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.agenciesSubRequestSeedGermination.errors }">
            <option value="1.18.1.1.1 หน่วยงานภายใน">1.18.1.1.1 หน่วยงานภายใน</option>
            <option value="1.18.1.1.2 หน่วยงานภายนอก">1.18.1.1.2 หน่วยงานภายนอก</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
          <input type="text" formControlName="agenciesSubRequestSeedGerminationInput" class="form-control"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>ชื่อผู้ขอ</label>
          <input type="text" formControlName="numberOfRequestor" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.numberOfRequestor.errors }"/>
          <div *ngIf="submitted && f.numberOfRequestor.errors" class="invalid-feedback">
            <div *ngIf="f.numberOfRequestor.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>ที่อยู่ผู้ขอ</label>
          <input type="text" formControlName="requestorAddress" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.requestorAddress.errors }"/>
          <div *ngIf="submitted && f.requestorAddress.errors" class="invalid-feedback">
            <div *ngIf="f.requestorAddress.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หมายเลขโทรศัพท์</label>
          <input type="text" formControlName="telephoneNumber" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.telephoneNumber.errors }"/>
          <div *ngIf="submitted && f.telephoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.telephoneNumber.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>email</label>
          <input type="text" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วัตถุประสงค์</label>
          <input type="text" formControlName="objective" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.objective.errors }"/>
          <div *ngIf="submitted && f.objective.errors" class="invalid-feedback">
            <div *ngIf="f.objective.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>เจ้าของเชื้อพันธุ์ (ส่วนนี้จะใช้สำหรับการดึงข้อมูล)</label>
          <input type="text" formControlName="owner" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.owner.errors }"/>
          <div *ngIf="submitted && f.owner.errors" class="invalid-feedback">
            <div *ngIf="f.owner.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary mr-1" type="submit">Create</button>
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>

<ngx-loading [show]="loading">
</ngx-loading>
