<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h4 class="main-page-heading-text m-b-0">{{pageInfo?.title}}</h4>
        <ul class="breadcrumb">
            <li *ngFor = "let breadcrumb of breadcrumbs; let i = index;">
                <a [routerLink]="breadcrumb.link" *ngIf="i != breadcrumbs.length - 1">{{breadcrumb.title}}</a>
                <span *ngIf="i == breadcrumbs.length - 1">{{breadcrumb.title}}</span>
            </li>
        </ul>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
