<div class="d-flex justify-content-between">
  <button class="btn btn-outline btn-sm" type="button">
    Passport <strong>{{passportInfo?.passport_no}}</strong> > Vols No List
  </button>

  <div>
    <app-ngbd-popover btnText="Lock"
                      btnClass="btn btn-danger btn-sm mr-3"
                      title="Lock Confirmation"
                      message="Are you sure to Locked. Once Locked, it can't be undone"
                      (onConfirm)="onLockVolume()"
                      icon="mdi mdi-lock"
                      *ngIf="!passportInfo?.isVolumeLock"
                      placement="left"></app-ngbd-popover>

    <button class="btn btn-primary btn-sm" type="button" (click)="onCreate(createContent)" *ngIf="!passportInfo?.isVolumeLock">
      <i class="mdi mdi-link"></i> Create No.
    </button>
  </div>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch()"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'volume_no'"
            [substituteRows]="false">
  <data-table-title title="Volume List" [controls]="true">
  </data-table-title>

  <data-table-column header="Pass No" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport_no?.passport_no ? item?.passport_no?.passport_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="volume_no" header="Vols. No" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="form_type" header="Form Type" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span *ngIf="item.form_type  !== 'Register 4'">
        {{item.pendingPlant || item.isNewPassport ? 'Draft' : 'Complete'}}
      </span>

      <span *ngIf="item.form_type === 'Register 4'">
        {{item.pendingPlant || !item.totals  || item.isNewPassport ? 'Draft' : 'Complete'}}
      </span>
    </ng-template>
  </data-table-column>


  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
    </ng-template>
  </data-table-column>


  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
          <i class="mdi mdi-pencil"></i> Details
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Volume</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this volume?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create No</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerVolumeForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <!--<div class="form-row">-->
        <!--<div class="form-group col-sm-12 justify-content-center d-flex">-->
          <!--<label class="text-muted">Passport No. </label>-->
          <!--12345-->
        <!--</div>-->
      <!--</div>-->

      <div class="form-row">
        <div class="form-group col-sm-12 d-flex justify-content-center flex-wrap font-weight-bold">
          <label>Confirm Create New Vols / ยืนยันการสร้างเลขที่รับใหม่ </label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>Form Type<span class="text-danger">*</span></label>
          <select formControlName="form_type" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.form_type.errors }">
            <!-- <option value="">Select Form</option> -->
            <option value="Register 1/2">Register 1/2</option>
            <option value="Register 3">Register 3</option>
            <option value="Register 4">Register 4</option>
          </select>
          <div *ngIf="submitted && f.form_type.errors" class="invalid-feedback">
            <div *ngIf="f.form_type.errors.required">Form Type is required</div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-primary mr-1" type="submit">Create</button>
      <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
    </div>
  </form>

</ng-template>


<ngx-loading [show]="loading">
</ngx-loading>

