<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="PlantTypeForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>


      <ngb-tabset>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="us"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>Cultivar/Variety <span class="text-danger">*</span> </label>
              <input type="text" formControlName="plantTypeName_en" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_en.errors }"/>
              <div *ngIf="submitted && f.plantTypeName_en.errors" class="invalid-feedback">
                <div *ngIf="f.plantTypeName_en.errors.required">Plant Type in English is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="th"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>Cultivar/Variety <span class="text-danger">*</span> </label>
              <input type="text" formControlName="plantTypeName_th" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_th.errors }"/>
              <div *ngIf="submitted && f.plantTypeName_th.errors" class="invalid-feedback">
                <div *ngIf="f.plantTypeName_th.errors.required">Plant Type in Thai is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Plant <span class="text-danger">*</span></label>
          <select formControlName="plantCategory" class="form-control"
                  (change)="onSelected($event)"
                  [ngClass]="{ 'is-invalid': submitted && f.plantCategory.errors }">
            <option value="">Select Plant Category</option>
            <option [value]="category._id"
                    *ngFor="let category of plantCategories">{{category.categoryName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.plantCategory.errors" class="invalid-feedback">
            <div *ngIf="f.plantCategory.errors.required">Plant Category is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Plant Species <span class="text-danger">*</span></label>
          <select formControlName="plantSpecie" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plantSpecie.errors }">
            <option value="">Select Plant Specie</option>
            <option [value]="character._id"
                    *ngFor="let character of filterCharacters">{{character.genus + " " + character.species}}
            </option>
          </select>
          <div *ngIf="submitted && f.plantSpecie.errors" class="invalid-feedback">
            <div *ngIf="f.plantSpecie.errors.required">Plant Specie is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12">
          <label>Plant Category Status <span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="">Select Type</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<ngx-loading [show]="loading">
</ngx-loading>
