<div class="d-flex justify-content-start">
  <button class="btn btn-outline btn-sm" type="button">
    <i class="mdi mdi-link"></i> Recovery Create - {{recoverInfo?.m_no}}
  </button>
</div>

<app-ngbd-popover btnText="Submit"
                  (onConfirm)="onSubmitPlants()"
                    *ngIf="selectedPlantsForSubmit?.length"
                  placement="right"></app-ngbd-popover>

<!-- <div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div> -->
<div class="row" style="margin-top:20px;margin-bottom:20px;">
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">ชนิดพืช (Plant Category)</label>
        <input type="text" class="margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchType($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-4 col-sm-4">
        <label class="margin-right">หมายเลขประพันธุ์ (Registered No.)</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchReg($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">Gs No</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchGane($event)"
            placeholder="Enter Search text here" />
    </div>
  </div>
<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'m_no'"
            [substituteRows]="false">
  <data-table-title title="Pending Multiplication and Regeneration List" [controls]="true">
  </data-table-title>

  <data-table-column header="Select" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                    [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
    </ng-template>
  </data-table-column>

  <data-table-column header="Registered No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Gs No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.gs_no ? item?.gs_no : '-'}}
    </ng-template>
  </data-table-column>



  <data-table-column header="Plant Stock" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getStockInfo(item)}}
    </ng-template>
  </data-table-column>

  

  <data-table-column header="Reg Plant type" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantCategory?.categoryName_th}}/{{item?.plant_gene_name?.plantCategory?.categoryName_en}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Batch" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.selectedBatchRoom ? item?.selectedBatchRoom :'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      Draft
    </ng-template>
  </data-table-column>
</data-table>

<ngx-loading [show]="loading">
</ngx-loading>
