<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantGroupTypeForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit" *ngIf="recoverStatus != 'complete'">Save</button>
        </div>
      </div>

      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            Sent
          </ng-template>
          <ng-template ngbTabContent>


            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label class="mt-2">หนังสือส่งฟื้นฟู <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       disabled
                       [value]="recoverInfo?.revival_plant || ''"/>
                <br/>
                <div class="font-weight-bold mt-2"
                     *ngIf="recoverInfo?.recover_file && getAttachment('recovery-files', recoverInfo?.recover_file)">
                  <a [href]="getAttachment('recovery-files', recoverInfo?.recover_file)"
                     target="_blank">Uploaded Recover File</a>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>วันที่ส่งพืชฟื้นฟู <span class="text-danger">*</span> </label>
                <input type="date" class="form-control"
                       formControlName="recovery_sent_date"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_sent_date.errors }"/>
                <div *ngIf="submitted && f.recovery_sent_date.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_sent_date.errors.required">วันที่ส่งพืชฟื้นฟู is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>หมายเลขประจำพันธุ์ <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       disabled
                       [value]="plantInfo?.reg_gene_id"/>
              </div>
            </div>

            <!--<div class="form-row">-->
              <!--<div class="form-group col-md-6 col-sm-12">-->
                <!--<label>GSNo. <span class="text-danger">*</span> </label>-->
                <!--<input type="text" class="form-control"-->
                       <!--disabled-->
                       <!--[value]="plantInfo?.gs_no"/>-->
              <!--</div>-->
            <!--</div>-->


            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ชื่อพืช <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       disabled
                       [value]="getCategoryName(selectedPlant?.plant_category) || ''"/>
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-6  col-sm-12">
                <label>ชื่อวิทยาศาสตร์ <span class="text-danger">*</span></label>
                <ng-autocomplete
                  disabled
                  [searchKeyword]="'genus'"
                  formControlName="reg_plant_sci_name"
                  [data]="plantsListing"
                  placeHolder="Select the Reg Plant Sci Name"
                  [itemTemplate]="itemTemplate"
                  (selected)="onSelect($event)"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="'' + item.genus + ' '+ item.species"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>บรรยายลักษณะเบื้องต้น <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       disabled
                       [value]="plantInfo?.reg_character_brief"/>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ข้อมูลลักษณะประจำพันธุ์ สำหรับจัดทำฐานข้อมูล <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       disabled
                       [value]="plantInfo?.reg_character_for_record"/>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ความงอก ก่อนส่งฟื้นฟู <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       disabled
                       [value]="plantInfo?.lab_test_growth_percent"/>
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <label>ปริมาณ ก่อนส่งฟื้นฟู<span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       formControlName="recovery_amount"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_amount.errors }"/>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <label>&nbsp;&nbsp;</label>
                <select formControlName="recovery_amount_dropdown" class="form-control"
                        [value]="plantInfo?.selfing_dropdown || plantInfo?.oop_dropdown || plantInfo?.other_dropdown"
                        [ngClass]="{ 'is-invalid': submitted && f.recovery_amount_dropdown.errors }">
                        <option value="">Select Group</option>
                        <option value="เมล็ด / Seed">เมล็ด / Seed</option>
                        <option value="กรัม / Gram">กรัม / Gram</option>
                </select>
                <!-- <input type="text" class="form-control"
                       [value]="plantInfo?.selfing_dropdown || plantInfo?.oop_dropdown || plantInfo?.other_dropdown"
                      disabled/>             -->
                <!-- <input type="text" class="form-control"
                       [value]="plantInfo?.selfing_dropdown || plantInfo?.oop_dropdown || plantInfo?.other_dropdown"/> -->
              </div>
            </div>

            <div class="alert alert-info">แหล่งที่ฟื้นฟู</div>
            <hr/>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>สถานที่ <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       formControlName="recovery_place"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_place.errors }"/>
                <div *ngIf="submitted && f.recovery_place.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_place.errors.required">สถานที่ is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>จังหวัด <span class="text-danger">*</span> </label>
                <select formControlName="recovery_province" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.recovery_province.errors }">
                  <option value="">Select Province</option>
                  <option [value]="item._id"
                          *ngFor="let item of provinceList">
                    {{item.provinceName_en}}
                  </option>
                </select>
                <div *ngIf="submitted && f.recovery_province.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_province.errors.required">จังหวัด is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>อำเภอ <span class="text-danger">*</span> </label>
                <select formControlName="recovery_district" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.recovery_district.errors }">
                  <option value="">Select Province</option>
                  <option [value]="item._id"
                          *ngFor="let item of aumperList">
                    {{item.aumperName_en}}
                  </option>
                </select>
                <div *ngIf="submitted && f.recovery_district.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_district.errors.required">อำเภอ is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ตำบล <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       formControlName="recovery_sub_district"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_sub_district.errors }"/>
                <div *ngIf="submitted && f.recovery_sub_district.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_sub_district.errors.required">ตำบล is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <div>
                  <label>ที่อยู่<span class="text-danger">*</span> </label>
                </div>
                <textarea formControlName="recovery_address"
                          class="col-12 form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.recovery_address.errors }">
                </textarea>
                <div *ngIf="submitted && f.recovery_address.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_address.errors.required">ที่อยู่ is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2 col-sm-12">
                <label>พิกัด  </label>
                <input type="number" min="0" class="form-control"
                       formControlName="recovery_lat"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_lat.errors }"
                       />
                       <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_lat.errors }" -->
                <!-- <div *ngIf="submitted && f.recovery_lat.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_lat.errors.required">Latitude is required</div>
                </div> -->
              </div>
              <div class="form-group col-md-2 col-sm-12">
                <label>&nbsp; </label>
                <input type="number" min="0" class="form-control"
                       formControlName="recovery_long"
                       />
                       <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_long.errors }" -->
                <div *ngIf="submitted && f.recovery_long.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_long.errors.required">Longitude is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ความสูงจากระดับน้ำทะเล(เมตร)  </label>
                <input type="text" class="form-control"
                       formControlName="recovery_sea_level"
                       />
                       <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_sea_level.errors }" -->
                <div *ngIf="submitted && f.recovery_sea_level.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_sea_level.errors.required">ความสูงจากระดับน้ำทะเล(เมตร) is required</div>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            Receive
          </ng-template>
          <ng-template ngbTabContent>
            <div class="alert alert-info mt-2">ระบบฟื้นฟูเชื้อพันธุ์กรรมพืช</div>
            <hr/>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>วันที่ปลูกฟื้นฟูเมล็ดพันธุ์ <span class="text-danger">*</span> </label>
                <input type="date" class="form-control"
                       formControlName="recovery_rec_recover_date"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_recover_date.errors }"/>
                <div *ngIf="submitted && f.recovery_rec_recover_date.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_recover_date.errors.required">วันที่ปลูกฟื้นฟูเมล็ดพันธุ์ is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์ฟื้นฟู <span class="text-danger">*</span> </label>
                <input type="date" class="form-control"
                       formControlName="recovery_rec_recover_collect_date"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_recover_collect_date.errors }"/>
                <div *ngIf="submitted && f.recovery_rec_recover_collect_date.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_recover_collect_date.errors.required">วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์ฟื้นฟู  is
                    required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ผู้นำส่งเมล็ดเชื้อพันธุ์พืชฟื้นฟู <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       formControlName="recovery_rec_recover_collect_person"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_recover_collect_person.errors }"/>
                <div *ngIf="submitted && f.recovery_rec_recover_collect_person.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_recover_collect_person.errors.required">วันที่ปลูกฟื้นฟูเมล็ดพันธุ์ is
                    required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>วันที่รับพืชหลังจากฟื้นฟูเสร็จ <span class="text-danger">*</span> </label>
                <input type="date" class="form-control"
                       formControlName="recovery_rec_date"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_date.errors }"/>
                <div *ngIf="submitted && f.recovery_rec_date.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_date.errors.required">วันที่รับพืชหลังจากฟื้นฟูเสร็จ is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>หนังสือรับพืชที่ฟื้นฟูเสร็จ <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       formControlName="recovery_rec_no"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_no.errors }"/>
                <div *ngIf="submitted && f.recovery_rec_no.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_no.errors.required">หนังสือส่งฟื้นฟู is required</div>
                </div>
                <br/>
                <input type="file" class="m-1 mt-0 btn-outline" (change)="onFileUpload($event)"/>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ผู้ประสานงาน <span class="text-danger">*</span> </label>
                <input type="text" class="form-control"
                       formControlName="recovery_rec_co_person"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_co_person.errors }"/>
                <div *ngIf="submitted && f.recovery_rec_co_person.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_co_person.errors.required">ผู้ประสานงาน is required</div>
                </div>
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ข้อมูลการประเมินเชื้อพันธุ์พืช <span class="text-danger">*</span> </label>
                <div class="form-check pl-0" [ngClass]="{ 'is-invalid': true }">
                  <label class="radio-inline">
                    <input type="radio"
                           formControlName="recovery_rec_detail"
                           value="มี"
                           [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_detail.errors }"
                           class="mr-2">มี</label>
                  <label class="radio-inline">
                    <input type="radio"
                           value="ไม่มี"
                           formControlName="recovery_rec_detail"
                           [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_detail.errors }"
                           class="ml-2 mr-2">ไม่มี</label>
                </div>
                <div *ngIf="submitted && f.recovery_rec_detail.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_detail.errors.required">หนังสือส่งฟื้นฟู is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ข้อมูลลักษณะการประเมิน </label>
                <input type="text" class="form-control"
                       formControlName="recovery_rec_method"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_method.errors }"
                       />
                       <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_method.errors }" -->
                <div *ngIf="submitted && f.recovery_rec_method.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_method.errors.required">ข้อมูลลักษณะการประเมิน is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ตรวจสอบการตรงตามพันธุ์เบื้องต้น <span class="text-danger">*</span> </label>
                <select formControlName="recovery_rec_gene_check" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_gene_check.errors }">
                  <option value="">Select ตรวจสอบการตรงตามพันธุ์เบื้องต้น</option>
                  <option value="ผ่าน">ผ่าน</option>
                  <option value="ไม่ผ่าน">ไม่ผ่าน</option>
                  <option value="ไม่ฟื้นฟู">ไม่ฟื้นฟู</option>
                </select>
                <div *ngIf="submitted && f.recovery_rec_gene_check.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_gene_check.errors.required">ตรวจสอบการตรงตามพันธุ์เบื้องต้น is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <div>
                  <label>Recovery Remark </label>
                </div>
                <textarea formControlName="recovery_rec_remark"
                          class="col-12 form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_remark.errors }">
                </textarea>
                <div *ngIf="submitted && f.recovery_rec_remark.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_rec_remark.errors.required">ที่อยู่ is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label>ความงอก (หลังฟื้นฟู)</label>
                <input type="number" class="form-control"
                       min="0" OnlyNumber="true" max="100"
                       formControlName="recovery_test_growth_percent"
                       />
                       <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_test_growth_percent.errors }" -->
                <div *ngIf="submitted && f.recovery_test_growth_percent.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_test_growth_percent.errors.required">ความงอก (หลังฟื้นฟู) is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 col-sm-12">
                <label>ปริมาณ หลังฟื้นฟูเสร็จ <span class="text-danger">*</span> </label>
                <input type="number" class="form-control"
                       min="0"
                       OnlyNumber="true"
                       formControlName="recovery_seed_amount"
                       [ngClass]="{ 'is-invalid': submitted && f.recovery_seed_amount.errors }"/>
                <div *ngIf="submitted && f.recovery_seed_amount.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_seed_amount.errors.required">ปริมาณ หลังฟื้นฟูเสร็จ is required</div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <label>&nbsp; </label>
                <select formControlName="recovery_amount_dropdown" class="form-control"
                        [value]="plantInfo?.selfing_dropdown || plantInfo?.oop_dropdown || plantInfo?.other_dropdown"
                        [ngClass]="{ 'is-invalid': submitted && f.recovery_amount_dropdown.errors }">
                        <option value="">Select Group</option>
                        <option value="เมล็ด / Seed">เมล็ด / Seed</option>
                        <option value="กรัม / Gram">กรัม / Gram</option>
                </select>
                <!-- <input type="text" class="form-control"
                       [value]="plantInfo?.selfing_dropdown || plantInfo?.oop_dropdown || plantInfo?.other_dropdown"/> -->
                <div *ngIf="submitted && f.recovery_seed_amount.errors" class="invalid-feedback">
                  <div *ngIf="f.recovery_seed_amount.errors.required">ปริมาณ หลังฟื้นฟูเสร็จ is required</div>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <div class="footer-sticky-bottom">
        <div class="text-left">
          <button class="btn btn-primary" type="submit" *ngIf="recoverStatus != 'complete'">Save</button>
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>            
    </form>
  </div>
</div>


<ngx-loading [show]="loading">
</ngx-loading>

