<div class="d-flex justify-content-start btn btn-outline">
  Lab &nbsp;<strong>{{labInfo?.lab_no}}</strong>&nbsp; - Vols &nbsp;<strong>{{volumeInfo?.volume_no}}</strong>
</div>

<app-ngbd-popover btnText="Submit to Module 9 (WH)"
                  (onConfirm)="onSubmitPlants()"
                  *ngIf="selectedPlantsForSubmit?.length && currentStatus==='draft'"
                  placement="right"></app-ngbd-popover>


<!-- <div class="d-flex justify-content-start mb-3  mt-2">
  <button class="btn btn-sm btn-info" (click)="onGetListing('draft')">Active</button>
  <button class="ml-3 btn btn-sm btn-success" (click)="onGetListing('complete')">Completed</button>
</div> -->


<div class="d-flex justify-content-end mt-2 mb-2">
  <button class="ml-3 btn btn-sm btn-info mr-4" (click)="addPlantsToLab()" *ngIf="!labInfo?.totalPlants">Add Plants in Lab</button>
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle >
      <div (click)="onGetListing('draft')"> Active</div>
    </ng-template>
<ng-template ngbTabContent>
<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'passport_no'"
            [substituteRows]="false">
  <data-table-title title="Lab List" [controls]="true">
  </data-table-title>


  <div *ngIf="currentStatus==='draft'">
    <data-table-column header="Select"
                       sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                      [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
      </ng-template>
    </data-table-column>
  </div>

  <data-table-column property="passport_no"  header="Pass No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport?.passport_no ? item?.passport?.passport_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="vols_no" header="Vols No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.volume_no ? item?.volume?.volume_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="reg_seed_no" header="Reg Seed No" sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="reg_gene_id" header="Registration No." sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="plant_form_type" header="Plant Form Type" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type ? item?.volume?.form_type : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="categoryName_en" header="ชื่อพืช/ชนิดพืช" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.categoryName_en }}
    </ng-template>    
  </data-table-column>

  <data-table-column property="" header="ชื่อพันธุ์" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_plant_sci_name?.genus}}&nbsp;{{item?.reg_plant_sci_name?.species}}
    </ng-template>       
  </data-table-column>

  <data-table-column property="plant_form_type" header="Plant Stock" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getPlantStockType(item)}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.m8lab_plant_createdBy?.fullName ? item?.m8lab_plant_createdBy?.fullName : 'N/A'}}
      <!-- {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}} -->
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.m8lab_plant_createdAt ? momentObj(item.m8lab_plant_createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
      <!-- {{item?.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}} -->
    </ng-template>
  </data-table-column>

  <!--<data-table-column property="updatedAt" header="Updated Date" sortable="true"-->
  <!--resizable="true">-->
  <!--<ng-template #cellTemplate let-item="item">-->
  <!--{{item?.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}-->
  <!--</ng-template>-->
  <!--</data-table-column>-->

  <data-table-column header="Status" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span class="text-capitalize">{{item.m8_lab_status}}</span>
    </ng-template>
  </data-table-column>

  <div>
    <data-table-column header="Action" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
            <i class="mdi mdi-pencil"></i> {{currentStatus === 'draft' ? 'Edit' : 'Details'}}
          </button>

          <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
            <i class="mdi mdi-delete"></i> Delete
          </button>
        </div>
      </ng-template>
    </data-table-column>
  </div>

</data-table>

</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle >
  <div (click)="onGetListing('complete')"> Completed</div>
</ng-template>
<ng-template ngbTabContent>
<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'passport_no'"
            [substituteRows]="false">
  <data-table-title title="Lab List" [controls]="true">
  </data-table-title>


  <div *ngIf="currentStatus==='draft'">
    <data-table-column header="Select"
                       sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                      [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
      </ng-template>
    </data-table-column>
  </div>

  <data-table-column property="passport_no"  header="Pass No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport?.passport_no ? item?.passport?.passport_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="vols_no" header="Vols No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.volume_no ? item?.volume?.volume_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="reg_seed_no" header="Reg Seed No" sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="reg_gene_id" header="Registration No." sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="plant_form_type" header="Plant Form Type" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type ? item?.volume?.form_type : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="gene_plantTypeName_en" header="ชื่อพืช/ชนิดพืช" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.gene_plantTypeName_en }}
    </ng-template>    
  </data-table-column>

  <data-table-column property="" header="ชื่อพันธุ์" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantTypeName_en }}
    </ng-template>       
  </data-table-column>

  <data-table-column property="plant_form_type" header="Plant Stock" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getPlantStockType(item)}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.m8lab_plant_createdBy?.fullName ? item?.m8lab_plant_createdBy?.fullName : 'N/A'}}
      <!-- {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}} -->
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.m8lab_plant_createdAt ? momentObj(item.m8lab_plant_createdAt).format('MMM Do YYYY') : 'N/A'}}
      <!-- {{item?.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}} -->
    </ng-template>
  </data-table-column>

  <!--<data-table-column property="updatedAt" header="Updated Date" sortable="true"-->
  <!--resizable="true">-->
  <!--<ng-template #cellTemplate let-item="item">-->
  <!--{{item?.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}-->
  <!--</ng-template>-->
  <!--</data-table-column>-->

  <data-table-column header="Status" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span class="text-capitalize">{{item.m8_lab_status}}</span>
    </ng-template>
  </data-table-column>

  <div>
    <data-table-column header="Action" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
            <i class="mdi mdi-pencil"></i> {{currentStatus === 'draft' ? 'Edit' : 'Details'}}
          </button>

          <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="false">
            <i class="mdi mdi-delete"></i> Delete
          </button>
        </div>
      </ng-template>
    </data-table-column>
  </div>

</data-table>

</ng-template>
</ngb-tab>
</ngb-tabset>
        
<ngx-loading [show]="loading">
</ngx-loading>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Lab Plant</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this lab Plant?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
