<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantGroupTypeForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit" *ngIf="!disabled">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ประเภทแบบฟอร์ม (Plant form type) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="volumeInfo?.form_type"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Passport No. <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="passportInfo?.passport_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เลขที่รับ (ชุดที่) (Reg. Vol) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="volumeInfo?.volume_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ลงทะเบียน (Reg Date) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="passportInfo?.reg_date"/>
        </div>
      </div>

      <div class="form-row" *ngIf="getAttachment('passport-reg-files', passportInfo?.reg_attach_file)">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Agreement <span class="text-danger">*</span> </label>
          <div class="font-weight-bold">
            <a [href]="getAttachment('passport-reg-files', passportInfo?.reg_attach_file)"
               target="_blank">Agreement File</a>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชนิดพืช (Reg Plant Type) <span class="text-danger">*</span> </label>
          <select class="form-control" disabled [value]="selectedPlant?.plant_category">
            <option value=""></option>
            <option [value]="item._id"
                    *ngFor="let item of categoryList">
              {{item?.categoryName_en}}
            </option>
          </select>
        </div>
      </div>


      <div class="form-row" *ngIf="plantInfo?.reg_gene_id">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเลขประจำพันธุ์ (Reg Gene Id) </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="plantInfo?.reg_gene_id"/>
        </div>
      </div>


      <div class="form-row" *ngIf="plantInfo?.gs_no">
        <div class="form-group col-md-6 col-sm-12">
          <label>GSNo. </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="plantInfo?.gs_no"/>
        </div>
      </div>


      <div class="form-row" *ngIf="plantInfo?.recovery_id?.m_no">
        <div class="form-group col-md-6 col-sm-12">
          <label>รหัสการส่งฟื้นฟู </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="plantInfo?.recovery_id?.m_no"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ลงทะเบียนเมล็ดเชื้อพันธุ์ฟื้นฟู <span class="text-danger">*</span> </label>
          <input type="date" class="form-control"
                 formControlName="reg_seed_recovery_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_recovery_date.errors }"/>
          <div *ngIf="submitted && f.reg_seed_recovery_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_recovery_date.errors.required">วันที่ลงทะเบียนเมล็ดเชื้อพันธุ์ฟื้นฟู is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่รับเมล็ดเชื้อพันธุ์ฟื้นฟู <span class="text-danger">*</span> </label>
          <input type="date" class="form-control"
                 formControlName="reg_seed_receive_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_receive_date.errors }"/>
          <div *ngIf="submitted && f.reg_seed_receive_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_receive_date.errors.required">วันที่รับเมล็ดเชื้อพันธุ์ฟื้นฟู is required
            </div>
          </div>
        </div>
      </div>

      <!--<div class="form-row">-->
        <!--<div class="form-group col-md-6 col-sm-12">-->
          <!--<label>หนังสือนำส่งเมล็ดจากการฟื้นฟู <span class="text-danger">*</span> </label>-->
          <!--<input type="text" class="form-control"-->
                 <!--formControlName="reg_seed_sent_no"-->
                 <!--[ngClass]="{ 'is-invalid': submitted && f.reg_seed_sent_no.errors }"/>-->
          <!--<div *ngIf="submitted && f.reg_seed_sent_no.errors" class="invalid-feedback">-->
            <!--<div *ngIf="f.reg_seed_sent_no.errors.required">หนังสือนำส่งเมล็ดจากการฟื้นฟู is required-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="form-row" *ngIf="plantInfo?.reg_seed_no">
        <div class="form-group col-md-6 col-sm-12">
          <label>ลำดับที่เมล็ดเชื้อพันธุ์ฟื้นฟู <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="plantInfo?.reg_seed_no"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6  col-sm-12">
          <label>ชื่อวิทยาศาสตร์  (Reg Plant Sci Name) <span class="text-danger">*</span></label>
          <ng-autocomplete
            disabled
            [searchKeyword]="'genus'"
            formControlName="reg_plant_sci_name"
            [data]="plantsListing"
            placeHolder="Select the Reg Plant Sci Name"
            [itemTemplate]="itemTemplate"
            (selected)="onSelect($event)"
            (inputCleared)="onClear()"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="'' + item.genus + ' '+ item.species"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อสามัญ (Reg Plant Common Name) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="selectedPlant?.reg_plant_common_name"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อเรียกอื่น (Reg Plant Alter Name) *</label>
          <tag-input
            disable="true"
            placeholder="Select/Add Plant tag"
            formControlName="reg_plant_alter_name"
            [onlyFromAutocomplete]="false">
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [autocompleteItems]="selectedPlant?.reg_plant_alter_name">
            </tag-input-dropdown>
          </tag-input>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อพันธุ์ (Variety name) <span class="text-danger">*</span> </label>
          <select formControlName="plant_gene_name" class="form-control"
                  disabled
                  [ngClass]="{ 'is-invalid': submitted && f.plant_gene_name.errors }">
            <option value="">Select Reg Gene Name</option>
            <option [value]="item._id"
                    *ngFor="let item of plantTypes">
              {{item.plantTypeName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.plant_gene_name.errors" class="invalid-feedback">
            <div *ngIf="f.plant_gene_name.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชนิดของพันธุ์ (Variety type)</label>
          <select formControlName="reg_gene_type" class="form-control"
                  disabled
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_type.errors }">
            <option value="">Select Gene Type</option>
            <option [value]="item._id"
                    *ngFor="let item of groupList">
              {{item.groupName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_type.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_type.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ประเภทของพันธุ์ (Variety catagory) <span class="text-danger">*</span> </label>
          <select formControlName="reg_gene_category" class="form-control"
                  disabled
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_category.errors }">
            <option [value]="item._id"
                    *ngFor="let item of groupTypeList">
              {{item.groupTypeName_th}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_category.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_category.errors.required">ประเภทของพันธุ์ (Variety catagory) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) </label>
          <input type="date" class="form-control"
                 disabled
                 formControlName="reg_seed_collect_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_collect_date.errors }"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ปลูกฟื้นฟูเมล็ดเชื้อพันธุ์ <span class="text-danger">*</span> </label>
          <div>
            <input class="form-control"
                   type="text"
                   disabled [value]="plantInfo?.recovery_rec_recover_date || ''"/>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์ฟื้นฟู <span class="text-danger">*</span> </label>
          <div>
            <input class="form-control"
                   type="text"
                   disabled [value]="plantInfo?.recovery_rec_recover_collect_date || ''"/>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div>
            <label>Recovery Remark </label>
          </div>
          <textarea formControlName="recovery_rec_remark"
                    disabled
                    class="col-12 form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.recovery_rec_remark.errors }">
          </textarea>
          <div *ngIf="submitted && f.recovery_rec_remark.errors" class="invalid-feedback">
            <div *ngIf="f.recovery_rec_remark.errors.required">ที่อยู่ is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 col-sm-12">
          <label>ปริมาณ หลังฟื้นฟูเสร็จ <span class="text-danger">*</span> </label>
          <input type="number" class="form-control"
                 disabled
                 min="0"
                 max="100"
                 OnlyNumber="true"
                 formControlName="recovery_seed_amount"
                 [ngClass]="{ 'is-invalid': submitted && f.recovery_seed_amount.errors }"/>
          <div *ngIf="submitted && f.recovery_seed_amount.errors" class="invalid-feedback">
            <div *ngIf="f.recovery_seed_amount.errors.required">ปริมาณ หลังฟื้นฟูเสร็จ is required</div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label>&nbsp; </label>
          <input type="text" class="form-control"
                 [value]="plantInfo?.selfing_dropdown || plantInfo?.oop_dropdown || plantInfo?.other_dropdown"
                disabled/>
          <div *ngIf="submitted && f.recovery_seed_amount.errors" class="invalid-feedback">
            <div *ngIf="f.recovery_seed_amount.errors.required">ปริมาณ หลังฟื้นฟูเสร็จ is required</div>
          </div>
        </div>
      </div>

      <div class="text-info mt-2">จำนวน/ปริมาณเมล็ดเชื้อพันธุ์ (กรัม/จำนวนเมล็ด)</div>
      <div class="p-4">
        <div class="form-row form-group" *ngIf="f.selfing_input.value  || this.formData.selfing_input">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="selfing_input"
                   [ngClass]="{ 'is-invalid': submitted && f.selfing_input.errors }"/>
            <div *ngIf="submitted && f.selfing_input.errors" class="invalid-feedback">
              <div *ngIf="f.selfing_input.errors.required">เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="selfing_dropdown" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.selfing_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.selfing_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.selfing_dropdown.errors.required">เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row form-group" *ngIf="f.oop_input.value || this.formData.oop_input">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="oop_input"
                   [ngClass]="{ 'is-invalid': submitted && f.oop_input.errors }"/>
            <div *ngIf="submitted && f.oop_input.errors" class="invalid-feedback">
              <div *ngIf="f.oop_input.errors.required">เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="oop_dropdown" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.oop_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.oop_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.oop_dropdown.errors.required">เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row form-group" *ngIf="f.other_input.value || this.formData.other_input">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>ไม่ระบุ (Other) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="other_input"
                   [ngClass]="{ 'is-invalid': submitted && f.other_input.errors }"/>
            <div *ngIf="submitted && f.other_input.errors" class="invalid-feedback">
              <div *ngIf="f.other_input.errors.required">ไม่ระบุ (Other) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="other_dropdown" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.other_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.other_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.other_dropdown.errors.required">ไม่ระบุ (Other) is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-info mt-2">แหล่งที่มา (Source)</div>
      <div class="p-4">
        

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>สถานที่ <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="recovery_place"
                   [ngClass]="{ 'is-invalid': submitted && f.recovery_place.errors }"/>
            <div *ngIf="submitted && f.recovery_place.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_place.errors.required">สถานที่ is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>จังหวัด <span class="text-danger">*</span> </label>
            <select formControlName="recovery_province" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.recovery_province.errors }">
              <option value="">Select Province</option>
              <option [value]="item._id"
                      *ngFor="let item of provinceList">
                {{item.provinceName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.recovery_province.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_province.errors.required">จังหวัด is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>อำเภอ <span class="text-danger">*</span> </label>
            <select formControlName="recovery_district" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.recovery_district.errors }">
              <option value="">Select Province</option>
              <option [value]="item._id"
                      *ngFor="let item of aumperList">
                {{item.aumperName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.recovery_district.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_district.errors.required">อำเภอ is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ตำบล <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="recovery_sub_district"
                   [ngClass]="{ 'is-invalid': submitted && f.recovery_sub_district.errors }"/>
            <div *ngIf="submitted && f.recovery_sub_district.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_sub_district.errors.required">ตำบล is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <div>
              <label>ที่อยู่<span class="text-danger">*</span> </label>
            </div>
            <textarea formControlName="recovery_address"
                      class="col-12 form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.recovery_address.errors }">
            </textarea>
            <div *ngIf="submitted && f.recovery_address.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_address.errors.required">ที่อยู่ is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2 col-sm-12">
            <label>พิกัด  </label>
            <input type="number" min="0" class="form-control"
                   formControlName="recovery_lat"
                   [ngClass]="{ 'is-invalid': submitted && f.recovery_lat.errors }"
                   />
                   <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_lat.errors }" -->
            <!-- <div *ngIf="submitted && f.recovery_lat.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_lat.errors.required">Latitude is required</div>
            </div> -->
          </div>
          <div class="form-group col-md-2 col-sm-12">
            <label>&nbsp; </label>
            <input type="number" min="0" class="form-control"
                   formControlName="recovery_long"
                   />
                   <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_long.errors }" -->
            <div *ngIf="submitted && f.recovery_long.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_long.errors.required">Longitude is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ความสูงจากระดับน้ำทะเล(เมตร)  </label>
            <input type="text" class="form-control"
                   formControlName="recovery_sea_level"
                   />
                   <!-- [ngClass]="{ 'is-invalid': submitted && f.recovery_sea_level.errors }" -->
            <div *ngIf="submitted && f.recovery_sea_level.errors" class="invalid-feedback">
              <div *ngIf="f.recovery_sea_level.errors.required">ความสูงจากระดับน้ำทะเล(เมตร) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="f.source_country_1.value">
          <div class="form-group col-md-6 col-sm-12">
            <label>ประเทศต้นกำเนิดเชื้อพันธุ์ (Country of Origin) </label>
            <select formControlName="source_country_1" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.source_country_1.errors }">
              <option value="">Select Country</option>
              <option [value]="item._id"
                      *ngFor="let item of countryList">
                {{item.countryName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_country_1.errors" class="invalid-feedback">
              <div *ngIf="f.source_country_1.errors.required">ประเทศ (Country) is required</div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ผู้เก็บเมล็ดเชื้อพันธุ์ (Seed collector) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 formControlName="reg_seed_collect_person"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_collect_person.errors }"/>
          <div *ngIf="submitted && f.reg_seed_collect_person.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_collect_person.errors.required">ผู้เก็บเมล็ดเชื้อพันธุ์ (Seed collector) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ผู้นำส่งเมล็ดเชื้อพันธุ์ (Seed provider) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 formControlName="reg_seed_sender"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_sender.errors }"/>
          <div *ngIf="submitted && f.reg_seed_sender.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_sender.errors.required">ผู้นำส่งเมล็ดเชื้อพันธุ์ (Seed provider) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>บรรยายลักษณะเบื้องต้น (Brief characteristics) </label>
          <input type="text" class="form-control"
                 formControlName="reg_character_brief"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_character_brief.errors }"/>
          <div *ngIf="submitted && f.reg_character_brief.errors" class="invalid-feedback">
            <div *ngIf="f.reg_character_brief.errors.required">บรรยายลักษณะเบื้องต้น (Brief characteristics) is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ข้อมูลลักษณะประจำพันธุ์ (Plant characteristics) </label>
          <select formControlName="reg_character_for_record" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_character_for_record.errors }">
            <option value="">Select Reg Character for Record</option>
            <option value="1.23.3.1 มี">1.23.3.1 มี</option>
            <option value="1.23.3.2 ไม่มี">1.23.3.2 ไม่มี</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ตรวจสอบกับเมล็ดเชื้อ พันธุ์อ้างอิง (seed file) </label>
          <select formControlName="reg_check_seed_ref" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_check_seed_ref.errors }">
            <option value="4.23.1.1 ตรงตามเชื้อพันธุ์">4.23.1.1 ตรงตามเชื้อพันธุ์</option>
            <option value="4.23.1.2 ไม่ตรงตามพันธุ์">4.23.1.2 ไม่ตรงตามพันธุ์</option>
            <option value="4.23.1.3 วันที่ตรวจสอบ">4.23.1.3 วันที่ตรวจสอบ</option>
            <option value="4.23.1.4 ผู้ตรวจสอบ">4.23.1.4 ู้ตรวจสอบ</option>
            <option value="4.23.1.5 หมายเหตุจากผู้ตรวจสอบ">4.23.1.5 หมายเหตุจากผู้ตรวจสอบ</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ตรวจสอบทางชีวโมเลกุลs </label>
          <select formControlName="reg_check_molecular" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_check_molecular.errors }">
            <option value="4.23.2.1 ตรงตามเชื้อพันธุ์">4.23.2.1 ตรงตามเชื้อพันธุ์</option>
            <option value="4.23.2.2 ไม่ตรงตามพันธุ์">4.23.2.2 ไม่ตรงตามพันธุ์</option>
            <option value="4.23.2.3  วันที่ตรวจสอบ">4.23.2.3 วันที่ตรวจสอบ</option>
            <option value="4.23.2.4  ผู้ตรวจสอบ">4.23.2.4 ผู้ตรวจสอบ</option>
            <option value="4.23.2.5  หมายเหตุจากผู้ตรวจสอบ">4.23.2.5 หมายเหตุจากผู้ตรวจสอบ</option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ส่งฝ่ายปฏิบัติการ (Sending date to Lab) <span class="text-danger">*</span> </label>
          <input type="date" class="form-control"
                 formControlName="reg_sent_lab_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_sent_lab_date.errors }"/>
          <div *ngIf="submitted && f.reg_sent_lab_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_sent_lab_date.errors.required">วันที่ส่งฝ่ายปฏิบัติการ (Sending date to Lab) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเหตุจากฝ่ายลงทะเบียน (Remarks from Registration Unit) </label>
          <textarea class="form-control"
                    formControlName="reg_remark">
            </textarea>
        </div>
      </div>
      <div class="footer-sticky-bottom">
        <div class="text-left">
          <button class="btn btn-primary" type="submit" *ngIf="!disabled">Save</button>
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>      
    </form>
  </div>
</div>


<ngx-loading [show]="loading">
</ngx-loading>

