<div class="d-flex justify-content-end . mt-2 mb-2">
  <!-- <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/> -->
</div>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>No.</th>
      <th>Passport No.</th>
      <th>Volume No.</th>
      <th>DOA</th>
      <th>Registration No.</th>
      <th>Plant Stock</th>
      <th>createdAt</th>
      <th>updatedAt</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of info; let i = index">
      <td>{{i + 1}}</td>
      <td>{{item?.passport?.passport_no}}</td>
      <td>{{item?.volume?.volume_no}}</td>
      <td>{{item?.gs_no}}</td>
      <td>{{item?.reg_gene_id}}</td>
      <td>{{getStockInfo(item)}}</td>
      <td>{{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}</td>
      <td>{{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}</td>
      <td>{{item?.dis_status}}</td>    
      <td>
        <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(createContent, item, i)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Manage
        </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ngx-loading [show]="loading">
</ngx-loading>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Details Passport {{selectedItem?.passport?.passport_no}} >>
      Volume {{selectedItem?.volume?.volume_no}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-12">
        <label>Reg Seed No</label>
        <span class="font-weight-bold pl-2">{{selectedItem?.reg_seed_no}}</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label>Reg Gene Id</label>
        <span class="font-weight-bold pl-2">{{selectedItem?.reg_gene_id}}</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label>DOA No.</label>
        <span class="font-weight-bold pl-2">{{selectedItem?.gs_no}}</span>
      </div>
    </div>

    <h5>Set Publication</h5>
    <label><input type="checkbox" value="item" [(ngModel)]="isDistribution" [checked]="selectedItem?.isDistribution">&nbsp; ระบบบริการ / Distribution</label>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
