<div class="d-flex justify-content-end" *ngIf="checkRole(1)">	
  <button class="btn btn-danger btn-sm mr-2" type="button"	
          (click)="onCreate(createContentAlert)">	
    <i class="mdi mdi-link"></i> Create Lab No. for Alert	
  </button>	
</div>
<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'name'"
            [substituteRows]="false">
  <data-table-title title="Lab Alert Listing" [controls]="true">
  </data-table-title>

  <data-table-column property="lab_no" header="Lab No." sortable="true" resizable="true">
  </data-table-column>

  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.isDraft != 0 ? 'draft': 'complete'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY HH:mm:ss') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Details
        </button>

        <button class="btn btn-danger btn-sm" type="button" *ngIf="false" (click)="onDelete(item, deleteContent)">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>
<ng-template #createContentAlert let-modal>	
  <div class="modal-header">	
    <h4 class="modal-title">Create Lab Alert</h4>	
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">	
      <span aria-hidden="true">&times;</span>	
    </button>	
  </div>	
  <form [formGroup]="createLabAlertForm" (ngSubmit)="onSubmit(true)">	
    <div class="modal-body">	
      <div class="form-row">	
        <div class="form-group col-sm-12">	
          <label>วันที่รับการแจ้งเตือน <span class="text-danger">*</span></label>	
          <input type="date" formControlName="notification_date" class="form-control datepicker"	
                 [ngClass]="{ 'is-invalid': submitted && createLabAlertForm.controls.notification_date.errors }"/>	
          <div *ngIf="submitted && createLabAlertForm.controls.notification_date.errors" class="invalid-feedback">	
            <div *ngIf="createLabAlertForm.controls.notification_date.errors.required">วันที่รับการแจ้งเตือน is	
              required	
            </div>	
          </div>	
        </div>	
      </div>	
      <div class="modal-footer d-flex justify-content-center">	
        <button class="btn btn-primary mr-1" type="submit">Create</button>	
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>	
      </div>	
    </div>	
  </form>	
</ng-template>
<ngx-loading [show]="loading">
</ngx-loading>
