<!-- <div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div> -->
<div class="card-body">
  <div class="row">
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">Register No.</label>
        <input type="text" class="margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchRegis($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">Gs No</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchGs($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">Plant Category</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchCate($event)"
          placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">Plant Type</label>
        <input type="text" class=" margin-right form-control col-md-12 col-sm-12 border" (keyup)="onSearchType($event)"
            placeholder="Enter Search text here" />
    </div>
    <div class="col-md-3 col-sm-3">
        <label class="margin-right">Alert To</label>
        <select type="text" class=" margin-right form-control" (change)="onSearchSubmit($event)"
           >
           <option value="">กรุณาเลือก</option>
           <option value="M8">M8</option>
           <option value="M4">M4</option>
           <option value="Other">Other</option>
        </select>
    </div>
  </div>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'name'"
            [substituteRows]="false">

  <data-table-title title="WH List - Plant Alert" [controls]="true">
  </data-table-title>

  <data-table-column header="Registered No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id ? item?.reg_gene_id:'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Gs No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.gs_no ? item?.gs_no:'-'}}
    </ng-template> 
  </data-table-column>

  <data-table-column header="Batch" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.selectedBatchRoom ? item?.selectedBatchRoom:'-'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant Category" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantCategory?.categoryName_th ? item?.plant_gene_name?.plantCategory?.categoryName_th+' '+item?.plant_gene_name?.plantCategory?.categoryName_en:'-'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant Type" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.plant_gene_name?.plantTypeName_th ? item?.plant_gene_name?.plantTypeName_th : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Date Send" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.m9warehouse_plant_submittedAt ? momentObj(item.m9warehouse_plant_submittedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>


  <div>
    <data-table-column header="ประเภทการแจ้งเตือน สีแดง=แจ้งเตือนฟื้นฟู สีเหลือง=แจ้งเตือนทดสอบ" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <div class="d-flex justify-content-start">
        <img src="{{checkCondition(item)}}" style="width:30px;margin:auto">
        </div>
      </ng-template>
    </data-table-column>
  </div>

</data-table>
<ngx-loading [show]="loading">
</ngx-loading>

