<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantGroupTypeForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>


      <div class="form-row" *ngIf="reg_seed_no">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Seed No <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="reg_seed_no"/>
        </div>
      </div>


      <div class="form-row" *ngIf="reg_gene_id">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Gene Id </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="reg_gene_id"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6  col-sm-12">
          <label>Reg Plant Sci Name <span class="text-danger">*</span></label>
          <ng-autocomplete
            disabled
            [searchKeyword]="'genus'"
            formControlName="reg_plant_sci_name"
            [data]="plantsListing"
            placeHolder="Select the Reg Plant Sci Name"
            [itemTemplate]="itemTemplate"
            (selected)="onSelect($event)"
            (inputCleared)="onClear()"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="'' + item.genus + ' '+ item.species"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Plant Type <span class="text-danger">*</span> </label>
          <select class="form-control" disabled [value]="selectedPlant?.plant_category">
            <option value=""></option>
            <option [value]="item._id"
                    *ngFor="let item of categoryList">
              {{item?.categoryName_en}}
            </option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Plant Common Name <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="selectedPlant?.reg_plant_common_name"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อเรียกอื่น (Reg Plant Alter Name) <span class="text-danger">*</span> </label>
          <tag-input
            disable="true"
            placeholder="Select/Add Plant tag"
            formControlName="reg_plant_alter_name"
            [onlyFromAutocomplete]="false">
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [autocompleteItems]="selectedPlant?.reg_plant_alter_name">
            </tag-input-dropdown>
          </tag-input>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อพันธุ์ (Variety name) <span class="text-danger">*</span> </label>
          <select formControlName="plant_gene_name" class="form-control"
                  disabled="true"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_gene_name.errors }">
            <option value="">Select Reg Gene Name</option>
            <option [value]="item._id"
                    *ngFor="let item of plantTypes">
              {{item.plantTypeName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.plant_gene_name.errors" class="invalid-feedback">
            <div *ngIf="f.plant_gene_name.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชนิดของพันธุ์ (Variety type) <span class="text-danger">*</span> </label>
          <select formControlName="reg_gene_type" class="form-control"
                  disabled="true"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_type.errors }">
            <option value="">Select Group</option>
            <option [value]="item._id"
                    *ngFor="let item of groupList">
              {{item.groupName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_type.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_type.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ประเภทของพันธุ์ (Variety catagory) <span class="text-danger">*</span> </label>
          <select formControlName="reg_gene_category" class="form-control"
                  disabled="true"
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_category.errors }">
            <option value="">Select Group</option>
            <option [value]="item._id"
                    *ngFor="let item of groupTypeList">
              {{item.groupTypeName_th}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_category.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_category.errors.required">ประเภทของพันธุ์ (Variety catagory) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) <span class="text-danger">*</span> </label>
          <input type="date" class="form-control"
                 disabled="true"
                 formControlName="reg_seed_collect_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_collect_date.errors }"/>
          <div *ngIf="submitted && f.reg_seed_collect_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_collect_date.errors.required">วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) in English is required</div>
          </div>
        </div>
      </div>

      <!--Testing-->
      <div class="form-row" *ngIf="reg_seed_no">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Seed No <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="reg_seed_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>น้ำหนัก 10 เมล็ด <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="labInfo?.lab_10seed_weight || ''"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ความงอก (%)<span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="labInfo?.lab_test_growth_percent || ''"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ข้อมูลพื้นที่ </label>
          <input type="text" class="form-control"
                 formControlName="area_information"/>
                 <!-- [ngClass]="{ 'is-invalid': submitted && f.area_information.errors }" -->
          <div *ngIf="submitted && f.area_information.errors" class="invalid-feedback">
            <div *ngIf="f.area_information.errors.required">ข้อมูลพื้นที่ is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>รายละเอียด  </label>
          <input type="text" class="form-control"
                 formControlName="other_information"
                 />
                 <!-- [ngClass]="{ 'is-invalid': submitted && f.other_information.errors }" -->
          <div *ngIf="submitted && f.other_information.errors" class="invalid-feedback">
            <div *ngIf="f.other_information.errors.required">ข้อมูลพื้นที่ is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>รายละเอียด </label>
          <div>
            <div class="font-weight-bold"
                 *ngIf="getAttachment('plant-files', description_file) && !descriptorFile">
              <a [href]="getAttachment('plant-files', description_file)"
                 target="_blank">Uploaded Descriptor File</a>
            </div>
            <input type="file" class="m-1 mt-0 btn-outline" (change)="onFileUpload($event, 'descriptorFile')"/>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเหตุ </label>
          <input type="text" class="form-control"
                 formControlName="note"
                 />
                 <!-- [ngClass]="{ 'is-invalid': submitted && f.note.errors }" -->
          <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
            <div *ngIf="f.note.errors.required">หมายเหตุ is required</div>
          </div>
        </div>
      </div>

      <hr/>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Attribute Set <span class="text-danger">*</span> </label>
          <select class="form-control" (change)="onChange($event)" formControlName="attributeSetId">
            <option value="">Select Attribute</option>
            <option [value]="option?._id" *ngFor="let option of attributeList">{{option?.setName}}</option>
          </select>
        </div>
      </div>

      <ngb-tabset *ngIf="selectedAttribute">

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="us"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent class="mt-2">
            <div formGroupName="attributes">
              <div class="form-row" *ngFor="let option of selectedAttribute?.attributes">
                <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'text'">
                  <label>{{option.name_en}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                  <input type="text" class="form-control" [formControlName]="option._id  + 'en'" (input)="changeValue('text', 'en', option._id, $event)"/>
                  <div *ngIf="submitted && g[option?._id  + 'en'].errors" class="invalid-feedback d-block">
                    <div *ngIf="g[option?._id  + 'en']['errors']['minlength']">Min Length is {{option.min}}</div>
                    <div *ngIf="g[option?._id  + 'en']['errors']['maxlength']">Max Length is {{option.max}}</div>
                    <div *ngIf="g[option?._id  + 'en']['errors']['required']">{{option.name_en}} is required</div>
                  </div>
                </div>
                

                <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'textarea'">
                  <label>{{option.name_en}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                  <textarea class="form-control" [formControlName]="option._id  + 'en'" (change)="changeValue('textarea', 'en', option._id, $event)">
                  </textarea>
                  <div *ngIf="submitted && g[option?._id  + 'en'].errors" class="invalid-feedback d-block">
                    <div *ngIf="g[option?._id  + 'en']['errors']['required']">{{option.name_en}} is required</div>
                  </div>
                </div>

                <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'date'">
                  <label>{{option.name_en}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                  <input type="date" class="form-control" [formControlName]="option._id  + 'en'" (change)="changeValue('date', 'en', option._id, $event)"/>
                  <div *ngIf="submitted && g[option?._id  + 'en'].errors" class="invalid-feedback d-block">
                    <div *ngIf="g[option?._id  + 'en']['errors']['required']">{{option.name_en}} is required</div>
                  </div>
                </div>

                <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'file'">
                  <label>{{option.name_en}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                  <br/>
                  <input type="file" [formControlName]="option._id  + 'en'"/>
                </div>

                <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'checkbox'">
                  <label>{{option.name_en}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                  <label *ngFor="let check of option.optionValue; let i = index" class="d-block ml-3">
                    <input type="checkbox"
                          [formControlName]="option._id  + '_' + i + '_en'"
                          [value]="check.value_en" (change)="changeValue('checkbox', 'en', option._id, $event, i)">&nbsp;{{check.value_en}}
                    <br/>
                  </label>
                  <!-- <div *ngIf="submitted && g[option?._id  + 'en'].errors" class="invalid-feedback d-block">
                    <div *ngIf="g[option?._id  + 'en']['errors']['required']">{{option.name_en}} is required</div>
                  </div> -->
                </div>

                <div class="form-check pl-0" *ngIf="option?.fieldInput ===  'radio'">
                  <label>{{option.name_en}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                  <label class="radio-inline" *ngFor="let check of option.optionValue" class="d-block ml-3">
                    <input
                    type="radio"
                    [value]="check.value_en"
                    formControlName="{{option._id  + 'en'}}"
                    class="mr-2">{{check.value_en}}</label>
                    <div *ngIf="submitted && g[option?._id  + 'en'].errors" class="invalid-feedback d-block">
                      <div *ngIf="g[option?._id  + 'en']['errors']['required']">{{option.name_en}} is required</div>
                    </div>
                </div>

                <div class="form-check pl-0 mt-2 mb-2" *ngIf="option?.fieldInput ===  'dropdown'">
                  <label>{{option.name_en}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                  <select class="form-control" [formControlName]="option._id  + 'en'" (change)="changeValue('dropdown', 'en', option._id, $event)">
                    <option></option>
                    <option *ngFor="let check of option.optionValue" [value]="check.value_en">{{check.value_en}}</option>
                  </select>
                  <div *ngIf="submitted && g[option?._id  + 'en'].errors" class="invalid-feedback d-block">
                    <div *ngIf="g[option?._id  + 'en']['errors']['required']">{{option.name_en}} is required</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>  

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="th"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div formGroupName="attributes">
            <div class="form-row" *ngFor="let option of selectedAttribute?.attributes">
              <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'text'">
                <label>{{option.name_th}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                <input type="text" class="form-control" [formControlName]="option._id  + 'th'"/>
                <div *ngIf="submitted && g[option?._id  + 'th'].errors" class="invalid-feedback d-block">
                  <div *ngIf="g[option?._id  + 'th']['errors']['minlength']">Min Length is {{option.min}}</div>
                  <div *ngIf="g[option?._id  + 'th']['errors']['maxlength']">Max Length is {{option.max}}</div>
                  <div *ngIf="g[option?._id  + 'th']['errors']['required']">{{option.name_th}} is required</div>
                </div>
              </div>

              <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'textarea'">
                <label>{{option.name_th}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                <textarea class="form-control" [formControlName]="option._id  + 'th'">
                </textarea>
                <div *ngIf="submitted && g[option?._id  + 'th'].errors" class="invalid-feedback d-block">
                  <div *ngIf="g[option?._id  + 'th']['errors']['required']">{{option.name_th}} is required</div>
                </div>
              </div>

              <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'date'">
                <label>{{option.name_th}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                <input type="date" class="form-control" [formControlName]="option._id + 'th'"/>
                <div *ngIf="submitted && g[option?._id  + 'th'].errors" class="invalid-feedback d-block">
                  <div *ngIf="g[option?._id  + 'th']['errors']['required']">{{option.name_th}} is required</div>
                </div>
              </div>

              <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'file'">
                <label>{{option.name_th}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                <br/>
                <input type="file" [formControlName]="option._id  + 'th'"/>
              </div>

              <div class="form-group col-md-6 col-sm-12" *ngIf="option?.fieldInput ===  'checkbox'">
                <label>{{option.name_th}} <span class="text-danger"
                                                [formControlName]="option._id + 'th'"
                                                *ngIf="option?.require == 'true'">*</span> </label>
                <br/>
                <label *ngFor="let check of option.optionValue; let i = index" class="d-block  ml-3">
                  <input type="checkbox" [formControlName]="option._id + '_' + i + '_th'"  [value]="check.value_th">&nbsp;{{check.value_th}}<br/>
                </label>
                <!-- <div *ngIf="submitted && g[option?._id  + 'th'].errors" class="invalid-feedback d-block">
                  <div *ngIf="g[option?._id  + 'th']['errors']['required']">{{option.name_th}} is required</div>
                </div> -->
              </div>

              <div class="form-check pl-0" *ngIf="option?.fieldInput ===  'radio'">
                <label>{{option.name_th}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                <label class="radio-inline" *ngFor="let check of option.optionValue" class="d-block ml-3"><input
                  type="radio"
                  formControlName="{{option._id + 'th'}}"
                  [value]="check.value_th"
                  class="mr-2">{{check.value_th}}</label>
                  <div *ngIf="submitted && g[option?._id  + 'th'].errors" class="invalid-feedback d-block">
                    <div *ngIf="g[option?._id  + 'th']['errors']['required']">{{option.name_th}} is required</div>
                  </div>
              </div>

              <div class="form-check pl-0 mt-2 mb-2" *ngIf="option?.fieldInput ===  'dropdown'">
                <label>{{option.name_th}} <span class="text-danger" *ngIf="option?.require == 'true'">*</span> </label>
                <select class="form-control" [formControlName]="option._id + 'th'" >
                  <option></option>
                  <option *ngFor="let check of option.optionValue" [value]="check.value_th">{{check.value_th}}</option>
                </select>
                <div *ngIf="submitted && g[option?._id  + 'th'].errors" class="invalid-feedback d-block">
                  <div *ngIf="g[option?._id  + 'th']['errors']['required']">{{option.name_th}} is required</div>
                </div>
              </div>
            </div>

            </div>
          </ng-template>
        </ngb-tab> 
      </ngb-tabset>
      <div class="footer-sticky-bottom">
        <div class="text-left">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>            
    </form>
  </div>
</div>


<ngx-loading [show]="loading">
</ngx-loading>

