<ul remove-wrapper>
  <li [class.active]="showMenu === sidebarnavItem.title" *ngFor="let sidebarnavItem of sidebarnavItems"
      [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
    <a class="nav-small-cap pl-0" *ngIf="sidebarnavItem.extralink === true && checkMainRole(sidebarnavItem.allSubmenu)"
       [routerLink]="sidebarnavItem.path ? [sidebarnavItem.path] : null">
      <i [ngClass]="[sidebarnavItem.icon]"></i>{{sidebarnavItem.title}}
    </a>
    <hr *ngIf="sidebarnavItem.extralink === true && checkMainRole(sidebarnavItem.allSubmenu)"/>
    <a [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null" [ngClass]="[sidebarnavItem.class]"
       *ngIf="!sidebarnavItem.extralink && checkRole(sidebarnavItem.value)"
       (click)="addExpandClass(sidebarnavItem.title)">
      <i [ngClass]="[sidebarnavItem.icon]"></i>
      <span class="hide-menu {{sidebarnavItem.labelClass}}">{{sidebarnavItem.title}} 
        <ng-container *ngIf="sidebarnavItem.path == '/admin/warehouse/stock/withdraw'">
          ({{stock_withdraw}})
        </ng-container>
        <ng-container *ngIf="sidebarnavItem.path == '/admin/warehouse/stock/distribution'">
          ({{stock_distribution}})
        </ng-container>
        <ng-container *ngIf="sidebarnavItem.path == '/admin/warehouse/stock/alert-listing'">
          ({{stock_alert}})
        </ng-container>
        <ng-container *ngIf="sidebarnavItem.path == '/admin/warehouse/stock/recovery-listing'">
          ({{stock_recovery}})
        </ng-container>
        <ng-container *ngIf="sidebarnavItem.path == '/admin/warehouse/labs/listing'">
          ({{alert_draft}})
        </ng-container>
        <ng-container *ngIf="sidebarnavItem.path == '/admin/warehouse/labs/listing/alert'">
          ({{draft}})
        </ng-container>
        <ng-container *ngIf="sidebarnavItem.path == '/admin/register/m4/listing'">
          ({{m4_count}})
        </ng-container>
        <span *ngIf="sidebarnavItem.label != '' "
              [ngClass]="[sidebarnavItem.labelClass]"> {{sidebarnavItem.label}}</span>
                </span>
    </a>
    <app-sidebar [routes]="sidebarnavItem.submenu" [roles]="roles"></app-sidebar>
    <hr *ngIf="sidebarnavItem.external === true && checkMainRole(sidebarnavItem.allSubmenu)"/>
  </li>
</ul>
