<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="d-block">ประเภทรายงาน</label>
        <select class="form-control" [(ngModel)]="search.reportType" (change)="changeReportType()">
          <option value="place">สถานที่ส่งฟื้นฟู</option>
          <option value="reg_plant_type">ชนิดพืช (Reg Plant Type)</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.startDt" />
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>End Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.endDt" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="search.reportType ==='place'">
  <data-table
    [items]="recoveries"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="50"
    [substituteRows]="false"
  >
    <data-table-column
      property="year"
      header="ปี"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="m_no"
      header="รหัสส่งฟื้นฟู"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="recovery_place"
      header="สถานที่ฟื้นฟู"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="place_total"
      header="จำนวนตัวอย่างพันธุ์ที่ส่งฟื้นฟู (Acc.No.)"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="require_place_total"
      header="จำนวนตัวอย่างพันธุ์ที่ได้รับจากการฟื้นฟู"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="recovery_rec_yes_detail"
      header="ข้อมูลการประเมินเชื้อพันธุ์พืช (มี)"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="recovery_rec_no_detail"
      header="ข้อมูลการประเมินเชื้อพันธุ์พืช (ไม่มี)"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="recovery_complete"
      header="จำนวนตัวอย่างพันธุ์ที่ส่งลงทะเบียน"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<div *ngIf="search.reportType ==='reg_plant_type'">
  <data-table
    [items]="recoveries"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="50"
    [substituteRows]="false"
  >
    <data-table-column
      property="year"
      header="ปี"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="m_no"
      header="รหัสส่งฟื้นฟู"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="category_name"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="category_total"
      header="จำนวนตัวอย่างพันธุ์ที่ส่งฟื้นฟู (Acc.No.)"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="require_category_total"
      header="จำนวนตัวอย่างพันธุ์ที่ได้รับจากการฟื้นฟู"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="recovery_rec_yes_detail"
      header="ข้อมูลการประเมินเชื้อพันธุ์พืช (มี)"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="recovery_rec_no_detail"
      header="ข้อมูลการประเมินเชื้อพันธุ์พืช (ไม่มี)"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="recovery_complete"
      header="จำนวนตัวอย่างพันธุ์ที่ส่งลงทะเบียน"
      sortable="true"
      resizable="true"
    ></data-table-column>
    </data-table>
</div>
<ngx-loading [show]="loading"></ngx-loading>
