<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Role Name <span class="text-danger">*</span> </label>
          <input type="text" formControlName="name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Role Name is required</div>
          </div>
        </div>
      </div>

      <ngb-tabset>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="us"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>หน่วยงาน (Organization Name) <span class="text-danger">*</span> </label>
              <input type="text" formControlName="departmentName_en" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.departmentName_en.errors }"/>
              <div *ngIf="submitted && f.departmentName_en.errors" class="invalid-feedback">
                <div *ngIf="f.departmentName_en.errors.required">หน่วยงาน (Organization Name) in English is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="th"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>หน่วยงาน (Organization Name) <span class="text-danger">*</span> </label>
              <input type="text" formControlName="departmentName_th" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.departmentName_th.errors }"/>
              <div *ngIf="submitted && f.departmentName_th.errors" class="invalid-feedback">
                <div *ngIf="f.departmentName_th.errors.required">หน่วยงาน (Organization Name) in Thai is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>


      <hr class="mb-4"/>

      <ngb-alert [dismissible]="false" [type]="'success'">
        Role Resources
      </ngb-alert>

      <div class="border p-4 card">
        <ngx-treeview [config]="config" [items]="roleResources"
                      (filterChange)="onFilterChange($event)"
                      (selectedChange)="onSelectedChange($event)">
        </ngx-treeview>
      </div>

    </form>
  </div>
</div>

<ngx-loading [show]="loading">
</ngx-loading>
