<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav mr-auto float-left">
  <li (click)="toggleSidebar.emit()" class="nav-item m-l-10 d-block d-lg-none">
    <a class="nav-link sidebartoggler text-muted waves-effect waves-dark" href="javascript:void(0)"><i
      class="ti-menu"></i></a></li>
</ul>
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<ul class="navbar-nav my-lg-0 float-right">


  <!-- ============================================================== -->
  <!-- Profile -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
    <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="onLogout()">
      <img src="{{getUserImage(authService?.currentUserValue?.profileImg)}}" alt="user" class="profile-pic mr-1"/>
      {{authService?.currentUserValue?.fullName}} <i class="mdi mdi-arrow-down"></i>
    </a>
    <div class="dropdown-menu" ngbDropdownMenu>
      <ul class="dropdown-user">
        <!--<li>-->
          <!--<div class="dw-user-box">-->
            <!--<div class="u-img"><img src="assets/images/users/profile.png" alt="user"></div>-->
            <!--<div class="u-text">-->
              <!--<h4>{{authService?.currentUserValue?.fullName}}</h4>-->
              <!--<p class="text-muted">{{authService?.currentUserValue?.email}}</p><a href="pages-profile.html"-->
                                                            <!--class="btn btn-rounded btn-danger btn-sm">View Profile</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li role="separator" class="divider"></li>-->
        <!--<li><a href="#"><i class="ti-user"></i> My Profile</a></li>-->
        <li><a (click)="onLogout()"><i class="fa fa-power-off"></i> Logout</a></li>
      </ul>
    </div>
  </li>
</ul>
