<div class="card m-0">
  <div class="d-flex justify-content-center mt-3">
    <img src="assets/images/logo-icon.png" alt="homepage" class="login-logo"/>
  </div>
  <div class="card-body d-flex justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-ngbd-alert></app-ngbd-alert>
      <div class="form-group">
        <label>Email <span class="text-danger">*</span></label>
        <input type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label>Password <span class="text-danger">*</span></label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Login</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
      </div>
    </form>
  </div>
</div>

<ngx-loading [show]="loading">
</ngx-loading>
