<div class="card m-0">
    <div class="card-body">
        
        <form [formGroup]="exportDoaForm" (ngSubmit)="onSubmit()">
            <div class="col-12 d-flex justify-content-end">
                <div class="text-center">
                  <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
                  <button class="btn btn-primary" type="submit">Export</button>
                </div>
            </div>
            <div class=" col-md-9">
                <app-ngbd-alert></app-ngbd-alert>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            <label>Plant category</label>
                        </div>
                        <div class="col-sm-5">
                            <ng-autocomplete
                                [searchKeyword]="'categoryName_en'"
                                formControlName="plantCategory"
                                [data]="plantCategoriesListing"
                                [itemTemplate]="itemTemplate1"
                                [notFoundTemplate]="notFoundTemplate"
                                (inputChanged)='onChangeSearch($event, "category")'
                                (selected)='selectEvent($event)'
                                required>
                            </ng-autocomplete>
        
                            <ng-template #itemTemplate1 let-item>
                                <a [innerHTML]="'' + item.categoryName_en"></a>
                            </ng-template>
            
                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                            <div *ngIf="error" class="error">
                                Plant Category is required
                              </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            <label>Plant type</label>
                        </div>
                        <div class="col-sm-5">
                            <ng-autocomplete
                                [searchKeyword]="'plantTypeName_en'"
                                formControlName="plantType"
                                [data]="plantTypesListing"
                                [itemTemplate]="itemTemplate2"
                                [notFoundTemplate]="notFoundTemplate"
                                (inputChanged)='onChangeSearch($event, "type")'>
                            </ng-autocomplete>
        
                            <ng-template #itemTemplate2 let-item>
                                <a [innerHTML]="'' + item.plantTypeName_en"></a>
                            </ng-template>
            
                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            <label>Gs No</label>
                        </div>
                        <div class="col-sm-5">
                            <ng-autocomplete
                                [searchKeyword]="'gs_no'"
                                formControlName="gs_no"
                                [data]="gsNoListing"
                                [itemTemplate]="itemTemplate3"
                                [notFoundTemplate]="notFoundTemplate"
                                (inputChanged)='onChangeSearch($event, "gs_no")'>
                            </ng-autocomplete>
        
                            <ng-template #itemTemplate3 let-item>
                                <a [innerHTML]="'' + item.gs_no"></a>
                            </ng-template>
            
                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            <label>Register No</label>
                        </div>
                        <div class="col-sm-5">
                            <ng-autocomplete
                                [searchKeyword]="'reg_gene_id'"
                                formControlName="reg_gene_id"
                                [data]="regNoListing"
                                [itemTemplate]="itemTemplate4"
                                [notFoundTemplate]="notFoundTemplate"
                                (inputChanged)='onChangeSearch($event, "reg_gene_id")'>
                            </ng-autocomplete>
        
                            <ng-template #itemTemplate4 let-item>
                                <a [innerHTML]="'' + item.reg_gene_id"></a>
                            </ng-template>
            
                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            <label>Source Country</label>
                        </div>
                        <div class="col-sm-5">
                            <ng-autocomplete
                                [searchKeyword]="'countryName_en'"
                                formControlName="country"
                                [data]="countryListing"
                                [itemTemplate]="itemTemplate6"
                                [notFoundTemplate]="notFoundTemplate"
                                (inputChanged)='onChangeSearch($event, "country")'>
                            </ng-autocomplete>
        
                            <ng-template #itemTemplate6 let-item>
                                <a [innerHTML]="'' + item.countryName_en"></a>
                            </ng-template>
            
                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            <label>Source Province</label>
                        </div>
                        <div class="col-sm-5">
                            <ng-autocomplete
                                [searchKeyword]="'provinceName_en'"
                                formControlName="province"
                                [data]="provinceListing"
                                [itemTemplate]="itemTemplate5"
                                [notFoundTemplate]="notFoundTemplate"
                                (inputChanged)='onChangeSearch($event, "province")'>
                            </ng-autocomplete>
        
                            <ng-template #itemTemplate5 let-item>
                                <a [innerHTML]="'' + item.provinceName_en"></a>
                            </ng-template>
            
                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>
<ngx-loading [show]="loading">
</ngx-loading>