<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantCategoryForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>


      <!-- <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Type <span class="text-danger">*</span></label>
          <select formControlName="bannerType" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <option value="">Select Type</option>
            <option value="big_banner">Big Banner</option>
            <option value="slide_banner">Slide Banner</option>
          </select>
          <div *ngIf="submitted && f.bannerType.errors" class="invalid-feedback">
            <div *ngIf="f.bannerType.errors.required">Type is required</div>
          </div>
        </div>
      </div> -->


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Name<span class="text-danger">*</span> </label>
          <input type="text" formControlName="name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Link<span class="text-danger">*</span> </label>
          <input type="text" formControlName="link" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.link.errors }"/>
          <div *ngIf="submitted && f.link.errors" class="invalid-feedback">
            <div *ngIf="f.link.errors.required">Link is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Image File </label>

          <div>
            <div class="font-weight-bold"
                 *ngIf="getAttachment('banner-files', imageFileDat) && !imageFile">
              <a [href]="getAttachment('banner-files', imageFileDat)"
                 target="_blank">Uploaded Image File</a>
            </div>
            <br/>
            <input type="file" class="m-1 mt-3 btn-outline"
                   accept="image/jpeg,image/png"
                   (change)="onFileUpload($event, 'imageFile')"/>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Status <span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="">Select Status</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<ngx-loading [show]="loading">
</ngx-loading>
