<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>ประเภทแบบฟอร์ม(Plant Form Type) </label>
        <select class="form-control" [(ngModel)]="search.form_type">
          <option value=""></option>
          <option value="{{ item }}" *ngFor="let item of formTypes">
            {{ item }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>ชนิดพืช(Reg Plant Type) </label>
        <select class="form-control" [(ngModel)]="search.plant_type">
          <option value=""></option>
          <option value="{{ item._id }}" *ngFor="let item of plantTypes">
            {{ item.categoryName_en }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>ประเภทหน่วยงาน(Types of Organization) </label>
        <select class="form-control" [(ngModel)]="search.department_type">
          <option value=""></option>
          <option value="{{ item }}" *ngFor="let item of departmentTypes">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>จังหวัด(Province)</label>
        <select class="form-control" [(ngModel)]="search.source_province">
          <option value=""></option>
          <option value="{{ item._id }}" *ngFor="let item of sourceProvinces">
            {{ item.provinceName_en }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>ประเทศต้นกำเนิดเชื้อพันธุ์(Country of Origin)</label>
        <select class="form-control" [(ngModel)]="search.source_country">
          <option value=""></option>
          <option value="{{ item._id }}" *ngFor="let item of sourceCountries">
            {{ item.countryName_en }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.startDt" />
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>End Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.endDt" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
<data-table
  [items]="plants"
  [itemCount]="count"
  (reload)="reloadData($event)"
  [limit]="15"
  [substituteRows]="false"
>
  <data-table-column
    property="year"
    header="Year"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="month"
    header="Month"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="category"
    header="Category"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="total"
    header="Total"
    sortable="true"
    resizable="true"
  ></data-table-column>
</data-table>
<ngx-loading [show]="loading"></ngx-loading>
