<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
  <data-table
    [items]="reports"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="50"
    [substituteRows]="false"
  >
  <data-table-column
    property="year"
    header="ปี"
    sortable="true"
    resizable="true"
  ></data-table-column>
    <data-table-column
      property="new_doa"
      header="พืชออก DOA ใหม่"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="old_doa"
      header="พืช DOA เดิม จากฟื้นฟู"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="r_only"
      header="พืช hold"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_remove"
      header="พืชตัดทิ้ง"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="d_id"
      header="พืชฝากเก็บ"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
<ngx-loading [show]="loading"></ngx-loading>
