<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'name'"
            [substituteRows]="false">

  <data-table-title title="{{alert ?  'WH - Alert Lab listing': 'WH - Lab Listing' }}" [controls]="true">
  </data-table-title>

  <data-table-column header="Lab No" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.m8_lab_id?.lab_no ? item?.m8_lab_id?.lab_no:'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="หมายเลขประจำพันธุ์" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="จำนวน/ปริมาณ" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getStockInfo(item || {})}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Gemination Test (%)" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.lab_test_growth_percent}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span class="text-capitalize">{{item?.wh_status}}</span>
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <div>
    <data-table-column header="Action" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
            <i class="mdi mdi-pencil"></i> Details
          </button>
        </div>
      </ng-template>
    </data-table-column>
  </div>

</data-table>
<ngx-loading [show]="loading">
</ngx-loading>

