<div class="d-flex justify-content-end">
  <button class="btn btn-primary btn-sm" type="button" (click)="onCreate(createContent)" *ngIf="checkRole(1)">
    <i class="mdi mdi-link"></i> Create New W No
  </button>
</div>
<div class="d-flex justify-content-end . mt-2 mb-2">
  <!-- <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/> -->
</div>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Created By</th>
      <th>Status</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index">
      <td>{{i + 1}}</td>
      <td>{{item?.w_no}}</td>
      <td>{{item?.createdBy? item?.createdBy.fullName: ''}}</td>
      <td>{{getStatus(item)}}</td>
      <td>{{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY  HH:mm:ss') : 'N/A'}}</td>
      <td>{{item.m8lab_plant_updatedAt ? momentObj(item.m8lab_plant_updatedAt).format('MMM Do YYYY HH:mm:ss') : momentObj(item.createdAt).format('MMM Do YYYY HH:mm:ss')}}</td>
      <td>
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
            <i class="mdi mdi-pencil"></i> Details
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ngx-loading [show]="loading">
</ngx-loading>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Withdraw</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerPassportForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ได้รับเอกสารขอรับบริการเมล็ดเชื้อพันธุ์</label>
          <input type="date" formControlName="dateOfReceiving" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.dateOfReceiving.errors }"/>
          <div *ngIf="submitted && f.dateOfReceiving.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfReceiving.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หนังสือขอรับบริการเมล็ดเชื้อพันธุ์</label>
          <input type="text" formControlName="serviceRequestLetter" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.serviceRequestLetter.errors }"/>

          <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event)"/>
          <div *ngIf="submitted && f.serviceRequestLetter.errors" class="invalid-feedback">
            <div *ngIf="f.serviceRequestLetter.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>**หน่วยงานที่ขอรับบริการเมล็ดเชื้อพันธุ์ <span class="text-danger">*</span></label>
          <select formControlName="agenciesRequestSeedGermination" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.agenciesRequestSeedGermination.errors }">
            <option value="1.18.1.1 รัฐบาล">1.18.1.1 รัฐบาล</option>
            <option value="1.18.1.2 เอกชน">1.18.1.2 เอกชน</option>
            <option value="1.18.1.3 มหาวิทยาลัย">1.18.1.3 มหาวิทยาลัย</option>
            <option value="อื่นๆ">อื่นๆ</option>
          </select>
          <div *ngIf="submitted && f.agenciesRequestSeedGermination.errors" class="invalid-feedback">
            <div *ngIf="f.agenciesRequestSeedGermination.errors.required">สถานที่ is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row pl-4" *ngIf="f?.agenciesRequestSeedGermination?.value === '1.18.1.1 รัฐบาล'">
        <div class="form-group col-sm-8">
          <select formControlName="agenciesSubRequestSeedGermination" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.agenciesSubRequestSeedGermination.errors }">
            <option value="1.18.1.1.1 หน่วยงานภายใน">1.18.1.1.1 หน่วยงานภายใน</option>
            <option value="1.18.1.1.2 หน่วยงานภายนอก">1.18.1.1.2 หน่วยงานภายนอก</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
          <input type="text" formControlName="agenciesSubRequestSeedGerminationInput" class="form-control"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>ชื่อผู้ขอ</label>
          <input type="text" formControlName="numberOfRequestor" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.numberOfRequestor.errors }"/>
          <div *ngIf="submitted && f.numberOfRequestor.errors" class="invalid-feedback">
            <div *ngIf="f.numberOfRequestor.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>ที่อยู่ผู้ขอ</label>
          <input type="text" formControlName="requestorAddress" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.requestorAddress.errors }"/>
          <div *ngIf="submitted && f.requestorAddress.errors" class="invalid-feedback">
            <div *ngIf="f.requestorAddress.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หมายเลขโทรศัพท์</label>
          <input type="text" formControlName="telephoneNumber" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.telephoneNumber.errors }"/>
          <div *ngIf="submitted && f.telephoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.telephoneNumber.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>email</label>
          <input type="text" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วัตถุประสงค์</label>
          <input type="text" formControlName="objective" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.objective.errors }"/>
          <div *ngIf="submitted && f.objective.errors" class="invalid-feedback">
            <div *ngIf="f.objective.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>เจ้าของเชื้อพันธุ์ (ส่วนนี้จะใช้สำหรับการดึงข้อมูล) <span class="text-danger">*</span></label>
          <ng-autocomplete
            [searchKeyword]="'reg_seed_owner'"
            [data]="seedSenderList"
            placeHolder="Select the เจ้าของเชื้อพันธุ์"
            (selected)='selectSeedSender($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.reg_seed_owner"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
          <!-- <div *ngIf="submitted && f.reg_seed_owner.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_owner.errors.required">เจ้าของเชื้อพันธุ์ (ส่วนนี้จะใช้สำหรับการดึงข้อมูล) is required</div>
          </div> -->
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary mr-1" type="submit">Create</button>
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>
