<div class="d-flex justify-content-between">
  <button class="btn btn-outline btn-sm" type="button">
    Passport <strong>{{passportInfo?.passport_no}}</strong> > Vols <strong>{{volumeInfo?.volume_no}}</strong> > Plant
    List
  </button>

  <button class="btn btn-primary btn-sm" type="button" [routerLink]="'/admin/register/plant/' + volumeId + '/create'">
    <i class="mdi mdi-link"></i> Create New Plant Group Type
  </button>
</div>

<app-ngbd-popover btnText="Submitted to Module 8 (LAB)"
                  (onConfirm)="onSubmitPlants()"
                  *ngIf="selectedPlantsForSubmit?.length"
                  placement="right"></app-ngbd-popover>

<div class="d-flex justify-content-start mb-3  mt-2">w
  <button class="btn btn-sm btn-info" (click)="onGetListing('draft')">Active</button>
  <button class="ml-3 btn btn-sm btn-success" (click)="onGetListing('complete')">Completed</button>
</div>


<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'passport_no'"
            [substituteRows]="false">
  <data-table-title title="Plant Listing" [controls]="true">
  </data-table-title>


  <div *ngIf="currentStatus==='draft'">
    <data-table-column header="Select" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <label><input type="checkbox" value="item" (change)="onChangeItemSelect(item)"
                      [checked]="selectedPlantsForSubmit.includes(item?._id)"></label>
      </ng-template>
    </data-table-column>
  </div>

  <data-table-column property="passport_no" header="Passport No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport?.passport_no ? item?.passport?.passport_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="vols_no" header="เลขที่รับ (ชุดที่) Vols No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.volume_no ? item?.volume?.volume_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="reg_seed_no" header="ลำดับที่เมล็ดเชื้อพันธุ์ Reg Seed No" sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="reg_gene_id" header="หมายเลขประจำพันธุ์ Reg Gene Id" sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="plant_form_type" header="พืชจาก Plant Form Type" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type ? item?.volume?.form_type : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Status" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span class="text-capitalize">{{item?.m3_status}}</span>
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
          <i class="mdi mdi-pencil"></i> {{ currentStatus === 'draft' ? 'Edit' : 'Details'}}
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="currentStatus==='draft'">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Plant</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this plant?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ngx-loading [show]="loading">
</ngx-loading>



