<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.startDt" />
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>End Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.endDt" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
<data-table
  [items]="plants"
  [itemCount]="count"
  (reload)="reloadData($event)"
  [limit]="50"
  [substituteRows]="false"
>
  <data-table-column
    property="date"
    header="Create At (L No)"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="name"
    header="LAB"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="complete"
    header="Completed"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="draft"
    header="Draft"
    sortable="true"
    resizable="true"
  ></data-table-column>
  <data-table-column
    property="total"
    header="Total"
    sortable="true"
    resizable="true"
  ></data-table-column>
</data-table>
<ngx-loading [show]="loading"></ngx-loading>
