<div class="d-flex justify-content-between">
  <button class="btn btn-outline btn-sm" type="button">
    WH - Lab <strong>[{{labInfo?.lab_no}}]</strong>
  </button>
</div>
<!-- 
<div class="d-flex justify-content-start mb-3  mt-2">
  <button class="btn btn-sm btn-info" (click)="onGetWHPlantListing('draft')">Active</button>
  <button class="ml-3 btn btn-sm btn-success" (click)="onGetWHPlantListing('complete')">Completed</button>
</div> -->


<div class="d-flex justify-content-end mb-4">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle >
      <div (click)="onGetWHPlantListing('draft')"> Active</div>
    </ng-template>
<ng-template ngbTabContent>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'name'"
            [substituteRows]="false">

  <data-table-column header="หมายเลขประจำพันธุ์" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="จำนวน/ปริมาณ" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getStockInfo(item || {})}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Germination (%)" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.lab_test_growth_percent}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span class="text-capitalize">{{item?.wh_status}}</span>
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <!-- {{item.updatedAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}} -->
      {{item.m9warehouse_plant_createdAt ? momentObj(item.m9warehouse_plant_createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <!-- {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}} -->
      {{item.m9warehouse_plant_updatedAt ? momentObj(item.m9warehouse_plant_updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <div>
    <data-table-column header="Action" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
            <i class="mdi mdi-pencil"></i> Details
          </button>
        </div>
      </ng-template>
    </data-table-column>
  </div>

</data-table>

</ng-template>
</ngb-tab>
<ngb-tab>
  <ng-template ngbTabTitle >
    <div (click)="onGetWHPlantListing('complete')"> Completed</div>
  </ng-template>
<ng-template ngbTabContent>

<data-table [items]="items"
          [itemCount]="count"
          (reload)="reloadData($event)"
          [limit]="50"
          [sortBy]="'name'"
          [substituteRows]="false">

<data-table-column header="หมายเลขประจำพันธุ์" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.reg_gene_id}}
  </ng-template>
</data-table-column>

<data-table-column header="จำนวน/ปริมาณ" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{getStockInfo(item || {})}}
  </ng-template>
</data-table-column>

<data-table-column header="Germination (%)" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    {{item?.lab_test_growth_percent}}
  </ng-template>
</data-table-column>

<data-table-column header="Status" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    <span class="text-capitalize">{{item?.wh_status}}</span>
  </ng-template>
</data-table-column>

<data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    <!-- {{item.updatedAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}} -->
    {{item.m9warehouse_plant_createdAt ? momentObj(item.m9warehouse_plant_createdAt).format('MMM Do YYYY') : 'N/A'}}
  </ng-template>
</data-table-column>

<data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
  <ng-template #cellTemplate let-item="item">
    <!-- {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}} -->
    {{item.m9warehouse_plant_updatedAt ? momentObj(item.m9warehouse_plant_updatedAt).format('MMM Do YYYY') : 'N/A'}}
  </ng-template>
</data-table-column>

<div>
  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
          <i class="mdi mdi-pencil"></i> Details
        </button>
      </div>
    </ng-template>
  </data-table-column>
</div>

</data-table>

</ng-template>
</ngb-tab>
</ngb-tabset>

<ngx-loading [show]="loading">
</ngx-loading>

