<div class="d-flex justify-content-end" *ngIf="checkRole(1)">
  <button class="btn btn-primary btn-sm" type="button" [routerLink]="'/admin/master/character/create'">
    <i class="mdi mdi-link"></i> Create New Plant Character
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
</div>

<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Name</th>
      <th>Status</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of info; let i = index">
      <td>{{i + 1}}</td>
      <td>{{item?.genus}}</td>
      <td>{{item?.species}}</td>
      <td>{{item?.status}}</td>
      <td>{{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}</td>
      <td>{{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}</td>
      <td>
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)" *ngIf="checkRole(2)">
            <i class="mdi mdi-pencil"></i> Edit
          </button>
  
          <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="checkRole(3)">
            <i class="mdi mdi-delete"></i> Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Plant Character</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this plant character?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button" (click)="onDeleteCategory();modal.close('Close click')">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
