<div class="d-flex justify-content-end" *ngIf="checkRole(1)">
  <button class="btn btn-primary btn-sm" type="button" [routerLink]="'/admin/manage-data/attribute-list/create'">
    <i class="mdi mdi-link"></i> Create New
  </button>
</div>
<div class="d-flex justify-content-end . mt-2 mb-2">
  <!-- <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/> -->
</div>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Created By</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of info; let i = index">
      <td>{{i + 1}}</td>
      <td>{{item?.setName}}</td>
      <td>{{item?.createdBy?.fullName}}</td>
      <td>{{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}</td>
      <td>{{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}</td>
      <td>
        <div class="d-flex justify-content-start" *ngIf="checkRole(2)">
          <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)">
            <i class="mdi mdi-pencil"></i> Edit
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ngx-loading [show]="loading">
</ngx-loading>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Details Passport {{selectedItem?.passport?.passport_no}} >>
      Volume {{selectedItem?.volume?.volume_no}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-12">
        <label>Reg Seed No</label>
        <span class="font-weight-bold pl-2">{{selectedItem?.reg_seed_no}}</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label>Reg Gene Id</label>
        <span class="font-weight-bold pl-2">{{selectedItem?.reg_gene_id}}</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label>DOA No.</label>
        <span class="font-weight-bold pl-2">{{selectedItem?.gs_no}}</span>
      </div>
    </div>

    <h5>Set Publication</h5>
    <label><input type="checkbox" value="item" [checked]="selectedItem?.isDistribution">&nbsp; ระบบบริการ / Distribution</label>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="onSubmit()" *ngIf="!selectedItem?.isDistribution">Submit</button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
