<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="CommonProvinceListForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>


      <ngb-tabset>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="us"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>Province Name <span class="text-danger">*</span> </label>
              <input type="text" formControlName="provinceName_en" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.provinceName_en.errors }"/>
              <div *ngIf="submitted && f.provinceName_en.errors" class="invalid-feedback">
                <div *ngIf="f.provinceName_en.errors.required">Province Name in English is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="th"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-group col-md-6 col-sm-12">
              <label>Province Name <span class="text-danger">*</span> </label>
              <input type="text" formControlName="provinceName_th" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.provinceName_th.errors }"/>
              <div *ngIf="submitted && f.provinceName_th.errors" class="invalid-feedback">
                <div *ngIf="f.provinceName_th.errors.required">Province Name in Thai is required</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Province Status <span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="">Select status</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Province Status is required</div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<ngx-loading [show]="loading">
</ngx-loading>
