<div class="card m-0">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="card-body">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อ นามสกุล<i class="red">*</i></label>
          <input type="text" formControlName="name" class="form-control" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">ชื่อ นามสกุล is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>เพศ</label>
          <select formControlName="gender" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
          <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
            <div *ngIf="f.gender.errors.required">เพศ is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>อายุ</label>
          <input type="date" formControlName="age" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.age.errors }"/>
          <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
            <div *ngIf="f.age.errors.required">อายุ is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>อาชีพ<i class="red">*</i></label>
          <input formControlName="career" type="text" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.career.errors }">
          <div *ngIf="submitted && f.career.errors" class="invalid-feedback">
            <div *ngIf="f.career.errors.required">อาชีพ is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>ที่ทำงาน / สถานศึกษา<i class="red">*</i></label>
          <input formControlName="workPlace" type="text"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.workPlace.errors }">
          <div *ngIf="submitted && f.workPlace.errors" class="invalid-feedback">
            <div *ngIf="f.workPlace.errors.required">ที่ทำงาน / สถานศึกษา is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>ที่อยู่ปัจจุบัน<i class="red">*</i></label>
          <input formControlName="currentAddress" type="text"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentAddress.errors }">
          <div *ngIf="submitted && f.currentAddress.errors" class="invalid-feedback">
            <div *ngIf="f.currentAddress.errors.required">ที่อยู่ปัจจุบัน is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>เบอร์โทร<i class="red">*</i></label>
          <input formControlName="telephoneNo" type="number"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telephoneNo.errors }">
          <div *ngIf="submitted && f.telephoneNo.errors" class="invalid-feedback">
            <div *ngIf="f.telephoneNo.errors.required">เบอร์โทร is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>อีเมล์<i class="red">*</i></label>
          <input formControlName="email" type="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">อีเมล์ is required</div>
            <div *ngIf="f.email.errors.email">อีเมล์ must be a valid email address</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>รหัสผ่าน (Password)<i class="red">*</i></label>
          <input formControlName="password" type="password"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">รหัสผ่าน is required</div>
            <div *ngIf="f.password.errors.minlength">รหัสผ่าน must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>ยืนยันรหัสผ่าน (Confirm Password)<i class="red">*</i></label>
          <input formControlName="confirmPassword" type="password"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">ยืนยันรหัสผ่าน is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">รหัสผ่าน must match</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ngx-loading [show]="loading">
</ngx-loading>
