<div class="d-flex justify-content-end">
  <button class="btn btn-primary btn-sm" type="button" [routerLink]="'/admin/manage/teams/create'" *ngIf="checkRole(1)">
    <i class="mdi mdi-link"></i> Add New Member 
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'name'"
            [substituteRows]="false">
  <data-table-title title="Team Listing" [controls]="true">
  </data-table-title>

  <data-table-column property="email" header="Email" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column header="First Name - Last Name" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.name?.firstName}} - {{item?.name?.lastName}}
    </ng-template>
  </data-table-column>
  <data-table-column header="Role" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.role?.name}}
    </ng-template>
  </data-table-column>
  <data-table-column property="lastLogin" [width]="300" header="Last Date Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.lastLogin).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>
  <data-table-column property="status" header="Status" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Edit
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)" *ngIf="checkRole(3)">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button" (click)="onDeleteGroup();modal.close('Close click')">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ngx-loading [show]="loading">
</ngx-loading>
