<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [ngClass]="
    {
        'defaultdark': color == 'defaultdark',
        'mini-sidebar': showMinisidebar
    }
">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
    <nav class="d-flex top-navbar navbar-expand-md navbar-light">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header">
        <a class="navbar-brand">
          <!-- Logo icon --><b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo img-logo"/>
        </b>
          <!--End Logo icon -->
          <!-- Logo text -->
          <!--<span>-->
                     <!-- dark Logo text -->
                     <!--<img src="assets/images/logo-text.png" alt="homepage" class="dark-logo"/>-->
          <!-- Light Logo text -->
                     <!--<img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage"/></span> -->
        </a>
      </div>

      <div class="d-flex justify-content-end w-100 align-items-center mobile-hide" *ngIf="userTimezone">
        <small>Timezone: <span class="text-muted pl-1">{{userTimezone}}</span></small>
      </div>

      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
        <app-navigation class="w-100" (toggleSidebar)="toggleSidebar()"></app-navigation>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" [perfectScrollbar]="config">
      <nav class="sidebar-nav">
        <app-sidebar [routes]="this.routes" [roles]="roles"></app-sidebar>
        <ul id="bottom-nav">
          <li class="m-t-40 p-20 upgrade-btn">
            <button class="btn btn-danger text-white">{{currentTimeStamp || 'Getting current time...'}}</button>
          </li>
        </ul>
      </nav>
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <app-breadcrumb></app-breadcrumb>
      <app-ngbd-alert></app-ngbd-alert>
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="card p-4">
        <router-outlet></router-outlet>
      </div>
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->

</div>
