.main-container {
  margin-top: 60px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;

}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
}

.img-logo {
  position: absolute;
  height: 50px;
  top: 3px;
  width: 50px;
  left: 25px;
}

@media screen and (max-width: 786px) {
  .img-logo {
    top: 10px !important;
    left: 16px !important;
  }
}
