<div class="d-flex justify-content-end" *ngIf="checkRole(1)">
  <button class="btn btn-primary btn-sm" type="button" [routerLink]="'/admin/frontend/users/create'">
    <i class="mdi mdi-link"></i> Create New User
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'updatedAt'"
            [substituteRows]="false">
  <data-table-title title="User Listing" [controls]="true">
  </data-table-title>

  <data-table-column property="name" header="Name" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="email" header="Email" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="telephoneNo" header="Telephone No" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt"  header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Edit
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ngx-loading [show]="loading">
</ngx-loading>
