<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="ConditionForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Condition Name <span class="text-danger">*</span> </label>
          <input type="text" formControlName="name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Condition Name is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Condition Type <span class="text-danger">*</span></label>
          <select formControlName="type" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <option value="">Select Condition Type</option>
            <option value="year">Year</option>
            <option value="germination_percent">Germination Percent</option>
            <option value="weight">Weight</option>
          </select>
          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Condition Type is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Condition Value <span class="text-danger">*</span> </label>
          <input type="text" formControlName="value" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.value.errors }"/>
          <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
            <div *ngIf="f.value.errors.required">Condition Value is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Condition Status <span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="">Select Status</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Condition Status is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Condition At <span class="text-danger">*</span></label>
          <select formControlName="conditionAt" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.conditionAt.errors }">
            <option value="">Select Module</option>
            <option value="module_4">Module 4</option>
            <option value="module_8">Module 8</option>
          </select>
          <div *ngIf="submitted && f.conditionAt.errors" class="invalid-feedback">
            <div *ngIf="f.conditionAt.errors.required">Condition At is required</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<ngx-loading [show]="loading">
</ngx-loading>
