<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="PlantForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="form-row mb-2 d-flex justify-content-center">
        <ngx-image-uploader
          [options]="options"
          (upload)="onUpload($event)"></ngx-image-uploader>
      </div>


      <ngb-tabset (tabChange)="onTabChange($event)">

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="us"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>

            <div class="form-row mt-2">
              <div class="form-group">
                <label>Plant Name - Sci <span class="text-danger">*</span> </label>
                <input type="text" formControlName="plantTypeName_sci_en" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_sci_en.errors }"/>
                <div *ngIf="submitted && f.plantTypeName_sci_en.errors" class="invalid-feedback">
                  <div *ngIf="f.plantTypeName_sci_en.errors.required">Plant Name - Sci in English is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Plant Name - Sci Global <span class="text-danger">*</span></label>
                <input type="text" formControlName="plantTypeName_sci_global_en" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_sci_global_en.errors }"/>
                <div *ngIf="submitted && f.plantTypeName_sci_global_en.errors" class="invalid-feedback">
                  <div *ngIf="f.plantTypeName_sci_global_en.errors.required">Plant Name - Sci Global in English is
                    required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Plant Name - Other <span class="text-danger">*</span></label>
                <input type="text" formControlName="plantTypeName_sci_other_en" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_sci_other_en.errors }"/>
                <div *ngIf="submitted && f.plantTypeName_sci_other_en.errors" class="invalid-feedback">
                  <div *ngIf="f.plantTypeName_sci_other_en.errors.required">Plant Name - Other in English is required
                  </div>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <flag-icon country="th"></flag-icon>
          </ng-template>
          <ng-template ngbTabContent>

            <div class="form-row mt-2">
              <div class="form-group">
                <label>Plant Name - Sci <span class="text-danger">*</span> </label>
                <input type="text" formControlName="plantTypeName_sci_th" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_sci_th.errors }"/>
                <div *ngIf="submitted && f.plantTypeName_sci_th.errors" class="invalid-feedback">
                  <div *ngIf="f.plantTypeName_sci_th.errors.required">Plant Name - Sci in Thai is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Plant Name - Sci Global <span class="text-danger">*</span></label>
                <input type="text" formControlName="plantTypeName_sci_global_th" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_sci_global_th.errors }"/>
                <div *ngIf="submitted && f.plantTypeName_sci_global_th.errors" class="invalid-feedback">
                  <div *ngIf="f.plantTypeName_sci_global_th.errors.required">Plant Name - Sci Global in Thai is
                    required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Plant Name - Other <span class="text-danger">*</span></label>
                <input type="text" formControlName="plantTypeName_sci_other_th" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.plantTypeName_sci_other_th.errors }"/>
                <div *ngIf="submitted && f.plantTypeName_sci_other_th.errors" class="invalid-feedback">
                  <div *ngIf="f.plantTypeName_sci_other_th.errors.required">Plant Name - Other in Thai is required
                  </div>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>

      </ngb-tabset>


      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Plant Category <span class="text-danger">*</span></label>
          <select formControlName="plant_category" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_category.errors }">
            <option value="">Select Category</option>
            <option [value]="item._id"
                    *ngFor="let item of categoryList">{{lang === 'th' ? item.categoryName_th : item.categoryName_en}}</option>
          </select>
          <div *ngIf="submitted && f.plant_category.errors" class="invalid-feedback">
            <div *ngIf="f.plant_category.errors.required">Plant Category is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Plant character <span class="text-danger">*</span></label>
          <select formControlName="plant_character" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_character.errors }">
            <option value="">Select Character</option>
            <option [value]="item._id"
                    *ngFor="let item of characterList">{{lang === 'th' ? item.characterName_th : item.characterName_en}}</option>
          </select>
          <div *ngIf="submitted && f.plant_character.errors" class="invalid-feedback">
            <div *ngIf="f.plant_character.errors.required">Plant Character is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Plant Group <span class="text-danger">*</span></label>
          <select formControlName="plant_group" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_group.errors }">
            <option value="">Select Group</option>
            <option [value]="item._id"
                    *ngFor="let item of groupList">{{lang === 'th' ? item.groupName_th : item.groupName_en}}</option>
          </select>
          <div *ngIf="submitted && f.plant_group.errors" class="invalid-feedback">
            <div *ngIf="f.plant_group.errors.required">Plant Group is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Plant Group Type <span class="text-danger">*</span></label>
          <select formControlName="plant_group_type" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_group_type.errors }">
            <option value="">Select Group Type</option>
            <option [value]="item._id"
                    *ngFor="let item of groupTypeList">{{lang === 'th' ? item.groupTypeName_th : item.groupTypeName_en}}</option>
          </select>
          <div *ngIf="submitted && f.plant_group_type.errors" class="invalid-feedback">
            <div *ngIf="f.plant_group_type.errors.required">Plant Group Type is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-12">
          <label>Plant Status <span class="text-danger">*</span></label>
          <select formControlName="plant_status" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_status.errors }">
            <option value="">Select Status</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">InActive</option>
          </select>
          <div *ngIf="submitted && f.plant_status.errors" class="invalid-feedback">
            <div *ngIf="f.plant_status.errors.required">Plant Status is required</div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<ngx-loading [show]="loading">
</ngx-loading>
