/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "~bootstrap/scss/bootstrap";
@import 'assets/scss/icons/font-awesome/css/font-awesome.min.css';
@import 'assets/scss/icons/simple-line-icons/css/simple-line-icons.css';
@import 'assets/scss/icons/themify-icons/themify-icons.css';
@import "assets/scss/icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import 'assets/scss/variable.scss';
@import 'assets/scss/app.scss';
@import 'assets/scss/pages.scss';
@import 'assets/scss/sidebar.scss';
@import 'assets/scss/widgets.scss';
@import 'assets/scss/grid.scss';
@import 'assets/scss/responsive.scss';
@import 'assets/scss/spinners.scss';
@import 'assets/scss/animate.css';
@import 'assets/scss/theme-settings.scss';
// color css
@import 'assets/scss/colors/blue-dark.scss';
@import 'assets/scss/colors/default-dark.scss';
@import 'assets/scss/colors/red-dark.scss';
@import 'assets/scss/colors/green-dark.scss';
@import 'assets/scss/colors/purple-dark.scss';
@import 'assets/scss/colors/megna-dark.scss';
@import 'assets/scss/colors/megna.scss';
@import 'assets/scss/colors/blue.scss';
@import 'assets/scss/colors/red.scss';
@import 'assets/scss/colors/green.scss';
@import 'assets/scss/colors/purple.scss';
@import 'assets/scss/colors/default.scss';
// dark theme
@import 'assets/scss/dark.scss';


.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

.active {
  & a {
    color: $sidebar-text !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.checkbox {
  & span {
    padding-left: 0.5rem !important;
  }
}

.img-height {
  height: 266px !important;
  width: 266px !important;
}

.autocomplete {
  & li {
    color: blue;

    .active {
      width: 100%;
      background-color: red !important;
    }
  }
}

.autocomplete {
  cursor: pointer !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mobile-hide {
    display: none !important;
  }

  .btn {
    margin-bottom: 15px !important;
  }

  .nav-item {
    margin-top: 10px !important;
  }
}

.spinner-animation {
  height: 250px;
  animation: sk-bounce 2.5s infinite ease-in-out;
}

.login-logo {
  height: 175px;
  width: 175px;
}

@font-face {
  font-family: NotoSerifThaiRegular;
  src: url(assets/fonts/NotoSerifThai-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: NotoSerifThai-Bold;
  src: url(assets/fonts/NotoSerifThai-Bold.ttf) format('truetype');
}

.popover-content p{
  text-align: center !important;
}