<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantCharacterForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Plant Category <span class="text-danger">*</span> </label>
          <select formControlName="plant_category" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.plant_category.errors }">
            <option value="">Select Form</option>
            <option [value]="category._id" *ngFor="let category of categoryList">{{category.categoryName_en}}</option>
          </select>
          <div *ngIf="submitted && f.plant_category.errors" class="invalid-feedback">
            <div *ngIf="f.plant_category.errors.required">Plant Category is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Scientific Name <span class="text-danger">*</span> </label>
          <input type="text" formControlName="genus" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.genus.errors }"/>
          <div *ngIf="submitted && f.genus.errors" class="invalid-feedback">
            <div *ngIf="f.genus.errors.required">Genus is required</div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label>Author Name/Other </label>
          <input type="text" formControlName="species" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.species.errors }"/>
          <div *ngIf="submitted && f.species.errors" class="invalid-feedback">
            <div *ngIf="f.species.errors.required">Species is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Plant Common Name <span class="text-danger">*</span> </label>
          <input type="text" formControlName="reg_plant_common_name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_plant_common_name.errors }"/>
          <div *ngIf="submitted && f.reg_plant_common_name.errors" class="invalid-feedback">
            <div *ngIf="f.reg_plant_common_name.errors.required">Species is required</div>
          </div>
        </div>
      </div>

      <label *ngIf="f?.reg_plant_alter_name?.value?.length">ชื่อเรียกอื่น (Reg Plant Alter Name) <span class="text-danger">*</span>
      </label>
      <div formArrayName="reg_plant_alter_name"
           class="row"
           *ngFor="let alterItem of plantCharacterForm.get('reg_plant_alter_name').controls; let i=index">
        <div class="form-group col-md-6 d-flex justify-content-center" [formGroupName]="i">
          <input type="text" class="form-control" formControlName="name"/>
          <button class="ml-2 btn btn-danger round d-flex justify-content-center align-items-center" type="button"
                  *ngIf="i !== 0"
                  (click)="deleteIndex(i)"><i class="fa fa-times"></i></button>
          <div *ngIf="submitted && alterItem.controls.name.errors" class="invalid-feedback">
            <div *ngIf="alterItem.controls.name.errors.required">Field is required</div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary round d-flex justify-content-center align-items-center" type="button"
              (click)="addItem('')"><i class="fa fa-plus"></i></button>

      <div class="form-row mt-2">
        <div class="form-group col-md-3 col-sm-12">
          <label>Plant Character Status <span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="">Select Status</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
