<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'passport_no'"
            [substituteRows]="false">
  <data-table-title title="Plant Completed from module 3" [controls]="true">
  </data-table-title>

  <data-table-column property="passport_no" header="Passport No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport?.passport_no ? item?.passport?.passport_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="vols_no" header="เลขที่รับ (ชุดที่) Vols No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.volume_no ? item?.volume?.volume_no : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="reg_seed_no" header="ลำดับที่เมล็ดเชื้อพันธุ์ Reg Seed No" sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="reg_gene_id" header="หมายเลขประจำพันธุ์ Reg Gene Id" sortable="true"
                     resizable="true">
  </data-table-column>

  <data-table-column property="plant_form_type" header="พืชจาก Plant Form Type" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type ? item?.volume?.form_type : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="plant_form_type" header="Plant Stock" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{getPlantStockType(item)}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Status" sortable="true"
                     resizable="true">
    <ng-template #cellTemplate let-item="item">
    Completed
    </ng-template>
  </data-table-column>


</data-table>

<ngx-loading [show]="loading">
</ngx-loading>
