<div class="d-flex justify-content-start">
  <button class="btn btn-outline btn-sm" type="button">
    <i class="mdi mdi-link"></i> Withdraw - [{{withDrawInfo?.w_no}}]
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'m_no'"
            [substituteRows]="false">
  <data-table-title title="Withdraw List" [controls]="true">
  </data-table-title>

  <data-table-column header="Passport No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.passport?.passport_no}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Vols No." sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.volume_no}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Batch" sortable="true" resizable="true">
    <!-- <data-table-column header="Plant Stock" sortable="true" resizable="true"> -->
    <ng-template #cellTemplate let-item="item">
      {{item?.withdraw_stock_list}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Reg Gene Id" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.reg_gene_id}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Plant form type" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.volume?.form_type}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM DD, YYYY HH.mm') : 'N/A'}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <span class="text-capitalize">{{item?.withDrawStatus === 'pending' && item?.admin_amount ? 'Approve' : item?.withDrawStatus}}</span>
    </ng-template>
  </data-table-column>


  <div *ngIf="currentStatus === 'pending' || currentStatus === 'complete'">
    <data-table-column header="Request Amount" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        {{item?.withdraw_request_stock}}
      </ng-template>
    </data-table-column>
  </div>

  <div *ngIf="currentStatus === 'pending' || currentStatus === 'complete'">
    <data-table-column header="Amount" sortable="true" resizable="true">
      <ng-template #cellTemplate let-item="item">
        {{item?.admin_amount || ''}}
      </ng-template>
    </data-table-column>
  </div>

  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button
          *ngIf="item?.withDrawStatus === 'pending' && !(item?.admin_amount)"
          class="btn btn-primary mr-1 btn-sm" type="button" (click)="onEdit(createContent,item)">
          <i class="mdi mdi-pencil"></i> Set Stock
        </button
        >

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="false">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>


</data-table>

<ngx-loading [show]="loading">
</ngx-loading>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Approve</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerPassportForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>Stock</label>
          <input type="number"
                 min="12"
                 max="{{admin_amount_max}}"
                 onlyNumber="true"
                 formControlName="admin_amount" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.admin_amount.errors }"/>
          <div *ngIf="submitted && f.admin_amount.errors" class="invalid-feedback">
            <div *ngIf="f.admin_amount.errors.required">Stock is required
            </div>
          </div>
        </div>
      </div>


      <div class="modal-footer d-flex justify-content-center">
        <app-ngbd-popup btnText="Confirm"
        btnClass="btn btn-primary"
        (onConfirm)="onSubmit()"
        *ngIf="!disabled"
        placement="left"></app-ngbd-popup>        
        <!-- <button class="btn btn-primary mr-1" type="submit">Confirm</button> -->
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>
