<div class="card m-0">
  <div class="card-body">
    <form [formGroup]="plantGroupTypeForm" (ngSubmit)="onSubmit()">
      <div class="col-12 d-flex justify-content-end">
        <div class="text-center">
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary mr-1" type="submit" *ngIf="!disabled">Save</button>
          <app-ngbd-popover btnText="Submit to Module 9 (WH)"
                            btnClass="btn btn-primary"
                            (onConfirm)="onSubmitPlants()"
                            *ngIf="!disabled"
                            placement="left"></app-ngbd-popover>

        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Lab No <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="labInfo?.lab_no"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Send Lab Date <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="labInfo?.reg_seed_receive"/>
        </div>
      </div>

      <div class="form-row d-none">
        <div class="form-group col-md-3 col-sm-12">
          <label>จำนวนพืชที่ทดสอบ <span class="text-danger">*</span> </label>
          <input type="number" min="0" OnlyNumber="true" class="form-control"
                 formControlName="lab_test_plant_amount_input"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_plant_amount_input.errors }"/>
          <div *ngIf="submitted && f.lab_test_plant_amount_input.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_plant_amount_input.errors.required">จำนวนพืชที่ทดสอบ is required</div>
          </div>
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label> &nbsp; </label>
          <select formControlName="lab_test_plant_amount_dropdown" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.lab_test_plant_amount_dropdown.errors }">
            <option value="เมล็ด / Seed">เมล็ด / Seed</option>
            <option value="กรัม / Gram">กรัม / Gram</option>
          </select>
          <div *ngIf="submitted && f.lab_test_plant_amount_dropdown.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_plant_amount_dropdown.errors.required">จำนวนพืชที่ทดสอบ is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ประเภทแบบฟอร์ม (Plant form type) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="volumeInfo?.form_type"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>Passport No. <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="passportInfo?.passport_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เลขที่รับ (ชุดที่) (Reg. Vol) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="volumeInfo?.volume_no"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ลงทะเบียน (Reg Date) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="passportInfo?.reg_date"/>
        </div>
      </div>

      <div class="form-row" *ngIf="getAttachment('passport-reg-files', passportInfo?.reg_attach_file)">
        <div class="form-group col-md-6 col-sm-12">
          <label>Reg Agreement <span class="text-danger">*</span> </label>
          <div class="font-weight-bold">
            <a [href]="getAttachment('passport-reg-files', passportInfo?.reg_attach_file)"
               target="_blank">Agreement File</a>
          </div>
        </div>
      </div>


      <div class="form-row" *ngIf="reg_seed_no">
        <div class="form-group col-md-6 col-sm-12">
          <label>เลขที่หนังสือนำส่งเมล็ดเชื้อพันธุ์  <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="reg_seed_no"/>
        </div>
      </div>


      <div class="form-row" *ngIf="reg_gene_id">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเลขประจำพันธุ์ (Reg Gene Id) </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="reg_gene_id"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6  col-sm-12">
          <label>ชื่อวิทยาศาสตร์  (Reg Plant Sci Name) <span class="text-danger">*</span></label>
          <ng-autocomplete
            disabled
            [searchKeyword]="'genus'"
            formControlName="reg_plant_sci_name"
            [data]="plantsListing"
            placeHolder="Select the Reg Plant Sci Name"
            [itemTemplate]="itemTemplate"
            (selected)="onSelect($event)"
            (inputCleared)="onClear()"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="'' + item.genus + ' '+ item.species"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชนิดพืช (Reg Plant Type) <span class="text-danger">*</span> </label>
          <select class="form-control" disabled [value]="selectedPlant?.plant_category">
            <option value=""></option>
            <option [value]="item._id"
                    *ngFor="let item of categoryList">
              {{item?.categoryName_en}}
            </option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อสามัญ (Reg Plant Common Name) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 [value]="selectedPlant?.reg_plant_common_name"/>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อเรียกอื่น (Reg Plant Alter Name) *</label>
          <tag-input
            disable="true"
            formControlName="reg_plant_alter_name"
            [onlyFromAutocomplete]="false">
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [autocompleteItems]="selectedPlant?.reg_plant_alter_name">
            </tag-input-dropdown>
          </tag-input>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อพันธุ์ (Variety name) <span class="text-danger">*</span> </label>
          <select formControlName="plant_gene_name" class="form-control"
                  disabled
                  [ngClass]="{ 'is-invalid': submitted && f.plant_gene_name.errors }">
            <option value="">Select Reg Gene Name</option>
            <option [value]="item._id"
                    *ngFor="let item of plantTypes">
              {{item.plantTypeName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.plant_gene_name.errors" class="invalid-feedback">
            <div *ngIf="f.plant_gene_name.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชนิดของพันธุ์ (Variety type)</label>
          <select formControlName="reg_gene_type" class="form-control"
                  disabled
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_type.errors }">
            <option value="">Select Group</option>
            <option [value]="item._id"
                    *ngFor="let item of groupList">
              {{item.groupName_en}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_type.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_type.errors.required">ชนิดของพันธุ์ (Variety type) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ประเภทของพันธุ์ (Variety catagory) <span class="text-danger">*</span> </label>
          <select formControlName="reg_gene_category" class="form-control"
                  disabled
                  [ngClass]="{ 'is-invalid': submitted && f.reg_gene_category.errors }">
            <option value="">Select Group</option>
            <option [value]="item._id"
                    *ngFor="let item of groupTypeList">
              {{item.groupTypeName_th}}
            </option>
          </select>
          <div *ngIf="submitted && f.reg_gene_category.errors" class="invalid-feedback">
            <div *ngIf="f.reg_gene_category.errors.required">ประเภทของพันธุ์ (Variety catagory) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) </label>
          <input type="date" class="form-control"
                 disabled
                 formControlName="reg_seed_collect_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_collect_date.errors }"/>
          <div *ngIf="submitted && f.reg_seed_collect_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_collect_date.errors.required">วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) in English is required</div>
          </div>
        </div>
      </div>

      <div class="text-info mt-2">จำนวน/ปริมาณเมล็ดเชื้อพันธุ์ (กรัม/จำนวนเมล็ด)</div>
      <div class="p-4">
        <div class="form-row form-group" *ngIf="f.selfing_input.value && f.selfing_dropdown.value">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   disabled
                   formControlName="selfing_input"
                   [ngClass]="{ 'is-invalid': submitted && f.selfing_input.errors }"/>
            <div *ngIf="submitted && f.selfing_input.errors" class="invalid-feedback">
              <div *ngIf="f.selfing_input.errors.required">เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="selfing_dropdown" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.selfing_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.selfing_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.selfing_dropdown.errors.required">เมล็ดพันธุ์จากการผสมตัวเอง (Self-pollinated seed- SP) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row form-group"
             *ngIf="!f.selfing_input.value && !f.selfing_dropdown.value && f.oop_input.value && f.oop_dropdown.value">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   disabled
                   formControlName="oop_input"
                   [ngClass]="{ 'is-invalid': submitted && f.oop_input.errors }"/>
            <div *ngIf="submitted && f.oop_input.errors" class="invalid-feedback">
              <div *ngIf="f.oop_input.errors.required">เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="oop_dropdown" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.oop_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.oop_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.oop_dropdown.errors.required">เมล็ดพันธุ์ไม่ควบคุมการผสมพันธุ์ (Open-pollinated seed- OP) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row form-group"
             *ngIf="!f.selfing_input.value && !f.selfing_dropdown.value && !f.oop_input.value && !f.oop_dropdown.value && f.other_input.value && f.other_dropdown.value">
          <div class="col-md-6 col-sm-12 mt-4">
            <label>ไม่ระบุ (Other) <span class="text-danger">*</span> </label>
            <input type="text" class="form-control"
                   formControlName="other_input"
                   disabled
                   [ngClass]="{ 'is-invalid': submitted && f.other_input.errors }"/>
            <div *ngIf="submitted && f.other_input.errors" class="invalid-feedback">
              <div *ngIf="f.other_input.errors.required">ไม่ระบุ (Other) is required</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mt-4">
            <label> &nbsp;</label>
            <select formControlName="other_dropdown" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.other_dropdown.errors }">
              <option value="">Select Group</option>
              <option value="เมล็ด / Seed">เมล็ด / Seed</option>
              <option value="กรัม / Gram">กรัม / Gram</option>
            </select>

            <div *ngIf="submitted && f.other_dropdown.errors" class="invalid-feedback">
              <div *ngIf="f.other_dropdown.errors.required">ไม่ระบุ (Other) is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-info mt-2">แหล่งที่มา (Source)</div>
      <div class="p-4">
        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ประเภทหน่วยงาน (Types of Organization) <span class="text-danger">*</span> </label>
            <select formControlName="department_type" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.department_type.errors }">
              <option value="">Select Department Type</option>
              <option value="1.18.1.1 รัฐบาล">1.18.1.1 รัฐบาล</option>
              <option value="1.18.1.2 เอกชน">1.18.1.2 เอกชน</option>
              <option value="1.18.1.3 มหาวิทยาลัย">1.18.1.3 มหาวิทยาลัย</option>
            </select>
            <div *ngIf="submitted && f.department_type.errors" class="invalid-feedback">
              <div *ngIf="f.department_type.errors.required">Department Type is required</div>
            </div>
          </div>
        </div>
        <div class="form-row pl-4" *ngIf="f.department_type.value === '1.18.1.1 รัฐบาล'">
          <div class="form-group col-md-6 col-sm-12">
            <label>Department Type </label>
            <select formControlName="department_sub_type" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.department_sub_type.errors }">
              <option value="">Select Department Sub Type</option>
              <option value="1.18.1.1.1 หน่วยงานภายใน">1.18.1.1.1 หน่วยงานภายใน</option>
              <option value="1.18.1.1.2 หน่วยงานภายนอก">1.18.1.1.2 หน่วยงานภายนอก</option>
            </select>
          </div>
        </div>
        <div class="form-row pl-4"
             *ngIf="f.department_type.value === '1.18.1.1 รัฐบาล' || f.department_type.value === '1.18.1.2 เอกชน'  || f.department_type.value === '1.18.1.3 มหาวิทยาลัย'">
          <div class="form-group col-md-6 col-sm-12">
            <label>หน่วยงาน (Organization Name) </label>
            <input type="text" class="form-control"
                   formControlName="department_name"
                   disabled
                   [ngClass]="{ 'is-invalid': submitted && f.department_name.errors }"/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ประเทศต้นกำเนิดเชื้อพันธุ์ (Country of Origin) </label>
            <select formControlName="source_country" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.source_country.errors }">
              <option value="">Select Country</option>
              <option [value]="item._id"
                      *ngFor="let item of countryList">
                {{item.countryName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_country.errors" class="invalid-feedback">
              <div *ngIf="f.source_country.errors.required">ประเทศ (Country) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>จังหวัด (Province) <span class="text-danger">*</span> </label>
            <select formControlName="source_province" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.source_province.errors }">
              <option value="">Select Province</option>
              <option [value]="item._id"
                      *ngFor="let item of provinceList">
                {{item.provinceName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_province.errors" class="invalid-feedback">
              <div *ngIf="f.source_province.errors.required">จังหวัด (Province) is required</div>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>อำเภอ (District) <span class="text-danger">*</span> </label>
            <select formControlName="source_district" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.source_district.errors }">
              <option value="">Select District</option>
              <option [value]="item._id"
                      *ngFor="let item of aumperList">
                {{item.aumperName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_district.errors" class="invalid-feedback">
              <div *ngIf="f.source_district.errors.required">อำเภอ (District) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <label>ที่อยู่ (Address) <span class="text-danger">*</span> </label>
            <textarea class="form-control"
                      disabled
                      formControlName="source_address"
                      [ngClass]="{ 'is-invalid': submitted && f.source_address.errors }">
            </textarea>
            <div *ngIf="submitted && f.source_address.errors" class="invalid-feedback">
              <div *ngIf="f.source_address.errors.required">ที่อยู่ (Address) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2 col-sm-6">
            <label>ละติจูด (Lat) </label>
            <input type="number" min="0" OnlyNumber="true" class="form-control"
                   disabled
                   formControlName="lat"
                   [ngClass]="{ 'is-invalid': submitted && f.lat.errors }"/>
            <div *ngIf="submitted && f.lat.errors" class="invalid-feedback">
              <div *ngIf="f.lat.errors.required">ละติจูด (Lat) is required</div>
            </div>
          </div>
          <div class="form-group col-md-2 col-sm-6">
            <label>ลองติจูด (Lng) </label>
            <input type="number" min="0" OnlyNumber="true" class="form-control"
                   formControlName="long"
                   disabled
                   [ngClass]="{ 'is-invalid': submitted && f.long.errors }"/>
            <div *ngIf="submitted && f.long.errors" class="invalid-feedback">
              <div *ngIf="f.long.errors.required">ลองติจูด (Lng) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="f.source_by_department.value">
          <div class="form-group col-md-6 col-sm-12">
            <label>Source By Department</label>
            <input type="text" class="form-control"
                   disabled
                   formControlName="source_by_department"
                   [ngClass]="{ 'is-invalid': submitted && f.source_by_department.errors }"/>
            <div *ngIf="submitted && f.source_by_department.errors" class="invalid-feedback">
              <div *ngIf="f.source_by_department.errors.required">หน่วยงานเจ้าของพันธุ์ (Owner organization) is required</div>
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="f.source_country_1.value">
          <div class="form-group col-md-6 col-sm-12">
            <label>ประเทศต้นกำเนิดเชื้อพันธุ์ (Country of Origin) </label>
            <select formControlName="source_country_1" class="form-control"
                    disabled
                    [ngClass]="{ 'is-invalid': submitted && f.source_country_1.errors }">
              <option value="">Select Country</option>
              <option [value]="item._id"
                      *ngFor="let item of countryList">
                {{item.countryName_en}}
              </option>
            </select>
            <div *ngIf="submitted && f.source_country_1.errors" class="invalid-feedback">
              <div *ngIf="f.source_country_1.errors.required">ประเทศ (Country) is required</div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ผู้เก็บเมล็ดเชื้อพันธุ์ (Seed collector) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 formControlName="reg_seed_collect_person"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_collect_person.errors }"/>
          <div *ngIf="submitted && f.reg_seed_collect_person.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_collect_person.errors.required">ผู้เก็บเมล็ดเชื้อพันธุ์ (Seed collector) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>เจ้าของเชื้อพันธุ์ (Seed owner) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 formControlName="reg_seed_owner"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_owner.errors }"/>
          <div *ngIf="submitted && f.reg_seed_owner.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_owner.errors.required">เจ้าของเชื้อพันธุ์ (Seed owner) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ผู้นำส่งเมล็ดเชื้อพันธุ์ (Seed provider) <span class="text-danger">*</span> </label>
          <input type="text" class="form-control"
                 disabled
                 formControlName="reg_seed_sender"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_sender.errors }"/>
          <div *ngIf="submitted && f.reg_seed_sender.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_sender.errors.required">ผู้นำส่งเมล็ดเชื้อพันธุ์ (Seed provider) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>บรรยายลักษณะเบื้องต้น (Brief characteristics) </label>
          <input type="text" class="form-control"
                 disabled
                 formControlName="reg_character_brief"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_character_brief.errors }"/>
          <div *ngIf="submitted && f.reg_character_brief.errors" class="invalid-feedback">
            <div *ngIf="f.reg_character_brief.errors.required">บรรยายลักษณะเบื้องต้น (Brief characteristics) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row"
           *ngIf="getAttachment('plant-files', reg_character_attached_file) && !regCharacterAttachedFile">
        <div class="form-group col-md-6 col-sm-12">
          <label>ข้อมูลลักษณะประจำพันธุ์ (Plant characteristics) </label>
          <div>
            <div class="font-weight-bold">
              <a [href]="getAttachment('plant-files', reg_character_attached_file)"
                 target="_blank">Uploaded Reg Character File</a>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 statuscol-sm-12 mt-4">
          <label>ข้อมูลลักษณะประจำพันธุ์ (Plant characteristics) </label>
          <select formControlName="reg_character_for_record" class="form-control"
                  disabled
                  [ngClass]="{ 'is-invalid': submitted && f.reg_character_for_record.errors }">
            <option value="">Select Reg Character for Record</option>
            <option value="1.23.3.1 มี">1.23.3.1 มี</option>
            <option value="1.23.3.2 ไม่มี">1.23.3.2 ไม่มี</option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>วันที่ส่งฝ่ายปฏิบัติการ (Sending date to Lab) <span class="text-danger">*</span> </label>
          <input type="date" class="form-control"
                 disabled
                 formControlName="reg_sent_lab_date"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_sent_lab_date.errors }"/>
          <div *ngIf="submitted && f.reg_sent_lab_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_sent_lab_date.errors.required">วันที่ส่งฝ่ายปฏิบัติการ (Sending date to Lab) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเหตุจากฝ่ายลงทะเบียน (Remarks from Registration Unit) <span class="text-danger">*</span> </label>
          <textarea class="form-control"
                    disabled
                    formControlName="reg_remark"
                    [ngClass]="{ 'is-invalid': submitted && f.reg_remark.errors }">
            </textarea>
          <div *ngIf="submitted && f.reg_remark.errors" class="invalid-feedback">
            <div *ngIf="f.reg_remark.errors.required">หมายเหตุจากฝ่ายลงทะเบียน (Remarks from Registration Unit) is required</div>
          </div>
        </div>
      </div>

      <!--Start here-->

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>% ความชื้นของเมล็ดเชื้อพันธุ์(Percent of seed MC) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_plant_amount')"
                     [checked]="f.lab_test_plant_amount.value == '-'"> No data
            </div>
          </div>
          <input type="number"
                 min="0"
                 max="100"
                 *ngIf="f.lab_test_plant_amount.value !== '-'"
                 class="form-control"
                 formControlName="lab_test_plant_amount"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_plant_amount.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_plant_amount.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_plant_amount.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_plant_amount.errors.required">% ความชื้นของเมล็ดเชื้อพันธุ์ (ไม่เกิน100%) is
              required
            </div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วันที่ทดสอบความชื้น(MC testing date) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_moisture_date')"
                     [checked]="f.lab_test_moisture_date.value == '-'"> No data
            </div>
          </div>
          <input type="date" class="form-control"
                 formControlName="lab_test_moisture_date"
                 *ngIf="f.lab_test_moisture_date.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_moisture_date.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_moisture_date.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_moisture_date.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_moisture_date.errors.required">วันที่ทดสอบความงอก is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วิธีทดสอบความชื้น(Method of MC test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_moisture_method')"
                     [checked]="f.lab_test_moisture_method.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 formControlName="lab_test_moisture_method"
                 *ngIf="f.lab_test_moisture_method.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_moisture_method.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_moisture_method.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_moisture_method.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_moisture_method.errors.required">วิธีทดสอบความงอก is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>จำนวนเมล็ดที่ใช้ทดสอบความชื้น(Number of seed used for MC test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_moisture_amount')"
                     [checked]="f.lab_test_moisture_amount.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 formControlName="lab_test_moisture_amount"
                 *ngIf="f.lab_test_moisture_amount.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_moisture_amount.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_moisture_amount.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_moisture_amount.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_moisture_amount.errors.required">จำนวนเม็ลดที่ใช้ทดสอบความชื้น is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>ชื่อผู้ทดสอบความชื้น(MC tester name) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_moisture_person')"
                     [checked]="f.lab_test_moisture_person.value == '-'"> No data
            </div>
          </div>

          <input type="text" class="form-control"
                 *ngIf="f.lab_test_moisture_person.value !== '-'"
                 formControlName="lab_test_moisture_person"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_moisture_person.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_moisture_person.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_moisture_person.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_moisture_person.errors.required">ชื่อผู้ทดสอบความชื้น is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>% ความงอกของเมล็ดเชื้อพันธุ์(Percent of seed germination) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_growth_percent')"
                     [checked]="f.lab_test_growth_percent.value == '-'"> No data
            </div>
          </div>
          <input type="number"
                 min="0" OnlyNumber="true"
                 max="100"
                 *ngIf="f.lab_test_growth_percent.value !== '-'"
                 class="form-control"
                 formControlName="lab_test_growth_percent"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_growth_percent.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_growth_percent.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_growth_percent.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_growth_percent.errors.required"> % ความงอกของเมล็ดเชื้อพันธุ์ (ไม่เกิน100%) is
              required
            </div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วันที่ทดสอบความงอก(Seed germination testing date) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_growth_date')"
                     [checked]="f.lab_test_growth_date.value == '-'"> No data
            </div>
          </div>
          <input type="date" class="form-control"
                 *ngIf="f.lab_test_growth_date.value !== '-'"
                 formControlName="lab_test_growth_date"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_growth_date.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_growth_date.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_growth_date.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_growth_date.errors.required">วันที่เก็บเกี่ยวเมล็ดเชื้อพันธุ์  (Reg Seed Collect Date) in English is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วิธีทดสอบความงอก(Method of seed germination test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_growth_method')"
                     [checked]="f.lab_test_growth_method.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 formControlName="lab_test_growth_method"
                 *ngIf="f.lab_test_growth_method.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_growth_method.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_growth_method.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_growth_method.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_growth_method.errors.required">วิธีทดสอบความงอก is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>จำนวนเมล็ดที่ใช้ทดสอบความงอก(Number of seed used for germination test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_growth_amount')"
                     [checked]="f.lab_test_growth_amount.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 *ngIf="f.lab_test_growth_amount.value !== '-'"
                 formControlName="lab_test_growth_amount"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_growth_amount.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_growth_amount.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_growth_amount.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_growth_amount.errors.required">จำนวนเม็ลดที่ใช้ทดสอบความงอก is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>ชื่อผู้ทดสอบความงอก(Seed germination tester name) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_growth_person')"
                     [checked]="f.lab_test_growth_person.value == '-'"> No data
            </div>
          </div>

          <input type="text" class="form-control"
                 formControlName="lab_test_growth_person"
                 *ngIf="f.lab_test_growth_person.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_growth_person.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_growth_person.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_growth_person.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_growth_person.errors.required">ชื่อผู้ทดสอบความชื้น is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label> % ความแข็งแรงของเมล็ดเชื้อพันธุ์(Percent of seed vigor) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_strong_percent')"
                     [checked]="f.lab_test_strong_percent.value == '-'"> No data
            </div>
          </div>
          <input type="number"
                 min="0" OnlyNumber="true"
                 max="100"
                 *ngIf="f.lab_test_strong_percent.value !== '-'"
                 class="form-control"
                 formControlName="lab_test_strong_percent"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_strong_percent.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_strong_percent.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_strong_percent.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_strong_percent.errors.required"> % ความแข็งแรงของเมล็ดเชื้อพันธุ์ (ไม่เกิน100%) is
              required
            </div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วันที่ทดสอบความแข็งแรง(Seed vigor testing date) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_strong_date')"
                     [checked]="f.lab_test_strong_date.value == '-'"> No data
            </div>
          </div>
          <input type="date" class="form-control"
                 formControlName="lab_test_strong_date"
                 *ngIf="f.lab_test_strong_date.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_strong_date.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_strong_date.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_strong_date.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_strong_date.errors.required">วันที่ทดสอบความแข็งแรง is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วิธีทดสอบความแข็งแรง(Method of seed vigor test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_strong_method')"
                     [checked]="f.lab_test_strong_method.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 *ngIf="f.lab_test_strong_method.value !== '-'"
                 formControlName="lab_test_strong_method"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_strong_method.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_strong_method.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_strong_method.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_strong_method.errors.required">วิธีทดสอบความแข็งนแรง is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>จำนวนเมล็ดที่ใช้ทดสอบความแข็งแรง(Number of seed used for vigor test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_strong_amount')"
                     [checked]="f.lab_test_strong_amount.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 *ngIf="f.lab_test_strong_amount.value !== '-'"
                 formControlName="lab_test_strong_amount"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_strong_amount.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_strong_amount.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_strong_amount.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_strong_amount.errors.required">จำนวนเมล็ดที่ใช้ทดสอบความแข็งแรง is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>ชื่อผู้ทดสอบความแข็งแรง(Seed vigor tester name) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_strong_person')"
                     [checked]="f.lab_test_strong_person.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 formControlName="lab_test_strong_person"
                 *ngIf="f.lab_test_strong_person.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_strong_person.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_strong_person.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_strong_person.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_strong_person.errors.required">ชื่อผู้ทดสอบความแข็งแรง is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>% ความมีชีวิตของเมล็ดเชื้อพันธุ์(Percent of seed viability) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_alive_percent')"
                     [checked]="f.lab_test_alive_percent.value == '-'"> No data
            </div>
          </div>
          <input type="number"
                 min="0" OnlyNumber="true"
                 max="100"
                 class="form-control"
                 *ngIf="f.lab_test_alive_percent.value !== '-'"
                 formControlName="lab_test_alive_percent"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_alive_percent.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_alive_percent.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_alive_percent.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_alive_percent.errors.required">% ความมีชีวิตของเมล็ดเชื้อพันธุ์ (ไม่เกิน100%) is
              required
            </div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วันที่ทดสอบความมีชีวิต(Seed viability testing date) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_alive_date')"
                     [checked]="f.lab_test_alive_date.value == '-'"> No data
            </div>
          </div>
          <input type="date" class="form-control"
                 formControlName="lab_test_alive_date"
                 *ngIf="f.lab_test_alive_date.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_alive_date.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_alive_date.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_alive_date.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_alive_date.errors.required">วันที่ทดสอบความมีชวิต is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วิธีทดสอบความมีชีวิต(Method of seed viability test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_alive_method')"
                     [checked]="f.lab_test_alive_method.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 *ngIf="f.lab_test_alive_method.value !== '-'"
                 formControlName="lab_test_alive_method"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_alive_method.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_alive_method.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_alive_method.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_alive_method.errors.required">วิธีทดสอบความมีชีิวิต is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>จำนวนเมล็ดที่ใช้ทดสอบความมีชีวิต(Number of seed used for viability test) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_alive_amount')"
                     [checked]="f.lab_test_alive_amount.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 formControlName="lab_test_alive_amount"
                 *ngIf="f.lab_test_alive_amount.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_alive_amount.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_alive_amount.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_alive_amount.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_alive_amount.errors.required">จำนวนเมล็ดที่ใช้ทดสอบความมีชีวิต is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>ชื่อผู้ทดสอบความมีชีวิต(Seed viability tester name) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_test_alive_person')"
                     [checked]="f.lab_test_alive_person.value == '-'"> No data
            </div>
          </div>
          <input type="text" class="form-control"
                 formControlName="lab_test_alive_person"
                 *ngIf="f.lab_test_alive_person.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_test_alive_person.errors }"/>
          <input type="text"
                 *ngIf="f.lab_test_alive_person.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>
          <div *ngIf="submitted && f.lab_test_alive_person.errors" class="invalid-feedback">
            <div *ngIf="f.lab_test_alive_person.errors.required">ชื่อผู้ทดสอบความมีชีวิต is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>การพักตัวของเมล็ดเชื้อพันธุ์(Seed dormancy) <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_seed_rest')"
                     [checked]="f.lab_seed_rest.value == '-'"> No data
            </div>
          </div>
          <div class="form-check pl-0" [ngClass]="{ 'is-invalid': true }">
            <label class="radio-inline"><input type="radio"
                                               formControlName="lab_seed_rest"
                                               *ngIf="f.lab_seed_rest.value !== '-'"
                                               value="มี"
                                               [ngClass]="{ 'is-invalid': submitted && f.lab_seed_rest.errors }"
                                               class="mr-2">
                                         <input type="radio"
                                               *ngIf="f.lab_seed_rest.value === '-'"
                                               value="-"
                                               disabled
                                               class="mr-2">      
                                               มี</label>

            <label class="radio-inline"><input type="radio"
                                               *ngIf="f.lab_seed_rest.value !== '-'"
                                               value="ไม่มี"
                                               formControlName="lab_seed_rest"
                                               [ngClass]="{ 'is-invalid': submitted && f.lab_seed_rest.errors }"
                                               class="ml-2 mr-2">
                                        <input type="radio"
                                               *ngIf="f.lab_seed_rest.value === '-'"
                                               value="-"
                                               disabled
                                               class="ml-2 mr-2">
                                               ไม่มี</label>
          </div>
          <div *ngIf="submitted && f.lab_seed_rest.errors" class="invalid-feedback">
            <div *ngIf="f.lab_seed_rest.errors.required">การพักตัวของเมล็ดเชื้อพันธุ์ is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วิธีแก้การพักตัวของเมล็ดเชื้อพันธุ์(Method of dormancy breaking) <span class="text-danger">*</span></label>
            </div>
            <!-- <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_seed_rest_fix_method')"
                    [checked]="f.lab_seed_rest_fix_method.value == '-'"> No data
            </div> -->
          </div>

          <input type="text" class="form-control"
                 formControlName="lab_seed_rest_fix_method"
                 *ngIf="f.lab_seed_rest_fix_method.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_seed_rest_fix_method.errors }"/>
          <input type="text"
                 *ngIf="f.lab_seed_rest_fix_method.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>                 
          <div *ngIf="submitted && f.lab_seed_rest_fix_method.errors" class="invalid-feedback">
            <div *ngIf="f.lab_seed_rest_fix_method.errors.required">วิธีแก้การพักตัวของเมล็ดเชื้อพันธุ์ is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-9">
              <label>วันที่แก้การพักตัวของเมล็ดเชื้อพันธุ์(Dormancy breaking date) <span class="text-danger">*</span></label>
            </div>
            <!-- <div class="col-md-3">
              <input type="checkbox" (change)="onChangeCheckbox($event, 'lab_seed_rest_fix_date')"
                    [checked]="f.lab_seed_rest_fix_date.value == '-'"> No data
            </div> -->
          </div>
          <input type="date" class="form-control"
                 formControlName="lab_seed_rest_fix_date"
                 *ngIf="f.lab_seed_rest_fix_date.value !== '-'"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_seed_rest_fix_date.errors }"/>
          <input type="text"
                 *ngIf="f.lab_seed_rest_fix_date.value === '-'"
                 value="-"
                 disabled
                 class="form-control"/>                 
          <div *ngIf="submitted && f.lab_seed_rest_fix_date.errors" class="invalid-feedback">
            <div *ngIf="f.lab_seed_rest_fix_date.errors.required">วันที่แก้การพักตัวของเมล็ดเชื้อพันธุ์ is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>น้ำหนักเมล็ดเชื้อพันธุ์ของฝ่ายปฏิบัติการ (กรัม)(Total seed weight from Lab) </label>
          <input type="number" min="0" OnlyNumber="true" class="form-control"
                 formControlName="lab_seed_amount"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_seed_amount.errors }"/>
          <div *ngIf="submitted && f.lab_seed_amount.errors" class="invalid-feedback">
            <div *ngIf="f.lab_seed_amount.errors.required">ปริมาณเมล็ดเชื้อพันธุ์ของฝ่ายปฏิบัติการ (กรัม) is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>น้ำหนัก 10 เมล็ด (กรัม)(10-seed weight)</label>
          <input type="number" min="0" OnlyNumber="true" class="form-control"
                 formControlName="lab_10seed_weight"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_10seed_weight.errors }"/>
          <div *ngIf="submitted && f.lab_10seed_weight.errors" class="invalid-feedback">
            <div *ngIf="f.lab_10seed_weight.errors.required">น้ำหนัก 10 เมล็ด (กรัม) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>จำนวนเมล็ดโดยประมาณ (เมล็ด)* (Estimated number of seed)</label>
          <input type="number" min="0" OnlyNumber="true" class="form-control"
                 formControlName="lab_seed_est_amount"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_seed_est_amount.errors }"/>
          <div *ngIf="submitted && f.lab_seed_est_amount.errors" class="invalid-feedback">
            <div *ngIf="f.lab_seed_est_amount.errors.required">จำนวนเมล็ดโดยประมาณ (เมล็ด) is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ลักษณะวิสัยพืช (Plant habit)</label>
          <select formControlName="lab_plaint_character" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.lab_plaint_character.errors }">
            <option value="Herb">Herb</option>
            <option value="Tree">Tree</option>
            <option value="Shrub">Shrub</option>
            <option value="Climber">Climber</option>
            <option value="Grass">Grass</option>
            <option value="Other">Other</option>
          </select>

          <div *ngIf="submitted && f.lab_plaint_character.errors" class="invalid-feedback">
            <div *ngIf="f.lab_plaint_character.errors.required">ลักษณะวิสัยพืช is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>ชื่อผู้ตรวจสอบผลปฏิบัติการ(Lab result monitoring person) <span class="text-danger">*</span></label>
          <input type="text" class="form-control"
                 formControlName="lab_admin_name"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_admin_name.errors }"/>
          <div *ngIf="submitted && f.lab_admin_name.errors" class="invalid-feedback">
            <div *ngIf="f.lab_admin_name.errors.required">ชื่อผู้ตรวจสอบผลปฏิบัติการ is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label>หมายเหตุจากฝ่ายปฏิบัติการ(Remarks from Laboratory unit) </label>
          <input type="text" class="form-control"
                 formControlName="lab_remark"
                 [ngClass]="{ 'is-invalid': submitted && f.lab_remark.errors }"/>
          <div *ngIf="submitted && f.lab_remark.errors" class="invalid-feedback">
            <div *ngIf="f.lab_remark.errors.required">หมายเหตุจากฝ่ายปฏิบัติการ is required</div>
          </div>
        </div>
      </div>
      <div class="footer-sticky-bottom">
        <div class="text-left">
          <button class="btn btn-primary mr-1" type="submit" *ngIf="!disabled">Save</button>
          <button class="btn btn-secondary mr-1" type="button" (click)="onCancel()">Cancel</button>
          <app-ngbd-popover btnText="Submit to Module 9 (WH)"
                            btnClass="btn btn-primary"
                            (onConfirm)="onSubmitPlants()"
                            *ngIf="!disabled"
                            placement="left"></app-ngbd-popover>

        </div>
      </div>
    </form>
  </div>
</div>


<ngx-loading [show]="loading">
</ngx-loading>

