<div class="d-flex justify-content-end" *ngIf="checkRole(1)">
  <button class="btn btn-primary btn-sm" type="button" (click)="onCreate(createContent)">
    <i class="mdi mdi-link"></i> Create Passport
  </button>
</div>
<!-- 
<div class="d-flex">
  <button class="btn btn-info btn-sm" type="button" (click)="onGetPassportListing('draft')">
    <i class="mdi mdi-link"></i> Active
  </button>

  <button class="btn btn-success btn-sm ml-2" type="button" (click)="onGetPassportListing('completed')">
    <i class="mdi mdi-link"></i> Completed
  </button>
</div> -->

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle >
      <div (click)="onGetPassportListing('draft')"><i class="mdi mdi-link"></i> Active</div>
    </ng-template>
<ng-template ngbTabContent>
<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [sortBy]="'passport_no'"
            [substituteRows]="false">
  <data-table-title title="Passport List" [controls]="true">
  </data-table-title>

  <data-table-column property="passport_no" header="Pass No" sortable="true" resizable="true">
  </data-table-column>


  <data-table-column property="totalVols" header="Total Vols." sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="pendingPlant" header="Total Plant" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="reg_seed_sent_no" header="Reg. Sent no" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      <!-- {{item.pendingPlant ? 'Draft' : 'Complete'}} -->
      {{ item.pendingPlant || item.isNewPassport ? 'Draft' : 'Complete'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Details
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="!item.totalVols">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>
</ng-template>
</ngb-tab>

<ngb-tab (click)="onGetPassportListing('completed')">
<ng-template ngbTabTitle>
  <div (click)="onGetPassportListing('completed')"><i class="mdi mdi-link"></i> Completed</div>
</ng-template>
<ng-template ngbTabContent>
    <data-table [items]="items"
        [itemCount]="count"
        (reload)="reloadData($event)"
        [limit]="50"
        [sortBy]="'passport_no'"
        [substituteRows]="false">

        <data-table-title title="Passport List" [controls]="true">
        </data-table-title>
      
        <data-table-column property="passport_no" header="Pass No" sortable="true" resizable="true">
        </data-table-column>
      
      
        <data-table-column property="totalVols" header="Total Vols." sortable="true" resizable="true">
        </data-table-column>
      
        <data-table-column property="completedPlantsInM3" header="Total Plant" sortable="true" resizable="true">
        </data-table-column>
      
        <data-table-column property="reg_seed_sent_no" header="Reg. Sent no" sortable="true" resizable="true">
        </data-table-column>
      
        <data-table-column header="Created By" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
          </ng-template>
        </data-table-column>
      
        <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
          </ng-template>
        </data-table-column>
      
        <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
          </ng-template>
        </data-table-column>
      
      
        <data-table-column header="Status" sortable="true" resizable="true">
          <ng-template #cellTemplate let-item="item">
            <!-- {{item.pendingPlant ? 'Draft' : 'Complete'}} -->
            {{ item.pendingPlant || item.isNewPassport ? 'Draft' : 'Complete'}}
          </ng-template>
        </data-table-column>
      
        <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
          <ng-template #cellTemplate let-item="item">
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
                <i class="mdi mdi-pencil"></i> Details
              </button>
      
              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                      *ngIf="!item.totalVols">
                <i class="mdi mdi-delete"></i> Delete
              </button>
            </div>
          </ng-template>
        </data-table-column>
      
  </data-table>
  </ng-template>
</ngb-tab>
        
<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Passport</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this passport?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Passport</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerPassportForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ลงทะเบียน/Registration Date <span class="text-danger">*</span></label>
          <input type="date" formControlName="reg_date" class="form-control datepicker"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_date.errors }"/>
          <div *ngIf="submitted && f.reg_date.errors" class="invalid-feedback">
            <div *ngIf="f.reg_date.errors.required">ันที่ลงทะเบียน/Registration Date is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่รับเมล็ดเชื้อพันธุ์/Registration Seed Receive <span class="text-danger">*</span></label>
          <input type="date" formControlName="reg_seed_receive" class="form-control datepicker"
                 [ngClass]="{ 'is-invalid': submitted && f.reg_seed_receive.errors }"/>
          <div *ngIf="submitted && f.reg_seed_receive.errors" class="invalid-feedback">
            <div *ngIf="f.reg_seed_receive.errors.required">วันที่รับเมล็ดเชื้อพันธุ์/Registration Seed Receive is
              required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>เลขที่หนังสือนำส่งเมล็ดเชื้อพันธุ์/Registration Seed Sent No.
          </label>
          <input type="text" formControlName="reg_seed_sent_no" class="form-control"/>
        </div>
      </div>
      <input type="file" class="m-1 mt-0 btn-outline" (change)="onFileUpload($event)"/>
    </div>

    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-primary mr-1" type="submit">Create</button>
      <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
    </div>
  </form>

</ng-template>
</ngb-tabset>

<ngx-loading [show]="loading">
</ngx-loading>
