<div class="card m-0">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-8">
        <label class="d-block">ประเภทแบบฟอร์ม (Plant form type)</label>
        <label class="radio-inline d-block">
          <input type="radio"
                 value="new_doa"
                 class="mr-2"
                 [(ngModel)]="search.reportType"
                 (change)="changeReportType()">พืชออก DOA ใหม่ (New DOA)</label>
        <label class="radio-inline d-block">
          <input type="radio"
                 value="Register 3"
                 class="mr-2"
                 [(ngModel)]="search.reportType"
                 (change)="changeReportType()">พืชความงอกต่ำหรือปริมาณไม่มากพอและพืชฟื้นฟูเดิม (All Plant alert to M4)</label>
        <label class="radio-inline d-block">
          <input type="radio"
                  value="d_only"
                  class="mr-2"
                  [(ngModel)]="search.reportType"
                  (change)="changeReportType()">พืชฝากเก็บ (D Only)</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        <label>Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.startDt" />
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label>End Date</label>
        <input type="date" class="form-control" [(ngModel)]="search.endDt" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 col-sm-12 col-md-offset-4">
        <button class="btn btn-primary mr-2" (click)="filter()">Search</button>
        <button class="btn btn-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="search.reportType ==='new_doa'">
  <data-table
    [items]="plants"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="15"
    [substituteRows]="false"
  >
    <data-table-column
      property="category_name"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="count"
      header="จำนวนตัวอย่างพันธุ์ใหม่้"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="gs_str"
      header="พืชที่ออก DOA ให้"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<div *ngIf="search.formType ==='Register 3'">
  <data-table
    [items]="plants"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="15"
    [substituteRows]="false"
  >
    <data-table-column
      property="reg_gene_id"
      header="หมายเลขประจำพันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_category"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="plant_type"
      header="พันธุ์"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="volume_no"
      header="ชุดที่"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="department"
      header="หน่วยงาน"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<div *ngIf="search.reportType ==='d_only'">
  <data-table
    [items]="plants"
    [itemCount]="count"
    (reload)="reloadData($event)"
    [limit]="15"
    [substituteRows]="false"
  >
    <data-table-column
      property="category_name"
      header="ชนิดพืช"
      sortable="true"
      resizable="true"
    ></data-table-column>
    <data-table-column
      property="count"
      header="จำนวนตัวอย่างพันธุ์ใหม่้"
      sortable="true"
      resizable="true"
    ></data-table-column>
  </data-table>
</div>
<ngx-loading [show]="loading"></ngx-loading>
