<div class="d-flex justify-content-end" *ngIf="checkRole(1)">
  <button class="btn btn-primary btn-sm" type="button" (click)="onCreate(createContent)">
    <i class="mdi mdi-link"></i> Create M No
  </button>
</div>

<div class="d-flex justify-content-end . mt-2 mb-2">
  <input type="text" class="form-control col-md-3 col-sm-12 border"
         (keyup)="onSearch($event)"
         placeholder="Enter Search text here"/>
</div>

<data-table [items]="items"
            [itemCount]="count"
            (reload)="reloadData($event)"
            [limit]="50"
            [substituteRows]="false">
  <data-table-title title="M4: Multiplication and Regeneration List" [controls]="true">
  </data-table-title>

  <data-table-column property="m_no" header="M No." sortable="true" resizable="true">
  </data-table-column>

  <data-table-column property="place" header="สถานที่" sortable="true" resizable="true">
  </data-table-column>

  <data-table-column header="Created By" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item?.createdBy?.fullName ? item?.createdBy?.fullName : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="createdAt" header="Created Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.createdAt ? momentObj(item.createdAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>

  <data-table-column property="updatedAt" header="Updated Date" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{item.updatedAt ? momentObj(item.updatedAt).format('MMM Do YYYY') : 'N/A'}}
    </ng-template>
  </data-table-column>


  <data-table-column header="Status" sortable="true" resizable="true">
    <ng-template #cellTemplate let-item="item">
      {{!item.drafts && item.totals ? 'Complete': 'Draft'}}
    </ng-template>
  </data-table-column>

  <data-table-column header="Action" sortable="true" resizable="true" [width]="160">
    <ng-template #cellTemplate let-item="item">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary mr-1 btn-sm" type="button" (click)="onDetails(item)" *ngIf="checkRole(2)">
          <i class="mdi mdi-pencil"></i> Details
        </button>

        <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item, deleteContent)"
                *ngIf="false">
          <i class="mdi mdi-delete"></i> Delete
        </button>
      </div>
    </ng-template>
  </data-table-column>

</data-table>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Passport</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this passport?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger mr-2" type="button">
      <i class="mdi mdi-delete"></i> Delete
    </button>
    <button type="button" class="btn btn-light btn-outline" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #createContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Multiplication and Regeneration List</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="registerPassportForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>หนังสือส่งพืชฟื้นฟู
          </label>
          <input type="text" formControlName="revival_plant" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.revival_plant.errors }"/>
          <div *ngIf="submitted && f.revival_plant.errors" class="invalid-feedback">
            <div *ngIf="f.revival_plant.errors.required">หนังสือส่งพืชฟื้นฟู No. is required
            </div>
          </div>
        </div>
      </div>
      <input type="file" class="m-1 mt-0 btn-outline mb-3" (change)="onFileUpload($event)"/>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>วันที่ส่งฟื้นฟู <span class="text-danger">*</span></label>
          <input type="date" formControlName="date_of_submission" class="form-control datepicker"
                 [ngClass]="{ 'is-invalid': submitted && f.date_of_submission.errors }"/>
          <div *ngIf="submitted && f.date_of_submission.errors" class="invalid-feedback">
            <div *ngIf="f.date_of_submission.errors.required">วันที่ส่งฟื้นฟู is required</div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>สถานที่ <span class="text-danger">*</span></label>
          <select formControlName="place" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.place.errors }">
            <option value="ภายนอก">ภายนอก</option>
            <option value="ภายใน">ภายใน</option>
          </select>
          <div *ngIf="submitted && f.place.errors" class="invalid-feedback">
            <div *ngIf="f.place.errors.required">สถานที่ is required
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary mr-1" type="submit">Create</button>
        <button class="btn btn-secondary" type="reset" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>

<ngx-loading [show]="loading">
</ngx-loading>
